<form [formGroup]="userForm">
    <div class="wrap-inputs">
        <div class="group">
            <label for="name">Name</label>
            <app-input
                autocomplete="name"
                tabindex="1"
                type="text"
                placeholder="Name"
                id="name" name="name"
                formControlName="name" 
                [hasErrorClass]="
                    !!userForm.get('name')?.invalid && !!userForm.get('name')?.dirty
                "/>
        </div>

        <div class="group">
            <label for="phone">Phone</label>
            <app-input
                autocomplete="tel"
                tabindex="2"
                type="text"
                placeholder="xxx-xxx-xxxx"
                id="phone" name="phone"
                formControlName="phone" 
                [hasErrorClass]="
                    !!userForm.get('phone')?.invalid && !!userForm.get('phone')?.dirty
                "/>
        </div>

        <div class="group">
            <label for="email">Email</label>
            <app-input
                autocomplete="email"
                tabindex="3"
                type="email"
                placeholder="example@pulse.com"
                id="email" name="email"
                formControlName="email" 
                [hasErrorClass]="
                    !!userForm.get('email')?.invalid && !!userForm.get('email')?.dirty
                "/>
        </div>
        
        <!-- <div class="group">
            <app-input
                tabindex="4"
                type="text"
                placeholder="I'm not a robot"
                id="robot" name="robot" />
        </div> -->
    
    </div>

    <app-primary-button
        (handleClick)="onSubmitButtonClick()"
        [disabled]="userForm.invalid">
        Submit
    </app-primary-button>
    
</form>





