<div class="calendar-header__back-wrap">
    <button
        class="calendar-header__back"
        (click)="onBackClick()">
        <svg-icon
            src="assets/svg/arrow-left.svg"
            class="calendar-header__back-icon" />
        <span>Time Period</span>
    </button>
</div>

<div class="calendar-header__ranges">
    <mat-button-toggle-group
        name="favoriteColor"
        aria-label="Favorite Color"
        class="calendar-header__ranges-toggle"
        [hideSingleSelectionIndicator]="true"
        (change)="onRangeChange($event)">
        @for(rangeItem of ranges; track range) {
        <mat-button-toggle
            mat-button
            [value]="rangeItem.value"
            [checked]="rangeItem.value === range">
            {{ rangeItem.label }}
        </mat-button-toggle>
        }
    </mat-button-toggle-group>
</div>
