.marker-button {

    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px #0000004D;
    cursor: pointer;
}

.map-tooltip {
    width: 323px;
    min-height: 195px;
    border-radius: 10px;
    background-color: var(--white-color);

    &.map-tooltip--loading {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--light-grey-color);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.12);
    }
}
