<mgl-marker [lngLat]="[marker.lng, marker.lat]">
    @if (showTooltipOnHover) {
    <app-map-popover>
        <button
            buttonContent
            class="marker-button"
            [ngStyle]="{ opacity }"
            (mouseenter)="onMarkerHover()"
            (click)="onMarkerClick()"
            aria-label="Show topic details">
            <app-marker-icon
                [icon]="marker.icon"
                [isAnimated]="isAnimated"
                [animationDelay]="marker.delay"
                (imageLoaded)="onImageLoaded()" />
        </button>
        <a
            tooltipContent
            routerLink="/topic/{{ marker.topicId }}">
            <div
                class="map-tooltip"
                [class.map-tooltip--loading]="!tooltipData">
                @if (tooltipData) {
                <app-top-pulse-card
                    [pulse]="tooltipData"
                    [interactive]="false" />
                } @else {
                <app-spinner />
                }
            </div>
        </a>
    </app-map-popover>
    <!-- <button
        class="marker-button"
        [ngStyle]="{ opacity }"
        (mouseenter)="onMarkerHover()"
        (click)="onMarkerClick()"
        aria-label="Show topic details">
        <app-marker-icon
            [icon]="marker.icon"
            [isAnimated]="isAnimated"
            [animationDelay]="marker.delay"
            (imageLoaded)="onImageLoaded()" />
    </button> -->
    } @else {
    <button
        class="marker-button"
        (click)="onMarkerClick()"
        aria-label="Show topic details">
        <app-marker-icon
            [icon]="marker.icon"
            [isAnimated]="isAnimated"
            [animationDelay]="marker.delay" />
    </button>
    }
</mgl-marker>

<!-- TOOLTIP -->
<ng-template #tooltip>
    <a routerLink="/topic/{{ marker.topicId }}">
        <div
            class="map-tooltip"
            [class.map-tooltip--loading]="!tooltipData">
            @if (tooltipData) {
            <app-top-pulse-card
                [pulse]="tooltipData"
                [interactive]="false" />
            } @else {
            <app-spinner />
            }
        </div>
    </a>
</ng-template>
