@use "../../../../../../../styles/mixins" as *;

.hero {
    position: relative;
    width: 100%;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/img/hero-bg.png");
    background-image: -webkit-image-set(
        "/assets/img/hero-bg.webp" type("image/webp"),
        "/assets/img/hero-bg.avif" type("image/avif"),
        "/assets/img/hero-bg.png" type("image/png")
    );
    background-image: image-set(
        "/assets/img/hero-bg.webp" type("image/webp"),
        "/assets/img/hero-bg.avif" type("image/avif"),
        "/assets/img/hero-bg.png" type("image/png")
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--stripe-color);
    overflow: hidden;

    @include media-lg {
        padding-top: var(--header-height);
    }
    @include media-sm {
        background-image: url("/assets/img/hero-bg-sm.png");
        background-image: -webkit-image-set(
            "/assets/img/hero-bg-sm.webp" type("image/webp"),
            "/assets/img/hero-bg-sm.avif" type("image/avif"),
            "/assets/img/hero-bg-sm.png" type("image/png")
        );
        background-image: image-set(
            "/assets/img/hero-bg-sm.webp" type("image/webp"),
            "/assets/img/hero-bg-sm.avif" type("image/avif"),
            "/assets/img/hero-bg-sm.png" type("image/png")
        );
    }
}
.hero__container {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: var(--header-height) 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    @include media-2xl {
        min-height: calc(100svh - var(--header-height));
        justify-content: center;
        flex-direction: column-reverse;
        row-gap: 24px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 60px;
    }
    @include media-2xs {
        row-gap: 16px;
        padding-bottom: 24px;
    }
    @include media-3xs {
        row-gap: 8px;
        padding-bottom: 8px;
    }
}
.hero__content {
    flex: 1;
    width: 100%;
    max-width: 450px;
    color: var(--white-color);
    text-align: center;
    @include media-lg {
        flex: 0;
        padding: 0 20px;
        max-width: 500px;
    }
}
.hero__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 720px;
    height: 720px;
    max-width: 720px;

    // @include media-4xl {
    //     flex: 1 0 540px;
    //     height: 540px;
    //     max-width: 540px;
    // }
    @include media-2xl {
        flex: 1;
        width: 100%;
        // max-width: 540px;
    }
    @include media-md {
        flex: 1 0 400px;
        height: 400px;
    }
    @include media-2xs {
        flex: 1 0 300px;
        height: 320px;
    }
    @include media-3xs {
        height: 300px;
    }

    &::ng-deep .map-container {
        height: 720px !important;

        // @include media-4xl {
        //     height: 540px !important;
        // }
        @include media-md {
            height: 400px !important;
        }
        @include media-2xs {
            height: 320px !important;
        }
        @include media-3xs {
            height: 300px !important;
        }
    }
}
.hero__title {
    @include title-32px;
    margin-bottom: 16px;

    @include media-sm {
        @include title-24px;
    }
    @include media-xs {
        @include title-20px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
.hero__description {
    @include text-16px;
    margin-bottom: 40px;

    @include media-lg {
        text-align: center;
    }
    @include media-sm {
        max-width: 300px;
        margin: 0 auto 40px;
    }
    @include media-xs {
        margin-bottom: 24px;
    }
    @include media-2xs {
        @include text-14px;
        margin-bottom: 16px;
    }
    @media screen and (max-height: 500px) {
        display: none;
    }
}
.hero__actions {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    @include media-lg {
        margin: 0 auto;
    }
    @include media-3xs {
        flex-direction: column;
        row-gap: 8px;
    }
}
.hero__button {
    width: 100%;
    max-width: 180px;
    
    @include media-xs {
        max-width: 100%;
    }
}
