<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1 class="hero__title">Real-Time Map of Public Support</h1>
            <p class="hero__description">
                Each icon shows the top-supported topic in that region. <i>Tap the globe</i> to explore and support what matters.
            </p>
            <div class="hero__actions">
                <app-primary-button
                    [fullWidth]="true"
                    [contrast]="true"
                    size="large"
                    [routerLink]="'/' + AppRoutes.Landing.TOPICS"
                    class="hero__button">
                    Browse topics
                </app-primary-button>
                <app-secondary-button
                    [routerLink]="'/' + AppRoutes.User.Topic.SUGGEST"
                    routerLinkActive="active"
                    [fullWidth]="true"
                    [fullHeight]="true"
                    [contrast]="true"
                    size="large"
                    class="hero__button">
                    Start a topic
                </app-secondary-button>
            </div>
        </div>
        <div class="hero__map" #mapWrapper>
            <app-map
                [isHideDebugger]="true"
                [zoom]="[zoom]"
                [minZoom]="0.45"
                projection="globe"
                [maxBounds]="undefined"
                [isToShowTooltip]="true"
                [isScrollZoomEnabled]="false"
                [isDoubleClickZoomEnabled]="false"
                [isMarkerAnimated]="true"
                [isLabelsHidden]="true"
                [isMapStatic]="true"
                [zoomResolutionMap]="zoomResolutionMap"
                [fog]="fog"
                [spinning]="true"
                (mapClick)="onMapClick()"
                (mapLoaded)="onMapLoaded($event)"/>
        </div>
    </div>
</section>
