@use "../../../../../styles/mixins" as *;

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section.section {
    padding-top: 75px;
    padding-bottom: 75px;

    @include media-lg {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &:first-child {
        padding-top: 150px;

        @include media-lg {
            padding-top: 80px;
        }
    }
}

.section.pulses-section:not(:has(.pulses)) {
    padding-top: 0;
    padding-bottom: 0;
}

.main_container {
    display: flex;
    flex-direction: column;
}