<app-landing-page-layout>

    <app-main-hero />

    <div class="page-container">
        <div class="main_container">
            @defer {
                <section class="section pulses-section">
                    <app-top-pulses />
                </section>
                <section class="section">
                    <app-about-section />
                </section>
                <section class="section">
                    <app-ad-banner #appAdBanner />
                </section>
            }
        </div>
    </div>
    
</app-landing-page-layout>
