:host {
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    overflow: hidden;
    padding: 5px;
    flex-shrink: 0;
}

.small-pulse-icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
