
<header class="desktop">

    <a
        class="logo"
        routerLink="/">
        <svg-icon src="assets/svg/logo.svg" />
    </a>

    <div class="right-side">
        <ul>
            <li>
                <a 
                    [routerLink]="'/' + AppRoutes.Landing.MAP"
                    routerLinkActive="active">
                    Map
                </a>
            </li>
            <li>
                <a 
                    [routerLink]="'/' + AppRoutes.Landing.PULSES"
                    routerLinkActive="active">
                    Topics
                </a>
            </li>
            <!-- <li>
                <a 
                    routerLink="/login"
                    routerLinkActive="active"
                    openComingSoonPopup>
                    Sign In
                </a>
            </li> -->
        </ul>

        <div class="buttons">

            <app-secondary-button
                [routerLink]="'/' + AppRoutes.User.Topic.HOW_IT_WORKS"
                routerLinkActive="active">
                Suggest topic
            </app-secondary-button>
    
            <app-primary-button
                openGetAppPopup>
                Download App
            </app-primary-button>
    
        </div>

    </div>

</header>

<!-- MOBILE DESIGN -->

<header class="mobile">
    <div class="mobile__top-bar">
        <a 
            class="logo"
            (click)="closeDropdown()"
            routerLink="/">
            <svg-icon src="assets/svg/logo-mobile.svg" ></svg-icon>
        </a>

        <app-burger-button 
            [isOpen]="isMobileDropdown" 
            (click)="toggleDropdown()" />
    
    </div>

    <div 
        class="mobile__dropdown"
        (click)="deligateCloseDropdown($event)"
        [class.active]="isMobileDropdown">
        <div 
            class="mobile__dropdown-container"
            [class.active]="isMobileDropdown">
            <div 
                class="right-side"
                [class.active]="isMobileDropdown">
                <div></div>

                <ul [class.scale]="!isMobileDropdown">
                    <li>
                        <a 
                            [routerLink]="'/' + AppRoutes.Landing.MAP"
                            routerLinkActive="active">
                            Map
                        </a>
                    </li>
                    <li>
                        <a 
                            [routerLink]="'/' + AppRoutes.Landing.PULSES"
                            routerLinkActive="active">
                            Pulses
                        </a>
                    </li>
                    <!-- <li>
                        <a 
                            routerLink="/login"
                            routerLinkActive="active"
                            openComingSoonPopup>
                            Sign In
                        </a>
                    </li> -->
                    <li>
                        <a 
                            [routerLink]="'/' + AppRoutes.Community.TERMS"
                            routerLinkActive="active">
                            Terms of Use
                        </a>
                    </li>
                    <li>
                        <a 
                            [routerLink]="'/'+AppRoutes.Community.PRIVACY"
                            routerLinkActive="active">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a 
                            [routerLink]="'/'+AppRoutes.Community.SUPPORT"
                            routerLinkActive="active">
                            Support
                        </a>
                    </li>
                </ul>
        
                <div>
                    <app-secondary-button
                        [class.scale]="!isMobileDropdown"
                        [routerLink]="'/' + AppRoutes.User.Topic.HOW_IT_WORKS"
                        (click)="toggleDropdown()"
                        routerLinkActive="active">
                        Suggest topic
                    </app-secondary-button>
                    <app-primary-button
                        [class.scale]="!isMobileDropdown"
                        (click)="toggleDropdown()"
                        openGetAppPopup>
                        Download App
                    </app-primary-button>
                </div>
        
            </div>

            @if (isToShowVersionOfApp) {
                <div class="version">
                    {{ version.major }}.{{ version.minor }}.{{ version.patch }}
                </div>
            }
        </div>

    </div>

</header>



