@use "../../../../styles/mixins" as *;

:host {
    display: block;
    padding: 30px 20px;
    height: var(--header-height);
}

:host-context(.header-contrast) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    header {
        .logo {
            svg {
                path {
                    &:nth-child(1),
                    &:nth-child(10) {
                        fill: var(--white-color);
                    }
                    &:nth-child(n + 2):nth-child(-n + 8) {
                        fill: var(--white-color);
                    }
                    &:nth-child(n + 11):nth-child(-n + 14) {
                        fill: var(--black-color);
                    }
                }
            }
        }
        ul {
            li {
                color: var(--white-color);
            }
        }

        &::ng-deep .secondary-button {
            border-color: var(--white-color);
            color: var(--white-color);

            &:hover {
                background-color: var(--white-color);
                color: var(--accent-color);
            }
        }

        &.mobile {
            border: 0;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    height: 40px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    gap: 40px;
}

.right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 40px;
    width: auto;
}

ul {
    display: flex;
    justify-content: space-evenly;

    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;

    @include media-lg {
        column-gap: 24px;
    }
    @include media-md {
        column-gap: 16px;
    }

    li {
        font-size: 16px;
        color: var(--accent-color);
        font-weight: 600;

        // &:last-child {
        //     color: var(--black-color);
        // }

        a {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 2px;
                width: 0%;
                background-color: var(--accent-color);
                transition: all 0.3s;

                bottom: -8px;
                text-align: right;
            }

            &.active:before {
                width: 100%;
            }
        }
    }
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons__download {
    min-width: 180px;
}

.mobile {
    display: none;
}

@media (max-width: 820px) {
    :host {
        width: 100%;
        height: 80px;
        padding: 0;
    }

    .desktop {
        display: none;
    }

    .mobile {
        position: relative;
        padding: 0;
        height: 80px;
        display: flex;
        z-index: 202;

        border-bottom: 1px solid rgba(131, 134, 165, 0.2);
        // box-shadow: 0px 1px 0px 0px rgba(131, 134, 165, 0.2);

        &__top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            width: 100%;
            padding: 0 20px;
        }

        &__dropdown {
            position: absolute;
            z-index: 200;
            width: calc(100%);
            height: 100dvh;
            top: 0;
            overflow: hidden;

            //close
            user-select: none;
            pointer-events: none;

            //open
            &.active {
                user-select: all;
                pointer-events: all;
            }

            &-container {
                position: relative;
                width: 100%;
                height: 100%;
                // transform: translateY(100vh);
                // background: var(--white-color);
                // backdrop-filter: blur(0px);
                opacity: 0;

                transition: all 0.3s;

                // opacity: .5;

                &.active {
                    // transform: translateY(0vh);
                    // opacity: 1;
                    // backdrop-filter: blur(4px);
                    opacity: 1;
                }

                .right-side {
                    transform-origin: bottom;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    // gap: 24px;
                    height: 100%;
                    padding: 24px 20px;

                    transition: all 0.3s linear;
                    transition-delay: 0.2s;

                    background-color: var(--white-color);

                    scale: 1.1;
                    // transform-origin: top;
                    opacity: 0;
                    // transform: translateY(-50vh);

                    &.active {
                        opacity: 1;
                        scale: 1;
                        // transform: translateY(0px);
                    }

                    .right-side__top {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        height: 32px;
                        width: 100%;
                    }

                    ul {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        min-width: 220px;
                        width: 100%;
                        gap: 40px;

                        transition: all 0.3s;

                        user-select: none;

                        li {
                            font-size: 18px;
                            color: var(--black-color);
                            font-weight: 400;

                            &:not(:nth-child(5) ~ li) {
                                color: var(--accent-color);
                                font-weight: 600;
                            }

                            a {
                                position: relative;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    display: block;
                                    height: 2px;
                                    width: 0%;
                                    background-color: var(--accent-color);
                                    transition: all 0.3s;

                                    bottom: -8px;
                                    text-align: right;
                                }

                                &.active:before {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    app-primary-button {
                        transition: all 0.3s;
                    }

                    app-primary-button::ng-deep button,
                    app-secondary-button::ng-deep button {
                        height: 48px;
                        width: 100%;
                        min-width: calc(100dvw - 80px);
                    }

                    app-secondary-button {
                        margin-bottom: 15px;
                        display: block;

                        &::ng-deep button {
                            color: var(--accent-color);
                        }
                    }
                }

                .version {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-weight: 400;
                    opacity: 0.4;
                    font-size: 14px;
                }
            }
        }
    }
}

.scale {
    scale: 0;
}
