<div class="leaderboard-header">
    <div>
        <h2 class="leaderboard__title">Global Top 10</h2>
        <app-datepicker
            [text]="(datepickerButtonText$ | async) || ''"
            [date]="selectedDate"
            [timeframe]="timeframe"
            (dateChange)="onDateSelected($event)"
            (timeframeChange)="onTimeframeChange($event)"
            (confirm)="onConfirm()" />
    </div>
    <div class="leaderboard-header__actions">
        <app-link-button class="leaderboard-header__action">
            <span class="visualy-hidden">More information</span>
            <svg-icon
                src="assets/svg/info.svg"
                class="leaderboard-header__action-icon" />
        </app-link-button>
    </div>
</div>

@if (isLoading) {
    <app-spinner class="leaderboard__spinner"></app-spinner>
}

<ul class="leaderboard__list">
    @for(topicData of topics$ | async; track topicData.topic.id) {
    <li *ngIf="!isLoading">
        <app-large-pulse
            [pulse]="topicData.topic"
            class="leaderboard__item"
            [showArrow]="false">
            <app-large-pulse-icon
                [src]="topicData.topic.icon"
                size="md"
                [label]="topicData.topic.title"
                ngProjectAs="card-icon" />
            <div ngProjectAs="card-heading">
                <app-large-pulse-title class="card-heading-title">
                    {{ topicData.topic.title }}
                </app-large-pulse-title>
                <div class="card-heading-meta">
                    <app-large-pulse-meta
                        [text]="'Pulses: ' + (topicData.votes | formatNumber)"
                        icon="assets/svg/pulse.svg"
                        label="number of pulses" />
                    <app-large-pulse-meta
                        [text]="'Last pulse: ' + (topicData.lastVoteTime | date : 'MMMM d hh.mm a')"
                        label="last pulse date" />
                </div>
            </div>
        </app-large-pulse>
    </li>
    }
</ul>
