@use "../../../../../styles/mixins" as *;

.leaderboard-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.leaderboard__title {
    @include title-32px;
}

.leaderboard-action {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    @include media-sm {
        right: 4px;
    }

    &::ng-deep {
        .mat-mdc-button {
            min-width: 0;
            --mat-text-button-horizontal-padding: 8px;
            --mdc-text-button-container-height: 32px;
        }
    }
}
.leaderboard-header__action--search {
    display: block;
    transform: scaleX(-1);
}

.leaderboard-hint {
    position: relative;
    width: 100%;
    padding: 12px 64px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: var(--light-grey-color);

    @include media-sm {
        row-gap: 6px;
        padding: 12px 40px;
    }

    &.leaderboard-hint--active {
        background-color: #ffe27d;
    }
}

.leaderboard-hint__text {
    text-align: center;

    @include media-sm {
        @include text-14px;
    }
}

.leaderboard-hint__progress {
    width: 100%;
    height: 12px;
    margin: 0 auto;
}

.leaderboard__calendar {
    --mat-form-field-container-vertical-padding: 4px;
    --mat-form-field-container-height: 24px;

    color: var(--dark-grey-color);
    &::ng-deep {
        .mdc-notched-outline {
            align-items: center;
            opacity: 0;
        }
        .mat-mdc-icon-button {
            display: none;
        }
        .mat-mdc-form-field-infix {
            width: auto;
        }
        .mat-mdc-text-field-wrapper {
            padding-left: 0;
        }
    }
}

.leaderboard__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 16px;
    counter-reset: rate;
}

.leaderboard__calendar-button {
    &::ng-deep {
        .mdc-button__label {
            display: flex;
            align-items: center;
            column-gap: 12px;
        }
    }
}

.leaderboard__calendar-icon {
    width: 14px;
    height: 14px;
    transform: rotate(-90deg);

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: var(--accent-color);
        }
    }
}

.leaderboard__spinner {
    height: auto;
    padding-top: 16px;
}
