<div class="leaderboard-header">
    <div>
        <h2 class="leaderboard__title">Global Top 10</h2>
        <app-datepicker
            [text]="(datepickerButtonText$ | async) || ''"
            [date]="tempDate$ | async"
            [timeframe]="(tempTimeframe$ | async)!"
            (dateChange)="onDateChange($event)"
            (timeframeChange)="onTimeframeChange($event)"
            (confirm)="onConfirm()" />
    </div>
</div>

@if (isSpinnerVisible$ | async) {
    <app-spinner class="leaderboard__spinner"></app-spinner>
}

@if ((isContentVisible$ | async)) {
    <app-leaderboard-hint
        [selectedDate]="date$ | async"
        [selectedTimeframe]="(timeframe$ | async)!"
        [timeframeStatus]="(timeframeStatus$ | async)!"
        (counterStopped)="updateTimeframeStatus()" />
    <ul class="leaderboard__list">
        @for (topicData of topics$ | async; track topicData.topic.id) {
            <li>
                <app-leaderboard-list-item
                    [topic]="topicData.topic"
                    [votes]="topicData.votes"
                    [users]="topicData.uniqueUsers"
                    [lastPulse]="(isActiveTimeframe$ | async) ? topicData.lastVoteTime : undefined"
                    [isActiveTimeframe]="(isActiveTimeframe$ | async) || false" />
            </li>
        }
    </ul>
}

@if (isEmpty$ | async) {
    <div class="info-message">No topics found for the selected time range.</div>
}

@if (isErrorVisible$ | async) {
    <div class="info-message">Error loading data. Please try again.</div>
}
