@use "../../../../../styles/mixins" as *;

.leaderboard-header {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;
}
.leaderboard-header_top {
    display: flex;
    column-gap: 4px;
}

.leaderboard-header__location-filter {
    flex: 1;
}

.leaderboard-header__share-button {
    flex-shrink: 0;
}

.leaderboard-header__action--search {
    display: block;
    transform: scaleX(-1);
}

.leaderboard__calendar {
    --mat-form-field-container-vertical-padding: 4px;
    --mat-form-field-container-height: 24px;

    color: var(--dark-grey-color);
    &::ng-deep {
        .mdc-notched-outline {
            align-items: center;
            opacity: 0;
        }
        .mat-mdc-icon-button {
            display: none;
        }
        .mat-mdc-form-field-infix {
            width: auto;
        }
        .mat-mdc-text-field-wrapper {
            padding-left: 0;
        }
    }
}

.leaderboard__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 16px;
    counter-reset: rate-counter;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        column-gap: 8px;
        counter-increment: rate-counter;
        &::before {
            content: counter(rate-counter);
            font-weight: bold;
            color: #555;
            min-width: 20px;
        }
    }
}

.leaderboard__calendar-button {
    &::ng-deep {
        .mdc-button__label {
            display: flex;
            align-items: center;
            column-gap: 12px;
        }
    }
}

.leaderboard__calendar-icon {
    width: 14px;
    height: 14px;
    transform: rotate(-90deg);

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: var(--accent-color);
        }
    }
}

.leaderboard__spinner {
    height: auto;
    padding-top: 16px;
}

.info-message {
    text-align: center;
    color: var(--dark-grey-color);
    margin: 16px 0;
}

.leaderboard-header__options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

    @include media-xs {
        align-items: center;
    }
}

.leaderboard-header__dates {
    flex: 1;
}

.leaderboard-header__quick-dates {
    @include media-xs {
        display: none;
    }
}

.leaderboard-header__quick-dates-select {
    display: none;

    @include media-xs {
        display: block;
    }
}
