@use '../../../../../styles/mixins' as *;

:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    overflow: hidden;
    min-width: 91px;
    height: 100px;
    width: 91px;
    // animation: .5s linear 1s shift forwards;
    transition: width .5s ease;
}


.logo {
    position: relative;
    height: 100px;
    min-width: 91px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#hexagon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.icons-wrap {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 65.55px;
    height: 59px;

    overflow: hidden;
    z-index: 1;

}

#icons {

    width: 65.55px;
    height: 59px;
    display: flex;
    transition: transform 1s ease;

}

.icon {
    height: 100%;
    width: 100%;
    min-width: 100%;
}

#block1 {
    order: 1;
}

#block2 {
    order: 2;
}

.mobile {
    display: none;
}

@media screen and (max-width: 650px) {

    .mobile {
        display: flex !important;
    }

    .desktop {
        display: none !important;
    }

    :host {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        gap: 13.4px;
        height: 80px;
        min-width: 80px;
        width: 80px;
        // width: 248px;
        // animation: .5s linear 1s shift forwards;
        transition: width .5s ease;
    }
 
    // :host {
    //     display: flex;
    //     align-items: center;
    //     flex-direction: column;
    //     gap: 32px;

    //     overflow: unset;
    //     min-width: auto;
    //     height: auto;
    //     width: auto;
    // }

    // .mobile-wrap {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     gap: 13.4px;
    //     height: 80px;
    //     min-width: 80px;
    //     width: 248px;
    //     // animation: .5s linear 1s shift forwards;
    //     transition: width .5s ease;
    // }
    
    
    .logo {
        height: 80px;
        min-width: 72.6px;

        display: flex;
        align-items: center;
        justify-content: center;
    
        overflow: hidden;
    }
    
    #hexagon {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .icons-wrap {
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        width: 58.62px;
        height: 47.2px;
    
        overflow: hidden;
        z-index: 1;
    
    }

    #icons {

        width: 58.62px;
        height: 47.2px;
        display: flex;
        transition: transform 1s ease;
    
    }

    #name {
        z-index: 0;
    }

    p {
        @include text-16px;
        color: rgba(131, 134, 165, 1);
        text-align: center;
        max-width: 228px;
    }
}

.icons-wrap::ng-deep path  {
    transform-origin: center;
    transition: transform .3s;

    &:nth-child(1) {
        transform-origin: center;
        animation: music-anim 1s linear infinite;
    }

    &:nth-child(2) {
        animation: music-anim3 0.7s 0.1s linear infinite;
    }

    &:nth-child(3) {
        animation: music-anim3 0.8s 0.2s linear infinite;
    }

    &:nth-child(4) {
        animation: music-anim3 0.65s 0.5s linear infinite;
    }

    &:nth-child(5) {
        animation: music-anim2 1.2s 0.2s linear infinite;
    }
}

@keyframes music-anim {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(3);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes music-anim2 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(3);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes music-anim3 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(1);
    }
}