@use "../../../../../../../styles/mixins" as *;

.hero {
    position: relative;
    width: 100%;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/img/hero-bg.png");
    background-image: -webkit-image-set(
        "/assets/img/hero-bg.webp" type("image/webp"),
        "/assets/img/hero-bg.avif" type("image/avif"),
        "/assets/img/hero-bg.png" type("image/png")
    );
    background-image: image-set(
        "/assets/img/hero-bg.webp" type("image/webp"),
        "/assets/img/hero-bg.avif" type("image/avif"),
        "/assets/img/hero-bg.png" type("image/png")
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--stripe-color);
    overflow: hidden;

    @include media-lg {
        padding-top: var(--header-height);
    }
    @include media-sm {
        background-image: url("/assets/img/hero-bg-sm.png");
        background-image: -webkit-image-set(
            "/assets/img/hero-bg-sm.webp" type("image/webp"),
            "/assets/img/hero-bg-sm.avif" type("image/avif"),
            "/assets/img/hero-bg-sm.png" type("image/png")
        );
        background-image: image-set(
            "/assets/img/hero-bg-sm.webp" type("image/webp"),
            "/assets/img/hero-bg-sm.avif" type("image/avif"),
            "/assets/img/hero-bg-sm.png" type("image/png")
        );
    }
}
.hero__container {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-lg {
        min-height: calc(100svh - var(--header-height));
        justify-content: center;
        flex-direction: column-reverse;
        row-gap: 32px;
        padding: 0 0 60px;
    }
}
.hero__content {
    flex: 1;
    max-width: 450px;
    @include media-lg {
        flex: 0;
        padding: 0 20px;
    }
}
.hero__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 500px;
    height: 500px;

    @include media-lg {
        flex: 1;
        width: 100%;
    }
}
.hero__title {
    @include title-32px;
    margin-bottom: 16px;

    @include media-lg {
        text-align: center;
    }
    @include media-sm {
        @include title-24px;
    }
}
.hero__description {
    @include text-16px;
    margin-bottom: 40px;

    @include media-lg {
        text-align: center;
    }
}
.hero_actions {
    max-width: 200px;
    &::ng-deep button {
        min-height: 48px;
    }
    @include media-lg {
        margin: 0 auto;
    }
}
// .hero__content {
//     width: 100%;
//     max-width: 600px;
//     margin: 0 auto;
//     padding: 24px 0;
//     position: relative;
//     z-index: 1;

//     @media screen and (max-width: 1024px) and (max-height: 575px) and (orientation: landscape) {
//         max-width: 480px;
//     }
//     @media screen and (max-width: 720px) and (orientation: portrait) {
//         max-width: 480px;
//     }
// }

// .hero_app-button::ng-deep button {
//     min-width: 200px;

//     @include media-xs {
//         min-width: 100%;
//     }
// }
// .hero_trending-button::ng-deep button {
//     padding-top: 16px;
//     padding-bottom: 16px;
//     min-width: 240px;

//     @include media-xs {
//         min-width: 100%;
//     }
// }
