@use "../../../../../../../styles/mixins" as *;

.hero {
    position: relative;
    width: 100%;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--header-height);
    background-image: url("/assets/img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--stripe-color);
    overflow: hidden;

    @include media-sm {
        background-image: url("/assets/img/hero-bg-sm.png");
    }

    &::before {
        content: "";
        position: absolute;
        top: calc(50% + 30px);
        left: 50%;
        width: 100svw;
        max-width: 100%;
        height: 526px;
        transform: translate(-50%, -50%);
        background-image: url("/assets/img/hero-icons.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        @media screen and (max-width: 1024px) and (min-width: 992px) and (max-height: 575px) and (orientation: landscape) {
            top: calc(50% + 60px);
            height: 425px;
        }
        @media screen and (max-width: 1024px) and (max-height: 575px) and (orientation: landscape) {
            top: calc(50% + 50px);
            height: 380px;
            background-image: url("/assets/img/hero-icons-sm.png");
        }
        @media screen and (max-width: 991px) and (max-height: 400px) and (orientation: landscape) {
            top: calc(50% + 65px);
            background-image: url("/assets/img/hero-icons-xs.png");
        }
        @media screen and (max-width: 710px), (max-height: 360px) and (orientation: landscape) {
            display: none;
        }
    }
}
.hero__content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px 0;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1024px) and (max-height: 575px) and (orientation: landscape) {
        max-width: 480px;
    }
    @media screen and (max-width: 720px) and (orientation: portrait) {
        max-width: 480px;
    }
}
.hero__title {
    @include title-32px;
    text-align: center;
    margin-bottom: 16px;

    @include media-sm {
        @include title-20px;
    }
}
.hero__description {
    @include text-16px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto 40px;
}
.hero_actions {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    @include media-xs {
        flex-direction: column;
        row-gap: 16px;
    }
}
.hero_app-button::ng-deep button {
    min-width: 200px;

    @include media-xs {
        min-width: 100%;
    }
}
.hero_trending-button::ng-deep button {
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 240px;

    @include media-xs {
        min-width: 100%;
    }
}
