<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1 class="hero__title">People Should Decide What Matters – Not Algorithms</h1>
            <p class="hero__description">
                Tap to support what matters, discover trending topics, and raise awareness —
                anonymously.
            </p>
            <div class="hero_actions">
                <app-primary-button
                    [fullWidth]="true"
                    class="hero_app-button"
                    (handleClick)="openStore()">
                    Get Pulse Up
                </app-primary-button>
            </div>
        </div>
        <div class="hero__map">
            <app-map
                [isHideDebugger]="true"
                [zoom]="[zoom]"
                [minZoom]="1"
                projection="globe"
                [isToShowTooltip]="true"
                [isScrollZoomEnabled]="false"
                [isDoubleClickZoomEnabled]="false"
                [maxBounds]="undefined"
                (mapLoaded)="onMapLoaded($event)"
                (markerClick)="onMarkerClick()" />
        </div>
    </div>
    <!-- <div class="page-container">
        <div class="hero__content">
            <h1 class="hero__title">
                People Should Decide What Matters – Not Algorithms
            </h1>
            <p class="hero__description">
                Tap to support what matters, discover trending topics, and raise
                awareness — anonymously.
            </p>
            <div class="hero_actions">
                <app-secondary-button
                    class="hero_app-button"
                    (handleClick)="openStore()"
                >
                    Get the App
                </app-secondary-button>
                <app-primary-button class="hero_trending-button" [routerLink]="'/topics'">
                    See What’s Trending
                </app-primary-button>
            </div>
        </div>
    </div> -->
</section>
