.tooltip-info .mdc-tooltip__surface {
    padding: 10px;
    border-radius: 10px;
    font-size: 12px !important;
    color: var(--black-color) !important;
    background-color: var(--white-color) !important;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1215686275);
}
