<app-header />

<div class="map-page">
    <div
        [class]="switchClasses"
        *ngIf="isProjectionToogleVisible">
        <app-switch
            [label]="{
                right: 'Globe',
            }"
            [color]="switchColor"
            [checked]="isGlobe"
            (change)="onSwitchChange($event)" />
    </div>
    @if (projection === "globe") {
        <app-globe-map
            (markerClick)="onMarkerClick($event)"
            (zoomEnd)="onZoomEnd($event)" />
    } @else {
        <app-mercator-map
            (markerClick)="onMarkerClick($event)"
            (zoomEnd)="onZoomEnd($event)" />
    }
    <div class="map-page__filter">
        <app-category-filter-menu
            class="category-filter-menu"
            [activeCategory]="(selectedCategory$ | async) || 'newest'"
            [options]="(filterOptions$ | async) || []"
            (selectedCategory)="onSelectedCategory($event)" />
        @if ((isNewestCategorySelected$ | async) === false) {
            <app-category-filter-selection
                *ngIf="selectedCategory$ | async as selectedCategory"
                [category]="selectedCategory"
                (cancelSelection)="onSelectedCategory('newest')" />
        }
    </div>
    <app-map-info-button class="map-page__info" />
</div>
