@use "../../../../../styles/mixins" as *;

:host {
    --offset-width: 20px;
    position: relative;
    display: block;
    padding: 0;
    height: calc(100%);

    @include media-xs {
        --offset-width: 16px;
    }
}

.map-page {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #020b1b;
}

app-map {
    height: 100%;
}

app-map::ng-deep .map-container {
    padding: 0;
    border-radius: 0px;
    width: 100vw;
    height: calc(100%);
}

.map-page {
    height: calc(100%);
}

.map-page__switch {
    position: absolute;
    bottom: var(--offset-width);
    left: var(--offset-width);
    z-index: 1;
}

//this is because on the same screen size header becomes 80px height
@media screen and (max-width: 650px) {
    .map-page {
        height: 100%;
    }

    app-map::ng-deep .map-container {
        padding: 0;
        border-radius: 0px;
        width: 100dvw;
        height: 100%;
    }
}

.map-page__filter {
    position: absolute;
    top: var(--offset-width);
    left: var(--offset-width);
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.map-page__info {
    position: absolute;
    top: var(--offset-width);
    right: var(--offset-width);
}

.map-page__top-container--mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 12px;
    padding: var(--offset-width) var(--offset-width) 0;

    .map-page__filter,
    .map-page__info {
        position: static;
    }
}
