@use '../../../../styles/mixins' as *;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
}

h1 {
    @include title-32px;
    text-align: center;
    color: var(--black-color);
    margin-top: 32px;
}

p {
    margin-top: 16px;
    @include text-16px;
    color: var(--dark-grey-color);
    text-align: center;
    max-width: 406px;
    margin-bottom: 40px;
}

::ng-deep button {
    height: 48px;
}







