<app-popup>
    <app-popup-close-button (close)="onCloseDialog()" />
    <app-popup-title>Geolocation not available</app-popup-title>
    <app-popup-text>
        Since we couldn’t get your location, we cannot enable Auto Pulsing for you. However, Auto
        Pulsing will be activated for 7 days the first time you pulse.
    </app-popup-text>
    <div class="geolocation-popup__help"></div>
    <div class="geolocation-popup__footer">
        <app-primary-button
            class="geolocation-popup__btn"
            (handleClick)="onContinue()">
            Continue without location
        </app-primary-button>
    </div>
</app-popup>
