@use "../../../../../../../styles/mixins" as mixins;

:host {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.date-filters {
    --button-width: 220px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    row-gap: 16px;

    @include mixins.media-sm {
        align-items: flex-start;
    }

    @include mixins.media-xs {
        --button-width: 134px;
    }
}

.date-filters__select,
.date-filters__datepicker {
    min-width: var(--button-width);
}

.date-filters__select {
    @include mixins.media-xs {
        &::ng-deep {
            .mat-mdc-select-trigger {
                font-size: 14px;
            }

            .select-field.select-field--with-icon .mdc-text-field {
                padding-left: 30px;
            }

            .select-field__icon {
                left: 8px;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.date-filters__datepicker {
    @include mixins.media-xs {
        flex-grow: 1;

        &::ng-deep {
            button {
                font-size: 14px;
            }
        }
    }
}
