:host {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    position: relative;
}

label {
    color: var(--dark-grey-color);
    margin-bottom: 8px;
}

input {
    padding: 12px 20px;

    outline: none;
    border: none;

    font-size: 16px;

    border: 1px solid var(--light-grey-color);
    border-radius: 10px;

    &::placeholder {
        color: var(--dark-grey-color);
        font-size: 16px;
    }
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;

    &.icon--start {
        left: 22px;

        & ~ input {
            padding-left: 54px;
        }
    }
    &.icon--end {
        right: 22px;

        & ~ input {
            padding-right: 54px;
        }
    }

    // &:has(+ input:not(:placeholder-shown)) {
    //     transform: translateY(-50%) rotate(90deg);
    // }
}

app-spinner {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.app-ui-input__content-right {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    & ~ input {
        padding-right: 54px;
    }
}

.app-ui-input--error {
    border-color: var(--error-color) !important;
}
