@import url("../privacy/privacy.component.scss");

.agent {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
}
.font-regular {
    font-weight: 400;
}
.decoration-none {
    text-decoration: none;
}
.text-black {
    color: #000;

    &:hover {
        color: #000;
    }
}
