@use '../../../../../styles/mixins'as *;

:host {
    display: block;
    padding: 24px 20px;
    min-height: 195px;
    max-width: 323px;
    width: 100%;
    cursor: pointer;

    border-radius: 10px;

    box-shadow: 0px 3px 20px 0px #0000001F;

    transition: all .3s;

    &:hover {
        box-shadow: 0px 3px 20px 0px #00000036;
    }
}

.top {
    display: flex;
    gap: 11px;
    margin-bottom: 20px;
}

.logo {
    position: relative;

    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;

    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    overflow: hidden;
    padding: 5px;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-size: 14px;
    color: var(--dark-grey-color);

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 51px;
    }

    .title {
        margin-bottom: 8px;
    }

    .count {
        margin-top: 6px;
        font-weight: 500;
    }
}

.budge {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;

    font-size: 10px;
    font-weight: 600;
    color: white;
    min-width: 20px;

    padding: 4px 5px;

    background-color: var(--accent-color);
    border-bottom-right-radius: 8px;
    z-index: 1;

    svg-icon {
        height: 11px;
        margin-right: 4px;
    }
}

.bottom {

    h3 {
        @include title-20px;
    }

    div {
        display: flex;
        align-items: center;
        gap: 9px;
        @include text-14px;
        color: var(--dark-grey-color);

        margin-top: 8px;

        svg-icon {
            display: flex;
        }
    }
}

@media screen and (max-width: 500px) {}