app-popup-text {
    
    strong {
        font-weight: 600;
    }

    &::ng-deep {
        .popup-text {
            text-align: left;
        }
    }
}

.leaderboard-info-popup__list {
    list-style-type: disc;
    padding-left: 16px;
}

.leaderboard-info-popup__note {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    background-color: #edddf9;
}

.leaderboard-info-popup__button {
    width: 100%;
    max-width: 100px;
}

.leaderboard-info-popup__text {
    text-align: center;
}