# Node.js
# Build a general Node.js project with npm.

trigger:
    # NB! dev env: master, prod env: release
    - master

pool:
    vmImage: ubuntu-latest

steps:
    - task: NodeTool@0
      displayName: 'Install Node.js'
      inputs:
          versionSpec: '20.x'

    - script: |
          npm install
          npm run build:dev
      displayName: 'npm install and build (dev)'

    - task: CopyFiles@2
      displayName: 'Copy dist folder to artifact staging'
      inputs:
          sourceFolder: '$(Build.SourcesDirectory)'
          contents: |
              dist/**
          targetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishPipelineArtifact@1
      displayName: 'Publish build artifacts'
      inputs:
          artifactName: 'pulsewebapp'
          targetPath: '$(Build.ArtifactStagingDirectory)'
          publishLocation: 'pipeline'
