<div class="map">
    <h2 class="map__title">Explore What’s Trending Near You</h2>
    <div class="map__globe">
        <app-map
            [isHideDebugger]="true"
            [zoom]="[1]"
            [minZoom]="1"
            projection="globe"
            [isToShowTooltip]="true"
            [isToEnableZoom]="false"
            (mapLoaded)="onMapLoaded($event)" />
    </div>
    <div class="map__button">
        <app-secondary-button
            [routerLink]="'/' + AppRoutes.Landing.MAP"
            routerLinkActive="active"
            [fullWidth]="true">
            Explore Map
        </app-secondary-button>
    </div>
</div>
