<div class="map">
    <h2 class="map__title">Explore What’s Trending Near You</h2>
    <div class="map__globe">
        <app-map
            [isHideDebugger]="true"
            [zoom]="[zoom]"
            [minZoom]="1"
            projection="globe"
            [isToShowTooltip]="true"
            [isScrollZoomEnabled]="false"
            [isDoubleClickZoomEnabled]="false"
            [maxBounds]="undefined"
            [touchPitch]="false"
            [touchZoomRotate]="false"
            (mapLoaded)="onMapLoaded($event)"
            (markerClick)="onMarkerClick()"/>
    </div>
    <div class="map__button">
        <app-secondary-button
            [routerLink]="'/' + AppRoutes.Landing.MAP"
            routerLinkActive="active"
            [fullWidth]="true">
            Explore Map
        </app-secondary-button>
    </div>
</div>
