@use '../../../../../../../styles/mixins' as *;

.map__title {
  @include title-32px;
  text-align: center;
  margin-bottom: 32px;
}
.map__button {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  app-secondary-button {
    width: 100%;
    max-width: 200px;

    @include media-xs {
        max-width: 100%;
    }
  }
}

.map__globe {
  @include media-xs {
    margin-left: -20px;
    margin-right: -20px;
  }
}