@use "../../../../styles/mixins" as *;

.auth-form {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.auth-form__field {
    position: relative;
    z-index: 100;
}

.auth-form__label {
    @include text-14px;
    color: var(--dark-grey-color);
}

:host-context(.welcome-auth-form) {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        border: none;
        -webkit-text-fill-color: var(--black-color);
        -webkit-box-shadow: 0 0 0px 1000px var(--white-popup) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}

::ng-deep .auth-form__tooltip {
    white-space: pre-line; 
    max-width: 350px;
    width: 100%;
    line-height: 1.3;
}

::ng-deep .auth-tooltip {
    text-decoration: underline;
    // font-size: 14px;
    margin-left: auto;
    width: fit-content;
    // color: var(--dark-grey-color);
}