@use "../../../../styles/mixins" as *;

.auth-form {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.auth-form__field {
    position: relative;
    z-index: 100;
}

.auth-form__small {
    @include text-14px;
    display: block;
    margin-top: 32px;
    color: var(--dark-grey-color);

    a {
        font-weight: 600;
    }
}

.auth-form__label {
    @include text-14px;
    color: var(--dark-grey-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
    border: none;
    -webkit-text-fill-color: var(--black-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--white-popup) inset;
    transition: background-color 5000s ease-in-out 0s;
}
