<div class="popup">
    <app-close-button
        class="popup__close"
        (handleClick)="onCloseDialog()" />
    <span class="popup__check">✅</span>
    <h2>Your topic is live!</h2>
    <p>We’ve auto-pulsed it for the next 7 days to help it get seen.</p>
    <h3>Here’s how it works:</h3>
    <ul>
        <li>Anyone can pulse daily to support your topic</li>
        <li>It appears on the map wherever users pulse</li>
        <li>If no one pulses for 30 days, it may be archived</li>
        <li>You’ll need to pulse again after 7 days to keep your own support active</li>
    </ul>
    <h3>Premium Perk:</h3>
    <p>Premium users get 30-day auto-pulse for extended reach</p>
    <div class="footer">
        <div class="footer__button">
            <app-primary-button
                size="large"
                [fullWidth]="true"
                (handleClick)="copyLink()">
                {{ copied ? "Link copied!" : "Copy link" }}
            </app-primary-button>
        </div>
        <div class="footer__button">
            <app-menu [content]="menuContent">
                <app-primary-button
                    size="large"
                    [fullWidth]="true">
                    Share
                </app-primary-button>
            </app-menu>
        </div>
    </div>
</div>

<ng-template #menuContent>
    <div class="pulse__socials">
        <app-copy-button
            link="{{ link }}"
            (handleClick)="onCopySocialLink($event)" />
        <app-socials-button
            [variant]="'facebook'"
            [url]="link" />
        <app-socials-button
            [variant]="'x'"
            [url]="link" />
        <app-socials-button
            [variant]="'email'"
            [url]="link" />
    </div>
</ng-template>
