@use "../../../../../styles/mixins" as *;

:host {
    display: block;
}

.popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    padding: 64px 38px;
    background-color: var(--white-popup);
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.popup__check {
    font-size: 48px;
    margin-bottom: 16px;
}

h2 {
    @include title-32px;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    @include title-20px;
    text-align: center;
    margin-bottom: 10px;
}

p,
li {
    @include text-16px;
    text-align: center;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 40px;
    }
}

h3,
p {
    margin-top: 8px;
    margin-bottom: 8px;
}
ul {
    list-style: disc;

    li {
        margin-top: 4px;
        margin-bottom: 4px;
        text-align: left;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
