@use "../../../../styles/mixins" as *;

.user-header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    padding-top: 20px;

    @media screen and (max-width: 760px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 8px;
    }
}
.user-header__name {
    @include title-32px;
    text-align: center;

    @media screen and (max-width: 760px) {
        grid-row: 2;
        grid-column: 1 / 3;
    }
}
.user-header__share {
    @media screen and (max-width: 760px) {
        display: flex;
        justify-content: flex-end;
    }
}
.user-header__username {
    text-align: center;
    color: var(--dark-grey-color);
}

.user-header__stats {
    margin-top: 20px;
}

.user-header-stats {
    display: flex;
    justify-content: center;
    gap: 44px;

    @include media-md {
        gap: 16px;
    }
}

.user-header-stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    @include text-14px;
    color: var(--dark-grey-color);
}

.user-header-stats__title {
    text-align: center;
    margin-bottom: 8px;
    color: var(--dark-grey-color);
}

.user-header-stats__count {
    margin-top: 6px;
    @include text-14px;
    color: var(--dark-grey-color);
    font-weight: 600;
}

.user-topics {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.profile__socials {
    display: flex;
    column-gap: 12px;
}