:host {
    display: block;
}

.secondary-button {
    font-weight: 600;
    color: var(--accent-color);
    border: 1px solid #5E00CC;
    border-radius: 40px;
    background-color: transparent;
    transition: all .2s;
    cursor: pointer;
    border-width: 1px;

    &:hover {
        box-shadow: 0px 4px 10px 0px #00000030;
        background-color: var(--white-color-hover);
    }

    &:not(:disabled):active {
        background-color: var(--active-white-color);
    }

    &.disabled,
    &:disabled {
        opacity: 0.3;
    }

    &.secondary-button--small {
        padding: 4px 8px;
    }
    &.secondary-button--medium {
        min-height: 40px;
        padding: 8px 16px;
    }
    &.secondary-button--large {
        min-height: 48px;
        padding: 12px 16px;
    }

    &.secondary-button--full-width {
        width: 100%;
    }
    &.secondary-button--full-height {
        height: 100%;
    }

    &.secondary-button--contrast {
        border-color: var(--white-color);
        color: var(--white-color);

        &:not(:disabled):hover {
            background-color: var(--white-color);
            color: var(--accent-color);
        }
    }
}