.primary-button {
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 40px;

    padding: 15px 40px;

    background-color: white;
    color: var(--black-color);
    font-weight: 600;
    // box-shadow: 0px 3px 10px 0px #00000026;
    border: 1px solid #5E00CC;



    transition: all .2s;

    &:hover {
        box-shadow: 0px 4px 10px 0px #00000030;
        background-color: var(--white-color-hover);
    }

    &:not(:disabled):active {
        background-color: var(--active-white-color);
    }

    &.disabled,
    &:disabled {
        opacity: 0.3;
    }
}