@use "../../../../../../styles/mixins" as *;

:host {
  display: flex;
  column-gap: 8px;
}

.card-meta-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  svg {
    width: 100%;
    height: 100%;
  }
}

.card-meta-text {
  @include text-14px;
  color: var(--dark-grey-color);
}
