@use '../../../../../styles/mixins'as *;

form {
    width: 100%;
    position: relative;
    transition: all .3s;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wrap-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    position: relative;
}

.description-pictures {
    display: flex;
    justify-self: center;
    align-items: center;

    column-gap: 16px;

    position: absolute;
    bottom: 15px;
    left: 15px;

    z-index: 1;

    svg-icon {
        height: 16px;
        cursor: pointer;
        transition: all .15s;

        &.active {
            ::ng-deep svg path {
                fill: var(--accent-color);
            }
        }

        &:hover {
            scale: 1.15
        }
    }
}

.description-picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 7px;

    position: absolute;
    bottom: 40px;
    left: 15px;

    font-size: 13px;
    background: var(--accent-color);

    border-radius: 10px;
    padding: 3px 10px;

    color: white;
    z-index: 1;

    cursor: pointer;

    span {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 150px;
        white-space: nowrap;
    }

    svg-icon {
        position: relative;
        display: block;
        scale: 0.8;
        height: 14px;

        transition: all .1s;

        ::ng-deep svg path {
            fill: white;
        }
    }

    &:hover {
        svg-icon {
            scale: 0.9;
        }
    }
}

label {
    @include text-16px;
    color: var(--dark-grey-color);


    display: inline-block;
    cursor: pointer;
    user-select: none;
}

:host ::ng-deep {

    input:not(input[type="file"]),
    textarea {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.59px;
        border-radius: 10px;
        border: 1px solid #E6E7ED;
        background: #FFFFFF;
        outline: none;
        padding: 15px 20px;
        width: 100%;
        height: 48px;
        transition: all .2s;

        &:focus {
            border: 1px solid var(--accent-color);
        }
    }
}

input.ng-dirty.ng-invalid textarea.ng-dirty.ng-invalid {
    border: 1px solid red !important;
    color: red !important;
}

app-primary-button {
    width: 100%;
}

app-primary-button::ng-deep button {
    height: 48px;
    width: 100% !important;
}


textarea {
    resize: vertical;
    height: 180px;
    padding-bottom: 40px;

    &.padding-lg {
        padding-bottom: 62px;
    }
}

.group:has(textarea):after {
    position: absolute;
    background: rgb(255 255 255 / 79%);
    content: '';
    bottom: -2px;
    width: calc(100% - 20px);
    margin: 3px 10px;
    height: 42px;
    backdrop-filter: blur(2px);
}

.group:has(textarea.padding-lg):after {
    height: 67px;
}



.icon-group {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 8px;

    label {
        grid-area: 1 / 1 / 2 / 3;
    }

    span {
        @include text-14px;
        color: var(--dark-grey-color);
        text-align: start;
        align-self: center;
    }
}

.iconAll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #E6E7ED;
    ;
    border-radius: 10px;
    transition: border .5s;
    background-color: #FFFFFF;
}

.iconAll:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.267);
    cursor: pointer;
}

.custom-icon__wrap {
    position: relative;
}

.custom-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.custom-icon__wrap input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


textarea::placeholder,
input::placeholder {
    @include text-16px;
    color: var(--dark-grey-color);
}

.keys {
    display: flex;
    height: 16px;
    gap: 5px;

    span {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 20px;
        padding: 3px 8px;
        font-size: 12px;

        color: #fff;
        background-color: var(--accent-color);
    }
}

.has-error {
    border-color: var(--error-color);
}