<form
    [formGroup]="topicForm">
    <div class="wrap-inputs">
        <div class="icon-group">
            <label for="icon">Icon</label>

            <div class="iconAll custom-icon__wrap">
                <input
                    id="icon"
                    name="icon"
                    #customIcon
                    type="file"
                    accept=".jpg, .png, .jpeg"
                    (change)="onFileSelected($event)">
            
                <div class="custom-icon">
                    <img
                        *ngIf="selectedIcon"
                        [src]="selectedIcon"
                        alt="Selected Image">
                    <img
                        *ngIf="!selectedIcon"
                        src="assets/svg/plus.svg"
                        alt="plus">
                </div>
            </div>

            <span class="icon-placeholder">This is what will be seen on the map</span>


        </div>
        
        <div class="group">
            <label for="headline">Headline</label>
            <app-input
                autocomplete="headline"
                tabindex="2"
                type="text"
                placeholder="Add header text"
                id="headline" name="headline"
                formControlName="headline" 
                [hasErrorClass]="
                    !!topicForm.get('headline')?.invalid && !!topicForm.get('headline')?.dirty
                "/>
        </div>

        <div class="group">
            <app-select 
                label="Category"
                id="select"
                [options]="categoriesForForm" 
                [info]="getCurrentTopicInfo()"
                formControlName="category"/>
        </div>
    
        <div class="group">
            <label for="description">Description</label>
            <textarea
                name="description"
                placeholder="This is what will be seen when one clicks on the pulse"
                formControlName="description"
                tabindex="3"
                [class.has-error]="
                    !!topicForm.get('description')?.invalid && !!topicForm.get('description')?.dirty
                ">
            </textarea>
        </div>
    
        <div class="group">
            <label for="keywords">Keywords</label>
            <app-input
                tabindex="4"
                type="text"
                placeholder="Add up to 5 keywords"
                id="keywords" name="keywords"
                formControlName="keywords"
                [hasErrorClass]="
                    !!topicForm.get('keywords')?.invalid && !!topicForm.get('keywords')?.dirty
                "/>
                
            <div class="keys">
                @if (sendTopicService.topicsArrayKeywords.length) {
                    @for (key of sendTopicService.topicsArrayKeywords; track key) {
                        <span>{{ key }}</span>
                    }
                }
            </div>
        </div>
    
    </div>

    <app-primary-button
        (handleClick)="onNextButtonClick()"
        [disabled]="topicForm.invalid">
        Next
    </app-primary-button>
    
</form>





