@let topic = data();
@let topicShareUrl = topicUrl();

@if (topic) {
    <app-large-pulse
        [pulse]="topic"
        [showArrow]="false">
        <app-large-pulse-icon
            [src]="topic.icon"
            size="md"
            [label]="topic.title"
            ngProjectAs="card-icon">
            @if (isArchived()) {
                <app-pulse-icon-label text="Archived" />
            }
        </app-large-pulse-icon>
        <div ngProjectAs="card-heading">
            <app-large-pulse-title>
                {{ topic.title }}
            </app-large-pulse-title>
            <app-large-pulse-meta
                [text]="'Created: ' + (topic.createdAt | date: 'MMM d, y') || ''"
                class="card-heading-meta"
                label="created at" />
        </div>
        <app-large-pulse-description ngProjectAs="card-body">
            {{ topic.description }}
        </app-large-pulse-description>
        <div
            class="card-footer"
            ngProjectAs="card-footer">
            <div class="card-footer__left">
                <app-large-pulse-metric
                    [text]="topic.stats?.lastDayVotes || 0 | formatNumber"
                    [accent]="isVoteActive()">
                    @if (isVoteActive()) {
                        <div class="card-footer-icon-wrap card-footer-icon-wrap--active">
                            <svg-icon
                                appWavesAnimation
                                src="assets/svg/logo/logo-v2.svg"
                                ariaLabel="pulse icon"
                                class="card-footer-icon" />
                        </div>
                    } @else {
                        <app-pulse-icon />
                    }
                </app-large-pulse-metric>
                <app-large-pulse-metric
                    [text]="topic.stats?.totalVotes || 0 | formatNumber"
                    icon="assets/svg/chart-simple.svg" />
            </div>
            @if (!isArchived()) {
                <div class="card-footer__right">
                    <app-menu [content]="menuContent">
                        <button
                            mat-icon-button
                            aria-label="Share topic">
                            <svg-icon
                                src="assets/svg/icon_share.svg"
                                ariaLabel="share icon" />
                        </button>
                    </app-menu>
                    <app-copy-topic-button
                        *ngIf="topicShareUrl"
                        [topicUrl]="topicShareUrl" />
                </div>
            }
        </div>
    </app-large-pulse>
}

<ng-template #menuContent>
    <div class="card-footer__socials">
        <ng-container *ngIf="topicShareUrl">
            <app-socials-button
                [variant]="'facebook'"
                [url]="topicShareUrl" />
            <app-socials-button
                [variant]="'x'"
                [url]="topicShareUrl" />
            <app-socials-button
                [variant]="'email'"
                [url]="topicShareUrl" />
            <app-qrcode-button
                [link]="topicShareUrl"
                popupTitle="Topic QR code"
                [popupSubtitle]="qrCodePopupText()"
                [bannerTitle]="qrCodeBannerTitle()"
                [bannerSubtitle]="qrCodeBannerSubtitle()"
                [bannerIcon]="qrCodeBannerIcon()" />
        </ng-container>
    </div>
</ng-template>
