@use "../../../../../../styles/mixins" as *;

.votes {
    margin-top: 20px;
    margin-bottom: 40px;
}

.votes__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 16px 0;
}

.user-votes__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 20px;

    @include media-xs {
        padding: 20px 16px;
    }
}

.user-votes__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

.user-votes__empty {
    text-align: center;
    padding-top: 24px;
}