:host {
    display: flex;
    max-width: 606px;
    width: 100%;
}

app-input ::ng-deep input {
    border-radius: 30px;
    width: 100%;
}

app-input {
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}
