:host {
    width: 100%;
    display: flex;
}

app-input ::ng-deep input {
    border-radius: 30px;
    width: 100%;
}

app-input {
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.clear-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg-icon {
        width: 12px;
        height: 12px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}
