.categories-selection {
    position: relative;
    padding: 8px 32px 8px 16px;
    border-radius: 16px;
    color: var(--accent-color);
    background-color: var(--accent-light-color);
    border: 1px solid var(--accent-color);
}

.categories-selection__cancel {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    padding: 4px;

    svg-icon {
        width: 100%;
        height: 100%;
        color: var(--accent-color);

        svg {
            width: 100%;
            height: 100%;

            path {
                fill: currentColor;
            }
        }
    }
}
