@use "../../../../../../styles/mixins" as *;

:host {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pulse-button-wrap {
    position: relative;
    flex-grow: 1;
}

.pulse-button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.pulse-button__inner {
    position: relative;
    width: 100%;
    padding: 0 32px;
}

.pulse-button__text {
    transition: opacity 0.2s ease-in-out;
}

.pulse-button__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    svg-icon {
        display: flex;
        width: 26px;
        height: 30px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}
