@use "../../../../../../styles/mixins" as *;

:host {
    --timing-function: cubic-bezier(0.24, 0.569, 0.087, 0.984);
    --duration-long: 0.8s;
    --duration-short: 0.15s;

    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pulse-button-wrap {
    position: relative;
    flex-grow: 1;
    min-height: 60px;

    @include media-2xs {
        min-height: 60px;
    }
}

.pulse-button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    &::ng-deep {
        .primary-button {
            transition:
                background-color var(--duration-long) ease-in-out,
                width var(--duration-long) var(--timing-function);

            &:disabled {
                opacity: 1;
                cursor: auto;
            }
        }
    }
}

.pulse-button__inner {
    position: relative;
    width: 100%;
    padding: 0 32px;
}

.pulse-button__text {
    transition: opacity 0.2s ease-in-out;
}

.pulse-button__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: right var(--duration-long) var(--timing-function);

    svg-icon {
        display: flex;
        width: 26px;
        height: 30px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}
