@use "../../../../../styles/mixins" as *;

.popup {
    min-height: 355px;
}

.popup-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
}

.popup-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}
.popup-footer__retry {
    width: 170px;

    @include media-sm {
        width: 180px;
    }
    @include media-xs {
        width: 160px;
    }
    @include media-2xs {
        width: 154px;
    }
}