.profile-button {
    &::ng-deep {
        .secondary-button.secondary-button--medium {
            padding: 4px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--accent-light-color);
        }
    }
}

.profile-button__icon {
    width: 24px;
    height: 24px;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: var(--accent-color);
        }
    }
}

:host-context(.header-contrast) {
    .profile-button {
        &:hover {
            .profile-button__icon {
                svg {
                    path {
                        fill: var(--accent-color);
                    }
                }
            }
        }
    }
    .profile-button__icon {
        svg {
            path {
                transition: fill 0.2s linear;
                // fill: var(--white-color);
            }
        }
    }
}
