<form [formGroup]="topicForm">
    <div class="wrap-inputs">
        <div class="group">
            <div class="icon-group">
                <app-picture-picker
                    id="icon"
                    name="icon"
                    label="Icon"
                    [invalid]="!!control('icon')?.invalid && !!control('icon')?.touched"
                    [picture]="selectedIcon"
                    (pictureSelected)="onSelectIcon($event)"
                    (pictureDeleted)="onDeleteIcon()" />
                <p class="icon-group__text">
                    Choose an image that best represents your topic. <br />
                    Simple symbols, logos, or recognizable visuals work best. <br />
                    (Minimum size: 128x128 px).
                </p>
            </div>
            <div *ngIf="getErrorMessage('icon') as error">
                <span class="group__error">{{ error }}</span>
            </div>
            <div class="group__info">
                <app-topic-info [text]="tooltipText.icon" />
            </div>
        </div>

        <div class="group">
            <app-input
                autocomplete="off"
                tabindex="2"
                type="text"
                placeholder="Enter an engaging headline"
                id="headline"
                name="headline"
                label="Headline"
                formControlName="headline"
                [hasErrorClass]="!!control('headline')?.invalid && !!control('headline')?.touched"
                (emitBlur)="onBlur('headline')" />
            <div *ngIf="getErrorMessage('headline') as error">
                <span class="group__error">{{ error }}</span>
            </div>
            <div class="group__info">
                <app-topic-info [text]="tooltipText.title" />
            </div>
        </div>

        <div class="group">
            <app-select
                id="category"
                name="category"
                label="Category"
                formControlName="category"
                [options]="(categoriesForForm | async) || []"
                [hasErrorClass]="!!control('category')?.invalid && !!control('category')?.touched"
                (emitBlur)="onBlur('category')" />
            <div *ngIf="getErrorMessage('category') as error">
                <span class="group__error">{{ error }}</span>
            </div>
            <div class="group__info">
                <app-topic-info [text]="tooltipText.category" />
            </div>
        </div>

        <div class="group">
            <app-topic-description
                [textControl]="control('description')"
                (handleBlur)="onBlur('description')" />
            <div *ngIf="getErrorMessage('description') as error">
                <span class="group__error">{{ error }}</span>
            </div>
            <div class="group__info">
                <app-topic-info [text]="tooltipText.description" />
            </div>
        </div>

        <div class="group">
            <app-description-image-picker
                formControlName="picture"
                [invalid]="(control('picture')?.invalid && control('picture')?.touched) || false" />
            <div *ngIf="getErrorMessage('picture') as error">
                <span class="group__error">{{ error }}</span>
            </div>
        </div>

        <div class="group">
            <app-chips-input
                formControlName="keywords"
                [limit]="3"
                [hasErrorClass]="!!control('keywords')?.invalid && !!control('keywords')?.touched">
            </app-chips-input>
            <div *ngIf="getErrorMessage('keywords') as error">
                <span class="group__error">{{ error }}</span>
            </div>
            <div class="group__info">
                <app-topic-info [text]="tooltipText.keywords" />
            </div>
        </div>

        <div class="group">
            <app-location-picker>
                <app-input
                    autocomplete="off"
                    type="text"
                    id="location"
                    name="location"
                    iconEnd="starting-location"
                    formControlName="location"
                    [hasErrorClass]="
                        !!control('location')?.invalid && !!control('location')?.touched
                    " />
            </app-location-picker>
            <div *ngIf="getErrorMessage('location') as error">
                <span class="group__error">{{ error }}</span>
            </div>
        </div>
    </div>

    <app-primary-button
        [fullWidth]="true"
        (handleClick)="onNextButtonClick()">
        Preview
    </app-primary-button>
</form>
