@use "../../../../../styles/mixins" as *;

:host {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-xs {
        right: 16px;
        bottom: 16px;
    }
}
