@use "../../../../../styles/mixins" as *;

.signin__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    svg {
        width: 168px;
        height: 54px;
    }
}

.signin__content {
    width: 100%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 0 20px;

    @include media-md {
        padding: 0;
    }
}

.signin__title {
    @include title-32px;
    text-align: center;
}

.signin__prompt {
    @include text-16px;
    text-align: center;
    color: var(--dark-grey-color);

    a {
        color: var(--accent-color);
    }
}
