@use "../../../../../../styles/mixins" as *;

:host {
    display: block;
    width: 100%;
}

.popup-text {
    @include text-16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    &.popup-text--centered {
        text-align: center;
    }
    &.popup-text--right {
        text-align: right;
    }
    &.popup-text--left {
        text-align: left;
    }
}