:host {
    position: relative;
}

.datepicker {
    width: 330px;
    background: var(--white-color);
    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.12);

    &::ng-deep {
        .mat-calendar-body-label {
            font-size: 0;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}

.datepicker__month-view {
    &::ng-deep {
        .mat-calendar-header {
            display: none;
        }
    }
}

.datepicker-trigger {
    &::ng-deep {
        button.secondary-button {
            min-height: unset;
            padding: 6px;
        }
    }
}

.datepicker-trigger-icon {
    width: 18px;
    height: 18px;

    svg {
        width: 100%;
        height: 100%;

        path {
            stroke: var(--accent-color);
        }
    }
}

.datepicker__footer {
    padding: 16px;
}
