<div #triggerButton>
    <app-secondary-button class="datepicker-trigger" (handleClick)="openCalendar()">
        <svg-icon
            src="assets/svg/calendar.svg"
            class="datepicker-trigger-icon"></svg-icon>
    </app-secondary-button>
</div>

<ng-template #calendarPortal>
    <div class="datepicker">
        <app-calendar-header
            [range]="timeframe"
            (rangeChange)="onTimeframeChange($event)"
            (backClick)="openMultiYearView()" />
        <mat-calendar
            *ngIf="isDayView"
            #dayCalendar
            [minDate]="calendarMinDate"
            [maxDate]="calendarMaxDate"
            [selected]="date"
            startView="month"
            (selectedChange)="onDaySelected($event)"
            (viewChanged)="onViewChanged($event)" />
        <mat-calendar
            *ngIf="isWeekView"
            #weekCalendar
            [minDate]="calendarMinDate"
            [maxDate]="calendarMaxDate"
            [selected]="selectedDateRange"
            startView="month"
            (selectedChange)="onWeekSelected($event)"
            (viewChanged)="onViewChanged($event)" />
        <div
            class="datepicker__month-view"
            *ngIf="isMonthView">
            <mat-calendar
                #monthCalendar
                [minDate]="calendarMinDate"
                [maxDate]="calendarMaxDate"
                [selected]="date"
                startView="year"
                (monthSelected)="onMonthSelected($event)"
                (viewChanged)="onViewChanged($event)" />
        </div>
        <div class="datepicker__footer">
            <app-primary-button
                [fullWidth]="true"
                [disabled]="!isConfirmAllowed"
                (handleClick)="confirmAndClose()">
                Select
            </app-primary-button>
        </div>
    </div>
</ng-template>
