@use '../../../../../styles/mixins' as *;

:host {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 18px 20px 48px;
}

.pulse {
    display: flex;
    flex-direction: column;
    max-width: 1030px;
    width: 100%;

 
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-bottom: 24px;
    
        &-logo {
    
            max-width: 160px;
            max-height: 160px;
            width: 100%;
            height: 160px;
    
            border-radius: 10px;
            border: 1px solid var(--light-grey-color);
        }
    
        &-title {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            h2 {
                @include title-32px;
            }
    
            div {
                display: flex;
                align-items: center;
                gap: 9px;
               
                @include text-14px;
                color: var(--dark-grey-color);
            }
        }
    }

    app-map::ng-deep .map-container {
        height: 600px !important;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        cursor: grab;
        margin-top: 0px !important;
    }

    app-map {
        margin-bottom: 32px;
    }

    &__button {
        margin: 0 auto;
    }

    app-primary-button::ng-deep button{
        width: 180px;
        height: 48px;
    }

}

.pulse__back {
    display: flex;
    margin-bottom: 12px;
}
.pulse-back {
    &::ng-deep button {
        padding: 12px 24px;
    }
}
.pulse-back__inner {
    display: flex;
    align-items: center ;
    gap: 8px;
}
.pulse-back__icon {
    border-style: solid;
	border-width: 2px 2px 0 0;
	display: inline-block;
	height: 8px;
	transform: rotate(-135deg);
	position: relative;
	vertical-align: top;
	width: 8px;
}

@media screen and (max-width: 1200px) {

    .pulse__header {
        gap: 16px;
        margin-bottom: 16px;
        justify-content: flex-start;
    
        &-logo {
    
            max-width: 80px;
            max-height: 80px;
            width: 100%;
            height: 80px;
        }
    
        &-title {
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            h2 {
                @include title-20px;
            }
    
        }
    }

    app-map {
        margin-bottom: 24px !important;
    }
}


@media screen and (max-width: 650px) {

    :host {
        padding: 20px 20px 48px;
    }

}
