.user-avatar {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border: 1px solid var(--light-grey-color);
        z-index: 1;
    }
}
.user-avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-avatar__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
}
