<div
    class="user-avatar"
    [style.border-radius.px]="roundSize">
    <ng-container *ngIf="pictureUrl$ | async as pictureUrl; else placeholder">
        <img
            class="user-avatar__img"
            [src]="pictureUrl"
            [width]="width"
            [height]="height"
            [alt]="name" />
    </ng-container>
    <ng-template #placeholder>
        <ng-content select="[placeholder]"></ng-content>
        <ng-container *ngIf="!hasCustomPlaceholder">
            <div class="user-avatar__placeholder">
                <svg-icon src="assets/svg/user-placeholder.svg" />
            </div>
        </ng-container>
    </ng-template>
</div>
