@use "../../../../../../styles/mixins" as *;

.history-list-item {
    &::ng-deep {
        .card-heading {
            @include media-sm {
                column-gap: 8px;
            }
            @include media-xs {
                column-gap: 4px;
            }
        }
    }
}

.card-heading-meta {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 10px;
}

.card-heading {
    display: flex;
    column-gap: 8px;
}
