<app-large-pulse [pulse]="data">
    <app-large-pulse-icon
        [src]="data.icon"
        size="md"
        [label]="data.title"
        ngProjectAs="card-icon" />
    <div ngProjectAs="card-heading">
        <app-large-pulse-title>
            {{ data.title }}
        </app-large-pulse-title>
        <div class="card-heading-meta">
            <app-large-pulse-meta
                [text]="vote.updatedAt | timeFromNow"
                icon="assets/svg/pulse.svg"
                label="date of vote" />
            <app-large-pulse-meta
                [text]="vote.location"
                icon="assets/svg/pin.svg"
                label="location" />
        </div>
    </div>
</app-large-pulse>
