@use "../../../../../../styles/mixins" as *;

.location-search {
    position: relative;
    width: 100%;
}

.location-search-input-wrap {
    position: relative;
}

.location-search-input {
    @include text-16px;
    width: 100%;
    padding: 12px 8px;
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
    outline: none;

    &:focus-visible {
        border-color: var(--black-color);
    }
}
.location-search-input--filled {
    padding-right: 40px;
}

.clear-button {
    position: absolute;
    top: 50%;
    right: 4px;
    padding: 4px;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    z-index: 1;

    svg-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg {
        width: 14px;
        height: 14px;
    }
}
