@use "../../../../../../styles/mixins" as *;

.location-search {
    position: relative;
    width: 100%;

    input {
        @include text-16px;
        width: 100%;
        padding: 12px 8px;
        border: 1px solid var(--light-grey-color);
        border-radius: 10px;
        outline: none;

        &:focus-visible {
            border-color: var(--black-color)
        }
    }

    .suggestions {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--white-color);
        border: 1px solid var(--light-grey-color);
        border-radius: 10px;
        max-height: 200px;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1;
    }

    .suggestion-item {
        @include text-14px;
        width: 100%;
        padding: 12px 8px;
        text-align: left;

        &:hover {
            background: #f5f5f5;
        }
    }
}
