@let clearButtonVisible = clearButtonVisible$ | async;

<div class="location-search">
    <div class="location-search-input-wrap">
        <input
            #searchInput
            autofocus
            name="search"
            type="text"
            [formControl]="searchControl"
            placeholder="Search (USA, Brazil, Miami...)"
            class="location-search-input"
            [class.location-search-input--filled]="clearButtonVisible"
            autocomplete="off"/>
        @if (clearButtonVisible) {
            <button
                mat-icon-button
                aria-label="Clear search"
                class="clear-button"
                (click)="clearSearch($event)">
                <svg-icon
                    src="assets/svg/close.svg"
                    aria-hidden="true" />
            </button>
        }
    </div>
</div>
