<div class="location-search">
    <div class="location-search-input">
        <input
            type="text"
            [formControl]="searchControl"
            placeholder="Search (USA, Brazil, Miami...)"
            (focus)="onFocus()"/>
        <!-- @if (clearButtonVisible$ | async) {
            <button
                mat-icon-button
                aria-label="Clear search"
                class="clear-button"
                (click)="clearSearch($event)">
                <svg-icon
                    src="assets/svg/close.svg"
                    aria-hidden="true" />
            </button>
        } -->
    </div>

    @if (suggestionsVisible()) {
        <ul class="suggestions">
            @for (option of options(); track $index) {
                <li>
                    <button
                        class="suggestion-item"
                        (click)="selectSuggestion($event, $index)">
                        {{ option }}
                    </button>
                </li>
            }
        </ul>
    }
</div>
