@use '../../../../../../styles/_mixins.scss' as *;

.get-app-button {
    display: flex;
    column-gap: 10px;
    row-gap: 16px;
    transition: all .3s ease-in-out;

    @include media-sm {
        column-gap: 8px;

        &.get-app-button--android {
            .btn:first-child {
                display: none;
            }
        }
        &.get-app-button--ios {
            .btn:last-child {
                display: none;
            }
        }
    }
    
    .btn {
        box-shadow: 0px 3px 10px 0px #00000026;
        min-width: 170px;
        height: 48px;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 40px;
        transition: all .2s ease-in-out;

        @include media-sm {
            min-width: 180px;
        }
        @include media-xs {
            min-width: 160px;
        }
        @include media-2xs {
            min-width: 154px;
        }
        @include media-3xs {
            min-width: 150px;
        }

        p {
            font-size: 10px;
            font-weight: 500;
            line-height: 11.93px;
            letter-spacing: 0.05em;
            text-align: left;
            margin-left: 10px;

            span {
                @include link-16px;
                font-weight: 600;
            }

        }

        &.btn--light {
            background: var(--white-color);
            p {
                color: var(--black-color);
            }
        }
        &.btn--dark {
            background: var(--black-color);
            p {
                color: var(--white-color);
            }
            svg-icon {
                filter: invert(100%);
            }
        }
        &.btn--dark:hover {
            background: var(--white-color);
            p {
                color: var(--black-color);
            }
            svg-icon {
                filter: invert(0%);
            }
        }
        &.btn--light:hover {
            background: var(--black-color);
            p {
                color: var(--white-color);
            }
            svg-icon {
                filter: brightness(100);
            }
        }

 
    }

    // .btn:hover {
    //     background: black;
    //     color: white;

    //     svg-icon {
    //         filter: brightness(100);
    //     }
    // }
}



button {
    width: 100%;
    min-height: 48px;
    height: 48px;
    box-shadow: 0px 3px 10px 0px #00000026;
    background: var(--white-color);

    border-radius: 40px;
    padding: 15px 20px;
    text-align: center;
    
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    cursor: pointer;

    span {
        @include link-16px;
        text-overflow: ellipsis; 
        transition: all .3s;
    }

    &:hover {
            -webkit-box-shadow:0px 3px 10px 6px rgb(from var(--accent-color) r g b / .1);
            -moz-box-shadow: 0px 3px 10px 6px rgb(from var(--accent-color) r g b / .1);
            box-shadow: 0px 3px 10px 6px rgb(from var(--accent-color) r g b / .1);
    }

    

}

@media screen and (max-width: 600px) {
    button {
        padding: 15px 20px;
    }
    
}



