@use "../../../../../../styles/mixins" as *;

:host {
    position: relative;
}

.datepicker {
    width: 330px;
    background: var(--white-color);
    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.12);

    &::ng-deep {
        .mat-calendar-body-label {
            font-size: 0;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}

.datepicker__month-view {
    &::ng-deep {
        .mat-calendar-header {
            display: none;
        }
    }
}

.datepicker-trigger-button {
    position: relative;
    min-height: 48px;
    width: 100%;
    padding: 8px 48px;
    border: 1px solid var(--light-grey-color);
    border-radius: 25px;
    text-align: left;

    @include media-xs {
        padding: 8px 20px 8px 30px;
    }

    &:hover {
        border-color: var(--dark-grey-color);
    }
    &:focus-visible {
        border-color: var(--dark-grey-color);
        outline: none;
    }
}

.datepicker-trigger-button__icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    pointer-events: none;

    @include media-xs {
        left: 8px;
        width: 16px;
        height: 16px;
    }

    svg {
        width: 100%;
        height: 100%;
    }   
}

.datepicker-trigger-button__arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%) rotate(-90deg);
    width: 8px;
    height: 8px;
    pointer-events: none;

    @include media-xs {
        right: 14px;
    }
}
