<div #triggerButton>
    <button
        class="datepicker-trigger-button"
        (click)="openCalendar()">
        <svg-icon
            src="assets/svg/calendar.svg"
            class="datepicker-trigger-button__icon"
            aria-hidden="true" />
        <span>{{ buttonText }}</span>
        <svg-icon
            src="assets/svg/arrow-left.svg"
            class="datepicker-trigger-button__arrow"
            aria-hidden="true" />
    </button>
</div>

<ng-template #calendarPortal>
    <div class="datepicker">
        <mat-calendar
            *ngIf="isDayView"
            #dayCalendar
            [minDate]="calendarMinDate"
            [maxDate]="calendarMaxDate"
            [selected]="date"
            startView="month"
            (selectedChange)="onDaySelected($event)"
            (viewChanged)="onViewChanged($event)" />
        <mat-calendar
            *ngIf="isWeekView"
            #weekCalendar
            [minDate]="calendarMinDate"
            [maxDate]="calendarMaxDate"
            [selected]="selectedDateRange"
            startView="month"
            (selectedChange)="onWeekSelected($event)"
            (viewChanged)="onViewChanged($event)" />
        <div
            class="datepicker__month-view"
            *ngIf="isMonthView">
            <mat-calendar
                #monthCalendar
                [minDate]="calendarMinDate"
                [maxDate]="calendarMaxDate"
                [selected]="date"
                startView="year"
                (monthSelected)="onMonthSelected($event)"
                (viewChanged)="onViewChanged($event)" />
        </div>
    </div>
</ng-template>
