@use "../../../../../../styles/mixins" as *;

.topics {
    margin-top: 20px;
    margin-bottom: 40px;
}

.topics__count {
    @include title-20px;
    padding: 0 20px;
}

.user-topics__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 20px;
}

.topics__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 16px 0;
}

.user-topics__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

.topics__add-link {
    &::ng-deep {
        .mdc-button__label {
            display: flex;
            align-items: center;
            column-gap: 12px;
        }

        svg-icon {
            display: flex;
        }
    }
}

.topics__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    padding-top: 16px;

    p {
        color: var(--dark-grey-color);
    }
}
