@use "../../../../../styles/mixins" as *;

.pulse__campaign,
.campaign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f8;
    margin-top: 15px;
    border: 1px solid #e6e7ed;
    border-radius: 10px;
    padding: 16px 20px;
    margin-bottom: 10px;

    &__title {
        @include text-16px;
        font-weight: 500;
        text-align: center;

        &--info,
        &--success,
        &--fail {
            font-weight: 600;
        }

        &--info {
            color: #5e00cc;
            @include text-12px;
            font-weight: 600;
            margin-bottom: 8px;
        }

        &--success {
            color: #00c105;
        }

        &--fail {
            color: #8386a5;
        }
    }

    &__goal {
        font-weight: 600;
    }

    &__progress {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 13px;

        &-title,
        &-count {
            font-size: 12px;
        }

        &-count {
            font-weight: 600;
        }

        &-bar {
            height: 8px;
            width: 194px;
            background-color: rgba(131, 134, 165, 0.3);
            border-radius: 10px;
            overflow: hidden;

            &--line {
                height: inherit;
                border-radius: inherit;
                background-color: #5e00cc;
                animation: fillBar 1s ease-out forwards;

                @keyframes fillBar {
                    from {
                        width: 0;
                    }

                    to {
                        width: var(--fill-width);
                    }
                }
            }
        }
    }

    &__sponsored {
        display: flex;
        align-items: center;
        column-gap: 4px;
        margin-top: 8px;
        font-size: 12px;

        span {
            color: #8386a5;
            font-weight: 700;
        }

        img {
            width: 100px;
            height: 30px;
            object-fit: contain;
        }
    }
}

.campaign__progress-bar--not-fulled {
    height: 100%;
    border-radius: 9999px;
    background: linear-gradient(90deg, #4c00a3, #a857f8, #4d00a5);
    background-size: 200% 100%;
    animation: gradientFlow 2s linear infinite;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -200% 0%;
    }
}
