

<form
    [formGroup]="form"
    class="profile-form">
    <div class="profile-form__field">
        <app-picture-picker 
            id="profilePicture"
            name="profilePicture"
            label="Profile picture"
            [control]="form.get('profilePicture')"
            [previewUrl]="previewUrl"
            />
        <div *ngIf="getPictureErrorMessage() as error">
            <span class="profile-form__error">{{ error }}</span>
        </div>
    </div>
    <div class="profile-form__field">
        <app-input
            type="text"
            id="name"
            name="name"
            label="Name"
            autocomplete="name"
            placeholder="Enter your name or organization"
            formControlName="name"
            [hasErrorClass]="!!(form.get('name')?.touched && form.get('name')?.invalid)"
            (emitBlur)="onBlur('name')" />
        <div *ngIf="getNameErrorMessage() as error">
            <span class="profile-form__error">{{ error }}</span>
        </div>
    </div>
    <div class="profile-form__field">
        <app-input
            type="text"
            id="username"
            name="username"
            label="Username"
            placeholder="Enter a unique username"
            formControlName="username"
            autocomplete="off"
            [hasErrorClass]="!!(form.get('username')?.touched && form.get('username')?.invalid)"
            (emitBlur)="onBlur('username')" />
        <div *ngIf="getUsernameErrorMessage() as error">
            <span class="profile-form__error">{{ error }}</span>
        </div>
    </div>
    <div class="profile-form__field">
        <span class="profile-form__label">Email</span>
        <a [routerLink]="chngeEmailRoute" class="profile-form__link">{{ email }}</a>
    </div>
    <div class="profile-form__field">
        <span class="profile-form__label">Phone number</span>
        <a class="profile-form__link">{{ phoneNumber }}</a>
    </div>
    <div class="profile-form__field profile-form__field--textarea">
        <app-textarea
            id="bio"
            name="bio"
            label="Bio"
            formControlName="bio"
            [hasErrorClass]="!!(form.get('bio')?.touched && form.get('bio')?.invalid)"
            (emitBlur)="onBlur('bio')" />
        <div *ngIf="getBioErrorMessage() as error">
            <span class="profile-form__error">{{ error }}</span>
        </div>
    </div>
    <div
        *ngIf="errorMessage"
        class="profile-form__error">
        {{ errorMessage }}
    </div>
    <app-primary-button
        type="submit"
        [fullWidth]="true"
        [disabled]="isDisabled()"
        [loading]="submitting"
        (handleClick)="submit($event)">
        Save
    </app-primary-button>
</form>
