@use "../../../../../styles/mixins" as *;

.profile-form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.profile-form__field {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.profile-form__error {
    @include text-12px;
    color: var(--error-color);
}

.profile-form__label {
    @include text-16px;
    color: var(--dark-grey-color);
}

.profile-form__field--textarea {
    height: 120px;
}

.profile-form__link {
    min-height: 48px;
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
    background-color: var(--white-color);

    &.profile-form__link--placeholder {
        color: var(--dark-grey-color);
    }
}
