@use '../../../../styles/mixins' as *;

.section {
    padding-top: 150px;
    padding-bottom: 150px;

    &:nth-child(2n + 1) {
        background-color: #F6F4FA;
    }

    @include media-md {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include media-sm {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.section__info {
    flex: 1 1 0;
    max-width: 480px;

    @include media-md {
        max-width: 100%;
    }
}
.section__image {
    img {
        width: 100%;
        height: auto;
        max-width: 430px;
        max-height: 340px;
        border-radius: 20px;
        object-fit: cover;
    }
}
.section__image--tall img {
    max-height: 440px;
}
.section--reverse .section__image {
    display: flex;
    justify-content: flex-end;
}
.section__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    column-gap: 24px;

    @include media-md {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 24px;
    }
}
.section--reverse .section__content {
    @include media-md {
        flex-direction: column-reverse
    }
}
.section__heading {
    @include title-32px;
    margin-bottom: 16px;
    max-width: 460px;

    @include media-sm {
        @include title-20px;
    }
}
.section__text {
    @include text-14px;
    margin-bottom: 8px;

    &.section__text--medium {
        font-weight: 500;
    }

    strong {
        font-weight: 600;
    }
}

.section__action {
    margin-top: 40px;
}

.section__action::ng-deep button {
    padding: 16px 31px;
    @include media-xs {
        width: 100%;
    }
}