@use "../../../../styles/mixins" as *;

.confirm {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;

    @include media-md {
        padding: 0;
    }
}

.confirm__title {
    @include title-32px;
}

.confirm__text {
    @include text-16px;
    text-align: center;
    color: var(--dark-grey-color);
}

.consirm__loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.consirm__spinner::ng-deep svg {
    --mdc-circular-progress-active-indicator-color: var(--accent-color);
}

.confirm__resend {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 4px;

    app-link-button::ng-deep button {
        min-width: 130px;
    }
}

.confirm__resend-text {
    @include text-16px;
    text-align: center;
    color: var(--dark-grey-color);
}
