@use "../../../../../../styles/mixins" as *;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--dark-grey-color);

    svg-icon {
        width: 24px;
        height: 24px;
        color: var(--dark-grey-color);

        svg {
            width: 100%;
            height: 100%;

            path {
                fill: currentColor;
            }
        }
    }
}

.small-pulse-stats-text {
    @include text-14px;
}

.small-pulse-stats-text--value {
    font-weight: 600;
}