@use "../../../../../styles/mixins" as *;

:host {
    display: block;
}

.popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    padding: 72px 38px;
    background-color: var(--white-popup);
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

h2 {
    @include title-32px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    @include text-16px;
    text-align: center;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 40px;
    }
}
