/* Angular Materials Compnents Global styles */

.custom-dialog-container .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px !important;
    box-shadow: none;
}
  
.custom-dialog-backdrop {
    background: rgb(from var(--black-color) r g b / .5);
    z-index: 1000 !important; 
}

body .cdk-overlay-pane.mat-mdc-dialog-panel {
    padding: 20px 0 !important;
} 
@media screen and (max-width: 680px) {
    body .cdk-overlay-pane.mat-mdc-dialog-panel {
        padding: 20px !important;
        max-width: 100vw !important;
    } 
}