/* Angular Materials Compnents Global styles */

@use "@angular/material" as mat;

.custom-dialog-container .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px !important;
    box-shadow: none;
}

.custom-dialog-backdrop {
    background: rgb(from var(--black-color) r g b / 0.5);
    z-index: 1000 !important;
}

body .cdk-overlay-pane.mat-mdc-dialog-panel {
    padding: 20px 0 !important;
}
@media screen and (max-width: 680px) {
    body .cdk-overlay-pane.mat-mdc-dialog-panel {
        padding: 20px !important;
        max-width: 100vw !important;
    }
}

:root {
    @include mat.datepicker-overrides(
        (
            calendar-container-elevation-shadow: 0px 12px 40px rgba(0, 0, 0, 0.12),
            calendar-container-background-color: var(--white-color),
            calendar-date-selected-state-background-color: var(--accent-color),
            calendar-date-today-selected-state-outline-color: var(--accent-color),
            calendar-date-in-overlap-range-selected-state-background-color: var(--accent-color),
        )
    );
    @include mat.button-toggle-overrides(
        (
            background-color: var(--light-grey-color),
            selected-state-background-color: var(--accent-color),
            selected-state-text-color: var(--white-color),
            divider-color: transparent,
            shape: 0,
            height: 32px,
        )
    );
}
