/* Text Styles from Figma */


@mixin title-32px {
    //styleName: Title 32px;
    font-family: 'SFProText', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.19px;
}

@mixin title-20px {
    //styleName: Title 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.87px;
}

@mixin link-18px {
    //styleName: Link 18px;
    font-family: "SFProText", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.48px;
}

@mixin link-16px {
    //styleName: Link 16px;
    font-family: "SFProText", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
}


@mixin link-14px {
    //styleName: Text 14px;
    font-family: "SFProText", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.71px;
}

@mixin text-16px {
    //styleName: Text 16px;
    font-family: "SFProText", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
}

@mixin text-14px {
    //styleName: Text 14px;
    font-family: "SFProText", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
}

@mixin text-12px {
    //styleName: Text 12px;
    font-family: "SFProText", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.32px;
}

@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin media-sm {
    @media screen and (max-width: 576px) {
        @content;
    }
}
@mixin media-xs {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin media-2xs {
    @media screen and (max-width: 375px) {
        @content;
    }
}