body {
    --accent-color: #5e00cc;
    --stripe-color: #F6F4FA;
    --blue-color: #00a7dc;
    --dark-grey-color: #8386a5;
    --black-color: #131420;
    --light-grey-color: #e6e7ed;
    --light-color: #f5f5f8;
    --white-color: #fff;
    --accent-color-hover: rgb(from var(--accent-color) r g b / 0.9);
    --active-accent-color: #6000c0;
    --white-color-hover: #fbfbfb;
    --active-white-color: #f2f2f2;
    --white-popup: #faf5fe;
    --error-color: #ff0000;

    --header-height: 100px;

    @media screen and (max-width: 768px) {
        --header-height: 80px;
    }
}
