@use "@angular/material" as mat;
@import url("./_reset.scss");
@import url("./_fonts.scss");
@import url("./_variables.scss");
@import url("./_mixins.scss");
@import url("./_materials.scss");
@import url("./animations/index.scss");
@import url("./_uikit.scss");
@import "mapbox-gl/dist/mapbox-gl.css";
@import "@splidejs/splide/css";
@import "@ctrl/ngx-emoji-mart/picker";
@import "tippy.js/dist/tippy.css";

/* Reset styles */

*,
html {
    scroll-behavior: smooth;
    --mat-select-panel-background-color: var(--white-color);
    --mat-option-selected-state-layer-color: var(--light-grey-color);
}

html {
    height: 100%;
}

body {
    font-family: "SFProText", sans-serif;
    min-height: 100dvh;
    color: var(--black-color);
    font-size: 16px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.app-root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}

*,
button,
input,
select,
textarea,
input {
    // font-family: "SFProText", sans-serif;
    font-family: Outfit, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
}

button {
    outline: none;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: var(--black-color);
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Global classes */

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.page-container {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 20px;
}

.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hide-footer app-footer {
    display: none;
}

svg-icon {
    display: flex;
}

.external-link {
    color: var(--accent-color);
    font-weight: 600;
}

/* intl-tel-input styles */

.iti {
    --iti-path-flags-1x: url("/assets/img/flags.png");
    --iti-path-flags-2x: url("/assets/img/flags@2x.png");
    --iti-path-globe-1x: url("/assets/img/globe.png");
    --iti-path-globe-2x: url("/assets/img/globe@2x.png");

    .iti__search-input {
        padding: 12px;
        font-size: 14px;
        outline-color: var(--accent-color);
    }
}

.phone-number-form {
    --mat-form-field-container-vertical-padding: 12px;

    .mat-mdc-text-field-wrapper {
        z-index: 1;
    }

    .mdc-text-field--outlined .mat-mdc-form-field-infix,
    .mdc-text-field--no-label .mat-mdc-form-field-infix {
        min-height: auto;
    }

    /* Change the border color */
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid)
        .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid)
        .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid)
        .mdc-notched-outline__trailing {
        border-color: var(--light-grey-color) !important;
    }

    /* Change the border width */
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
        .mdc-notched-outline
        .mdc-notched-outline__leading {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
        .mdc-notched-outline
        .mdc-notched-outline__trailing {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* Change the border focused color */
    .mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid)
        .mdc-notched-outline__leading,
    .mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid)
        .mdc-notched-outline__notch,
    .mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid)
        .mdc-notched-outline__trailing {
        border-color: var(--accent-color) !important;
    }
}

/* OTP input styles */

div.otp-custom-container {
    input.otp-custom-input {
        width: 44px;
        height: 44px;
        font-size: 24px;

        &:focus-visible {
            outline-color: var(--accent-color);
        }

        @media screen and (max-width: 480px) {
            width: 36px;
            height: 36px;
            font-size: 20px;
            margin: 0 6px !important;
        }
    }
}

/* Snackbar styles */

.mdc-snackbar.mat-mdc-snack-bar-container {
    &.snackbar-error {
        .mdc-snackbar__surface {
            background-color: #f44336; // Material Red 500
            color: white;
        }
    }

    &.snackbar-success {
        .mdc-snackbar__surface {
            background-color: #4caf50; // Material Green 500
            color: white;
        }
    }

    &.snackbar-info {
        .mdc-snackbar__surface {
            background-color: #2196f3; // Material Blue 500
            color: white;
        }
    }

    .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
        color: var(--white-color);
    }
}

// emoji-mart */
.emoji-mart .emoji-mart {
    width: 100% !important;
    border-width: 0;
}

/* mat dialog */
.cdk-overlay-pane.mat-mdc-dialog-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

.tippy-content {
    padding: 0;
    border-radius: 10px;
}

.tippy-box {
    color: var(--black-color);
    border-radius: 10px;
}

.tippy-bg--purple .tippy-box {
    background-color: #b992e8;
}

.tippy-arrow {
    display: none;
}

html {
    --mdc-dialog-container-shape: 10px !important;
}

// Category filter select
.category-filter-panel.mat-mdc-select-panel {
    --mat-select-panel-background-color: var(--white-color);
    --mat-option-selected-state-layer-color: rgb(from var(--accent-color) r g b / 0.3);
    --mat-option-focus-state-layer-color: rgb(from var(--accent-color) r g b / 0.3);
    --mat-option-hover-state-layer-color: rgb(from var(--accent-color) r g b / 0.1);
    background-color: var(--white-color);
}

// Category filter menu
.category-filter-menu {
    &.mat-mdc-menu-panel {
        min-width: 240px;
    }
    .mat-mdc-menu-content {
        padding: 0;
    }
    @include mat.menu-overrides(
        (
            container-color: var(--white-color),
            item-hover-state-layer-color: rgb(from var(--accent-color) r g b / 0.1),
            item-label-text-size: 16px,
        )
    );
}

// Social share menu
.social-share-menu {
    display: flex;
    column-gap: 12px;
}

// Floating menu
.floating-menu {
    @include mat.menu-overrides(
        (
            item-with-icon-leading-spacing: 16px,

            container-color: var(--white-color),
            item-hover-state-layer-color: var(--light-grey-color),
            item-focus-state-layer-color: var(--light-grey-color),
            item-label-text-color: var(--black-color),
            item-label-text-size: 16px,

            item-icon-size: 24px,
            item-icon-color: var(--black-color),
        )
    );
    &.mat-mdc-menu-panel {
        min-width: 260px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px 0px #0000002e;
        margin-top: 8px;

        &.floating-menu--visible {
            overflow: visible;
        }
    }
    .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
}

.floating-menu__item {
    &.floating-menu__item--small {
        &.mat-mdc-menu-item {
            min-height: 40px;
        }
    }
}

// select
div.mat-mdc-select-panel {
    background-color: var(--white-color);
}

.tabs {
    @include mat.tabs-overrides(
        (
            active-label-text-color: var(--accent-color),
            active-focus-label-text-color: var(--accent-color),
            active-hover-label-text-color: var(--accent-color),
            label-text-weight: 600,
        )
    );
    --mdc-tab-indicator-active-indicator-color: var(--accent-color);
    --mat-tab-header-active-hover-indicator-color: var(--accent-color);
    --mat-tab-header-active-focus-indicator-color: var(--accent-color);
}

/* prevent pull-to-refresh for Safari 16+ */
@media screen and (pointer: coarse) {
    @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior-y: none) {
        html {
            min-height: 100.3%;
            overscroll-behavior-y: none;
        }
    }
}

/* prevent pull-to-refresh for Safari 9~15 */
@media screen and (pointer: coarse) {
    @supports (-webkit-backdrop-filter: blur(1px)) and (not (overscroll-behavior-y: none)) {
        html {
            height: 100%;
            overflow: hidden;
        }

        body {
            margin: 0px;
            max-height: 100%;
            /* or `height: calc(100% - 16px);` if body has default margin */
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        /* in this case to disable pinch-zoom, set `touch-action: pan-x pan-y;` on `body` instead of `html` */
    }
}

/* prevent pull-to-refresh for Chrome 63+ */
body {
    overscroll-behavior-y: none;
}