@import url("./_reset.scss");
@import url("./_fonts.scss");
@import url("./_variables.scss");
@import url("./_mixins.scss");
@import url("./_materials.scss");
@import url("./animations/index.scss");
@import url("./_uikit.scss");
@import "mapbox-gl/dist/mapbox-gl.css";
@import "@splidejs/splide/css";
@import '@ctrl/ngx-emoji-mart/picker';

/* Reset styles */

*,
html {
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    font-family: "SFProText", sans-serif;
    height: 100%;
    // padding: 30px 35px;
    color: var(--black-color);
    font-size: 16px;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}

*,
button,
input,
select,
textarea,
input {
    font-family: "SFProText", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: var(--black-color);
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Global classes */

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.page-container {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 20px;
}

.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hide-footer app-footer {
    display: none;
}

/* intl-tel-input styles */

.iti {
    --iti-path-flags-1x: url("/assets/img/flags.png");
    --iti-path-flags-2x: url("/assets/img/flags@2x.png");
    --iti-path-globe-1x: url("/assets/img/globe.png");
    --iti-path-globe-2x: url("/assets/img/globe@2x.png");

    .iti__search-input {
        padding: 12px;
        font-size: 14px;
        outline-color: var(--accent-color);
    }
}

/* OTP input styles */

div.otp-custom-container {
    input.otp-custom-input {
        width: 44px;
        height: 44px;
        font-size: 24px;
        &:focus-visible {
            outline-color: var(--accent-color);
        }

        @media screen and (max-width: 480px) {
            width: 36px;
            height: 36px;
            font-size: 20px;
            margin: 0 6px !important;
        }
    }
}

/* Snackbar styles */

.mdc-snackbar.mat-mdc-snack-bar-container {
    &.snackbar-error {
        .mdc-snackbar__surface {
            background-color: #f44336; // Material Red 500
            color: white;
        }
    }

    &.snackbar-success {
        .mdc-snackbar__surface {
            background-color: #4caf50; // Material Green 500
            color: white;
        }
    }

    &.snackbar-info {
        .mdc-snackbar__surface {
            background-color: #2196f3; // Material Blue 500
            color: white;
        }
    }

    .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
        color: var(--white-color);
    }
}

// emoji-mart */
.emoji-mart .emoji-mart {
    width: 100% !important;
    border-width: 0;
}