@import url("./_reset.scss");
@import url("./_fonts.scss");
@import url("./_variables.scss");
@import url("./_mixins.scss");
@import url("./_materials.scss");
@import url("./animations/index.scss");
@import url("./_uikit.scss");
@import "mapbox-gl/dist/mapbox-gl.css";
@import "@splidejs/splide/css";

*,
html {
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    font-family: "SFProText", sans-serif;
    height: 100%;
    // padding: 30px 35px;
    color: var(--black-color);
    font-size: 16px;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}

*,
button,
input,
select,
textarea,
input {
    font-family: "SFProText", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.page-container {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 20px;
}

.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hide-footer app-footer {
    display: none;
}

.iti {
    --iti-path-flags-1x: url("/assets/img/flags.png");
    --iti-path-flags-2x: url("/assets/img/flags@2x.png");
    --iti-path-globe-1x: url("/assets/img/globe.png");
    --iti-path-globe-2x: url("/assets/img/globe@2x.png");
}

div.otp-custom-container {
    input.otp-custom-input {
        width: 44px;
        height: 44px;
        font-size: 24px;
        &:focus-visible {
            outline-color: var(--accent-color);
        }

        @media screen and (max-width: 480px) {
            width: 36px;
            height: 36px;
            font-size: 20px;
            margin: 0 6px !important;
        }
    }
}
