@import url('./_reset.scss');
@import url('./_fonts.scss');
@import url('./_variables.scss');
@import url('./_materials.scss');
@import url('./animations/index.scss');
@import url('./_uikit.scss');
@import 'mapbox-gl/dist/mapbox-gl.css';
@import '@splidejs/splide/css';

*,
html {
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    font-family: 'SFProText', sans-serif;
    height: 100%;
    // padding: 30px 35px;
    color: var(--black-color);
    font-size: 16px;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-hover);
}

*,
button,
input,
select,
textarea,
input {
    font-family: 'SFProText', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

@media screen and (max-width: 800px) {

    .hide-footer app-footer {
        display: none;
    }
}