<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />

    <staticContent>
      <mimeMap fileExtension="." mimeType="application/json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".avif" mimeType="image/avif" />
    </staticContent>

    <handlers>
      <add name="iisnode" path="server/server.mjs" verb="*" modules="iisnode" />
    </handlers>

    <iisnode devErrorsEnabled="true"/>

    <rewrite>
      <rules>

        <rule name="StaticContent">
          <action type="Rewrite" url="browser{REQUEST_URI}"/>
        </rule> 

        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> -->
          </conditions>
          <action type="Rewrite" url="server/server.mjs" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>


  </system.webServer>
</configuration>
