<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />

    <handlers>
      <add name="iisnode" path="go-pulse-webclient/server/server.mjs" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="go-pulse-webclient/server/server.mjs" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
