<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />

    <handlers>
      <!-- <add name="iisnode" path="go-pulse-webclient/server/server.mjs" verb="*" modules="iisnode" /> -->
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <httpPlatform stdoutLogEnabled="true" stdoutLogFile="./node.log" startupTimeLimit="20" processPath="node.exe" arguments="./server/server.mjs">
        <environmentVariables>
            <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
            <environmentVariable name="NODE_ENV" value="Production" />
        </environmentVariables>
    </httpPlatform>    
<!--
    <rewrite>
      <rules>

        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>

      </rules>
    </rewrite>
-->
    <httpErrors existingResponse="PassThrough" />

<!--
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
-->
  </system.webServer>
</configuration>
