:host {
    display: flex;
}
.marker-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;

    &.marker-icon--animated {
        animation: 1.5s pulse 1s ease-in-out infinite;
        transform-origin: center;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.15);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}