@let selectedLocation = selectedLocation$ | async;
@let locationOptions = locationOptions$ | async;
@let isRequestingGeolocation = isRequestingGeolocation$ | async;

<div class="location-filter">
    <button
        class="location-filter-button"
        [matMenuTriggerFor]="menu"
        (click)="toggleMenu()">
        <span>{{ buttonText$ | async }}</span>
        <svg-icon
            src="assets/svg/arrow-left.svg"
            class="location-filter-button__icon" />
    </button>
</div>

<mat-menu
    #menu="matMenu"
    class="floating-menu">
    <ng-template matMenuContent>
        @for (option of locationOptions; track option.value) {
            <button
                mat-menu-item
                class="location-filter-option"
                [class.location-filter-option__active]="
                    selectedLocation?.value === option.value &&
                    selectedLocation?.label === option.label
                "
                (click)="onLocationOptionChange(option)">
                <span>{{ option.label }}</span>
            </button>
        }
        @if (!isGeolocationAccessGranted) {
            <button
                class="location-filter__unlock"
                (click)="getMoreLocationOptions($event)">
                @if (isRequestingGeolocation) {
                    <app-spinner />
                } @else {
                    <span>Allow location to see more options</span>
                }
            </button>
        }
    </ng-template>
</mat-menu>
