@use "../../../../../styles/mixins" as *;

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.form__item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.form__label {
    @include text-14px;
    color: var(--dark-grey-color);
}

.form__input {
    @include text-16px;
}

.form__password-visibility-toggle {
    margin-right: 8px;
}
