.marker-button {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px #0000004d;
    cursor: pointer;
}
