@use '../../../../../styles/mixins'as *;

:host {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 48px 0px;
}



h1 {
    @include title-32px;
    color: var(--black-color);
    text-align: center;
    margin-top: 32px;
}

h2 {
    @include link-16px;
    text-align: left;
}

#list-name {
    margin-top: 24px;
    width: 100%;
}


ul {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;


    li {

        display: grid;
        grid-template-columns: 16px 1fr;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 14px;

        svg-icon {
            margin-top: 1px;
            width: 16px;
            height: 16px;

            ::ng-deep svg {
                width: 16px;
                height: 16px;
            }
        }

        p {
            grid-area: 2 / 2 / 3 / 3;
        }

    }
}

:host>p {
    margin-top: 16px;
    color: var(--dark-grey-color);
}

app-primary-button {
    margin-top: 40px;
    width: 100%;

}

app-primary-button::ng-deep button {
    height: 48px;
    width: 100% !important;
}


@media screen and (max-height: 820px) and (max-width: 500px) {
    h1 {
        font-size: 25px;
        margin-top: 16px;
    }

    :host {
        padding: 0;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 22px;
    }
}