<label [htmlFor]="id">{{ label }}</label>
<div
    class="placeholder"
    [class.placeholder--error]="invalid">
    <input
        #customIcon
        [id]="id"
        [name]="name"
        type="file"
        accept=".jpg, .png, .jpeg"
        (change)="onFileSelected($event)" />

    <div class="custom-icon">
        <img
            *ngIf="selectedPicture"
            [src]="selectedPicture"
            width="98"
            height="98"
            alt="Selected Image" />
        <img
            *ngIf="!selectedPicture"
            src="assets/svg/plus-placeholder.svg"
            width="98"
            height="98"
            alt="plus" />
    </div>
    <!-- <button
        type="button"
        class="delete-picture"
        *ngIf="selectedPicture"
        (click)="deleteChosenPicture()">
        <svg-icon
            class="delete-picture__icon"
            src="assets/svg/close.svg" />
    </button> -->
</div>
