@use "../../../../../styles/mixins" as *;

label {
    @include text-16px;
    display: block;
    margin-bottom: 8px;
    color: var(--dark-grey-color);
}

.placeholder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #e6e7ed;
    border-radius: 10px;
    transition: border 0.5s;
    background-color: #ffffff;
    padding: 6px;

    &:hover {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.267);
        cursor: pointer;
    }

    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.custom-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.delete-picture {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    padding: 4px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.delete-picture__icon {
    pointer-events: none;
}
