:host {
    display: flex;
    margin-bottom: 24px;
    max-width: 606px;
    width: 100%;
}

app-input ::ng-deep input {
    border-radius: 30px;
    width: 100%;
}

app-input {
    margin-right: 10px;
    width: 100%;
    max-width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    min-width: 48px;
    
    background-color: var(--accent-color);

    border-radius: 50%;

    outline: none;
    border: none;

    cursor: pointer;
}