@use "../../../../../styles/mixins" as *;

:host {
    --timing-function: cubic-bezier(0.24, 0.569, 0.087, 0.984);
    --duration-long: 0.8s;
    --duration-short: 0.15s;

    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pulse-button-wrap {
    position: relative;
    flex-grow: 1;
}

.pulse-button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    &::ng-deep {
        .primary-button {
            transition: background-color var(--duration-long) ease-in-out,
                width var(--duration-long) var(--timing-function);

            &:disabled {
                opacity: 1;
                cursor: auto;
            }
        }
    }
}

.pulse-button__inner {
    position: relative;
    width: 100%;
    padding: 0 32px;
}

.pulse-button__text {
    transition: opacity 0.2s ease-in-out;
}

.pulse-button__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: right var(--duration-long) var(--timing-function);

    svg-icon {
        display: flex;
    }
}

.pulse-button--voting {
    .pulse-button__icon {
        right: calc(50% - 12px);
    }
    .pulse-button__text {
        opacity: 0;
    }
    &::ng-deep {
        .primary-button {
            background-color: var(--purple-color);
        }
    }
}

.pulse-button--success {
    .pulse-button__inner {
        padding: 0;
    }
    .pulse-button__icon {
        right: 0;
    }
    .pulse-button__text {
        display: none;
    }
    &::ng-deep {
        .primary-button {
            position: relative;
            width: 48px;
            padding: 12px 11px;
            background-color: var(--purple-color);
            overflow: visible;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--purple-color);
                opacity: 1;
                z-index: -1;
                animation: pulsing-ring 1s var(--timing-function) 1s infinite;
            }
        }
    }
}

@keyframes pulsing-ring {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 0;
    }
}

.pulse-button:disabled {
    ::ng-deep .primary-button {
        cursor: not-allowed;

        svg-icon {
            opacity: 0;
        }
    }
}

.active-pulse-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 240px;
    opacity: 0;
    z-index: -1;
    transition: opacity var(--duration-short) ease-in-out;
    transition-delay: var(--duration-long);
}
.active-pulse-info--visible {
    opacity: 1;
    z-index: 1;
}

.active-pulse-info--visible {
    ::ng-deep {
        .active-pulse-info__icon:first-child path {
            fill: #00C105;
        }
    }

    .active-pulse-info__text {
        &--active {
            color: #00C105;
            font-weight: 500;
        }
    }
}

.active-pulse-info {
    display: grid;
    grid-template-columns: 14px 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.active-pulse-info__text {
    @include text-14px;
}

.active-pulse-info__text--grey {
    color: var(--dark-grey-color);
}

.active-pulse-info__icon {
    padding-top: 1px;
}
