<mat-tab-group
    preserveContent
    dynamicHeight
    class="tabs"
    spa
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Last 30 days">
        <div class="tab-content">
            @if (isWin) {
                <app-topic-daily-chart />
            }
        </div>
    </mat-tab>
    <mat-tab label="Last 24 hours">
        <div class="tab-content">
            @if (isWin) {
                <app-topic-hourly-chart />
            }
        </div>
    </mat-tab>
</mat-tab-group>
