.severity-icon {
    --color-warning: #d6903a;
    --color-danger: #d73c28;

    svg {
        width: 16px;
        height: 16px;

        path {
            fill: currentColor;
        }
    }

    &.severity-icon--warning {
        color: var(--color-warning);
    }

    &.severity-icon--danger {
        color: var(--color-danger);
    }
}
