@use "../../../../../styles/mixins" as *;

.description {
    margin-bottom: 10px;
}

.description__text {
    @include text-16px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;

    white-space: pre-line;
}
.description__text--expanded {
    -webkit-line-clamp: unset;
    line-clamp: unset;
}
.description__read-more {
    display: inline-block;
    @include link-16px;
    color: var(--accent-color);
    margin-top: 4px;
    font-weight: 600;
    cursor: pointer;
}
