@use "../../../../../../styles/mixins" as *;

:host {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pulse-button-wrap {
    position: relative;
    flex-grow: 1;
    min-height: 60px;

    @include media-2xs {
        min-height: 60px;
    }
}

.pulse-button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    &::ng-deep {
        .primary-button {
            &:disabled {
                opacity: 1;
                cursor: auto;
                background-color: var(--dark-grey-color);
            }
        }
    }
}

.pulse-button__inner {
    position: relative;
    width: 100%;
    padding: 0 32px;
}

.pulse-button__text {
    transition: opacity 0.2s ease-in-out;
}
