.card-heading-meta {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 10px;
}

.card-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
}

.card-footer__left {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.card-footer__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.card-footer-icon-wrap {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#8386a5, 0.2);
    border-radius: 50%;

    &.card-footer-icon-wrap--active {
        background-color: rgba(#5e00cc, 0.1);

        .card-footer-icon {
            filter: none;
        }
    }
}

.card-footer-icon {
    width: 24px;
    height: 24px;
    filter: grayscale(1);
    svg {
        width: 100%;
        height: 100%;
    }
}

.card-footer-icon-hexagon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);

    svg {
        width: 100%;
        height: 100%;
    }
}

.card-footer__socials {
    display: flex;
    column-gap: 12px;
}
