@use "../../../../../styles/mixins" as mixins;

:host {
    display: flex;
}

.card-heading {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.card-footer__group {
    display: flex;
    align-items: center;
    column-gap: 16px;

    &-metric {
        display: flex;
        align-items: center;
        column-gap: 4px;
        color: #8386a5;
    }
}

.card-footer-icon-wrap {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#8386a5, 0.2);
    border-radius: 50%;

    &.card-footer-icon-wrap--active {
        background-color: var(--accent-light-color);

        .card-footer-icon {
            filter: none;
        }
    }
}

.card-footer-icon {
    width: 24px;
    height: 24px;
    filter: grayscale(1);
    svg {
        width: 100%;
        height: 100%;
    }
}

.card-footer-icon-hexagon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);

    svg {
        width: 100%;
        height: 100%;
    }
}

.card-footer__socials {
    display: flex;
    column-gap: 12px;
}


.card-top-badge {
    @include mixins.link-14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 6px 40px;
    color: var(--dark-grey-color);
    background-color: rgba(#f6f085, 0.34);
}
.card-top-badge__icon {
    width: 20px;
    height: 20px;

    svg {
        width: 100%;
        height: 100%;

        path {
            stroke: currentColor;
        }
    }
}