.modal__inner {
    width: 100%;
}

.modal__goal {
    margin-bottom: 20px;

    &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: var(--black-color);
        margin-bottom: 8px;

        text-align: center;

        svg {
            width: 14px;
            height: 14px;
        }
    }
    &-title--disabled {
        color: var(--dark-grey-color);
    }

    .modal__progress-bar {
        width: 100%;
        height: 8px;
        background: #e5e7eb;
        border-radius: 9999px;
        position: relative;
        overflow: hidden;
        margin-bottom: 4px;

            .modal__progress-fill {
            height: 100%;
            border-radius: 9999px;
            background-color: var(--accent-color);
            transition: width 0.3s ease;
            animation: fillBar 1s ease-out forwards;
        }
    }

    .modal__progress-text {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #1e1e1e;

        .modal__goal-label {
            color: #1e1e1e;
        }

        .modal__goal-max {
            color: #9ca3af;
        }
    }

    &--ended {
        opacity: .5;
    }
}

.modal__footer {
    font-size: 14px;
    line-height: 20px;
    color: #9ca3af;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .modal__duration {
        display: flex;
        justify-content: space-between;

        span {
            color: #131420;
        }
    }

    .modal__sponsor {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e5e7eb;
        padding-top: 12px;

            span {
            color: var(--accent-color);
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            width: 100px;
            height: 30px;
            object-fit: contain;
            background-color: var(--white-popup);
        }
    }
}

a {
    outline: none;
    border: none;
}

.modal__progress-fill--not-fulled {
    height: 100%;
    border-radius: 9999px;
    background: linear-gradient(90deg, #4c00a3, #a857f8, #4d00a5);
    background-size: 200% 100%;
    animation: fillBar 1s ease-out forwards,
        gradientFlow 2s linear infinite !important;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -200% 0%;
    }
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: var(--fill-width);
    }
}