:host {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    position: relative;
}

label {
    color: var(--dark-grey-color);
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 15px 20px;

    outline: none;
    border: none;

    font-size: 16px;

    border: 1px solid var(--light-grey-color);
    border-radius: 10px;

    appearance: none;
    cursor: pointer;

    background-color: white;
    appearance: none;

    &::placeholder {
        color: var(--dark-grey-color);
        font-size: 16px;
    }

    &::active+svg-icon {
        rotate: 180deg;
    }
}

.svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px;

    transition: all .3s;

    &+select {
        padding-left: 54px;
    }

    &:has(+ input:not(:placeholder-shown)) {
        transform: translateY(-50%) rotate(90deg);
    }
}

app-spinner {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.wrap {
    position: relative;
    width: 100%;
}

.wrap svg-icon {
    position: absolute;
    right: 10px;
    top: 14px;
    height: 24px;
    pointer-events: none;

    transition: all .3s;

    &.open {
        rotate: 180deg;
    }
}

label svg-icon {
    position: absolute;

    height: 16px;
    width: 16px;

    display: block;

    right: 0px;
    top: 0px;

    ::ng-deep svg path {
        transition: all .3s;
    }

    &.shown {
        ::ng-deep svg path {
            fill: var(--accent-color);
        }
    }
}

.info {
    position: absolute;
    transform: translate(50%, -112%);

    top: 0px;
    right: 8px;
    opacity: 0;

    width: 250px;
    // height: 62px;

    padding: 8px 10px;
    border-radius: 10px;

    background: white;
    box-shadow: 0px 3px 20px 0px #0000001F;

    z-index: 1;

    transition: all .3s;

    &.shown {
        opacity: 1;
    }

    .title {
        margin-bottom: 4px;
        font-size: 12px;
        color: #000;
    }

    .description {
        color: #8386A5;
        font-style: italic;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .info {
        transform: translate(0%, -112%);
    }
}