.profile-tabs {
    --mdc-tab-indicator-active-indicator-color: var(--accent-color);
    --mat-tab-header-active-hover-indicator-color: var(--accent-color);
    --mat-tab-header-active-focus-indicator-color: var(--accent-color);
}
