@use "../../../../../styles/mixins" as *;

.email-verify {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 24px;
}

.email-verify__title {
  @include title-32px;
  text-align: center;
}

.email-verify__text {
  @include text-16px;
  text-align: center;
  color: var(--dark-grey-color);

  strong {
    font-weight: 600;
  }
}