<app-map
    projection="globe"
    [markers]="{
        enabled: true,
        showTooltip: true,
        isAnimated: false,
    }"
    [zoom]="[zoom]"
    [minZoom]="0.35"
    [maxBounds]="undefined"
    (mapLoaded)="onMapLoaded($event)"
    (markerClick)="onMarkerClick($event)"
    (zoomEnd)="onZoomEnd($event)">
    <ng-container *ngIf="map">
        <app-map-hexagons-layer
            [map]="map"
            [category$]="selectedCategory$" />
        <app-map-heatmap-layer [map]="map" />
    </ng-container>
</app-map>

<ng-container *ngIf="map">
    <app-map-controls>
        <app-map-spin-control [map]="map" />
        <app-map-zoom-controls [map]="map" />
    </app-map-controls>
</ng-container>

<div class="categories">
    <app-category-filter-menu
        class="category-filter-menu"
        (selectedCategory)="onSelectedCategory($event)" />
    <ng-container *ngIf="selectedCategory$ | async as selectedCategory">
        <app-category-filter-selection
            [category]="selectedCategory"
            (cancelSelection)="onSelectedCategory(null)" />
    </ng-container>
</div>
