@use "../../../../../../../styles/mixins" as *;

.categories {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    column-gap: 8px;

    @include media-sm {
        top: 20px;
        left: 20px;
    }
}
