@use "../../../../../styles/mixins" as *;

.review-profile {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 20px 0;
}

// .header {
//     display: grid;
//     grid-template-columns: auto 1fr auto;
//     grid-column-gap: 16px;
//     grid-row-gap: 16px;
//     padding: 0 20px;

//     @include media-xs {
//         grid-template-columns: 100%;
//     }

//     app-user-avatar {
//         width: 80px;
//         height: 80px;
//         flex-shrink: 0;

//         @include media-sm {
//             justify-self: center;
//         }
//     }
// }

// .header__text {
//     display: flex;
//     flex-direction: column;
//     row-gap: 8px;

//     @include media-xs {
//         text-align: center;
//     }
// }

// .header__name {
//     @include title-32px;
//     word-break: break-word;
// }
// .header__username {
//     width: 100%;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     color: var(--dark-grey-color);
// }

// .header__bio {
//     @include text-16px;
// }

// .header__buttons {
//     display: flex;
//     column-gap: 16px;
//     grid-column: 1 / 3;

//     @include media-xs {
//         grid-column: unset;
//         justify-content: center;
//     }
// }

// .header-button {
//     width: 100%;
//     max-width: 200px;

//     @media screen and (max-width: 400px) {
//         max-width: unset;
//     }
// }

.tabs {
    display: block;
    margin-top: 20px;

    &::ng-deep {
        .mat-mdc-tab-header {
            padding: 0 20px;
        }
    }
}

.header__icons {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;

    @include media-xs {
        grid-row: 1 / 2;
        justify-content: flex-end;
    }
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
}

.profile-menu {
    .profile-menu__item {
        display: flex;
        align-items: center;
        column-gap: 8px;
        min-height: 36px;
        color: var(--error-color);

        svg-icon {
            width: 20px;
            height: 20px;
            color: var(--error-color);

            svg {
                width: 100%;
                height: 100%;

                path {
                    stroke: currentColor;
                }
            }
        }
    }
}
