@use "../../../../../styles/mixins" as *;

.review-profile {
    padding: 20px 0;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 32px;

    app-user-avatar {
        width: 160px;
        height: 160px;
        flex-shrink: 0;
        grid-row: 1 / 3;

        @include media-sm {
            width: 80px;
            height: 80px;
            grid-row: initial;
        }
    }
}

.header__text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.header__name {
    @include title-32px;
    word-break: break-word;
}
.header__username {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--dark-grey-color);
}

.header__buttons {
    display: flex;
    column-gap: 16px;

    @include media-sm {
        grid-column: 1 / 3;
    }
    @media screen and (max-width: 400px) {
        flex-direction: column;
        row-gap: 16px;
    }
}

.header-button {
    width: 100%;
    max-width: 200px;

    @media screen and (max-width: 400px) {
        max-width: unset;
    }
}

.topics {
    margin-top: 20px;
    margin-bottom: 40px;
}

.topics__count {
    @include title-20px;
    margin-bottom: 16px;
}

.user-topics__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.topics__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.user-topics__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

.topics__add-link {
    &::ng-deep {
        .mdc-button__label {
            display: flex;
            align-items: center;
            column-gap: 12px;
        }

        svg-icon {
            display: flex;
        }
    }
}
