<app-container size="md">
    <div class="review-profile">
        <div class="header">
            <app-user-avatar
                [width]="160"
                [height]="160"
                [url]="(picture$ | async) || ''"
                [name]="(name$ | async) || ''" />
            <div class="header__text">
                <h1 class="header__name">{{ name$ | async }}</h1>
                <div class="header__username">&#64;{{ username$ | async }}</div>
            </div>
            <div class="header__buttons">
                <div class="header-button">
                    <app-primary-button
                        size="large"
                        [fullWidth]="true"
                        [routerLink]="editRpofileRoute">
                        Edit Profile
                    </app-primary-button>
                </div>
                <div class="header-button">
                    <app-secondary-button
                        size="large"
                        [fullWidth]="true">
                        Delete Account
                    </app-secondary-button>
                </div>
            </div>
        </div>

        <div class="topics">
            <div class="topics__count">
                {{ topicsCount$ | async }}
                {{ (topicsCount$ | async) === 1 ? "topic" : "topics" }} started
            </div>
            <app-spinner
                *ngIf="initialLoading$ | async"
                class="topics__loading" />
            <div class="topics__list">
                <div
                    class="user-topics"
                    *ngIf="paginator$ | async as paginator"
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="150"
                    (scrolled)="loadMore(paginator)">
                    <ul class="user-topics__list">
                        @for (topic of paginator.items; track topic.id) {
                        <li>
                            <app-large-pulse [pulse]="topic" />
                        </li>
                        }
                    </ul>
                    <p
                        class="user-topics__loading"
                        *ngIf="loading$ | async">
                        <app-loading-indicator />
                    </p>
                </div>
            </div>
        </div>
    </div>
</app-container>
