@use "../../../../../styles/mixins" as *;

.review-profile {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 20px 0;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 0 20px;

    app-user-avatar {
        width: 160px;
        height: 160px;
        flex-shrink: 0;

        @include media-sm {
            width: 80px;
            height: 80px;
        }
    }
}

.header__text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.header__name {
    @include title-32px;
    word-break: break-word;
}
.header__username {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--dark-grey-color);
}

.header__bio {
    @include text-16px;
}

.header__buttons {
    display: flex;
    column-gap: 16px;
    grid-column: 1 / 3;

    @media screen and (max-width: 400px) {
        flex-direction: column;
        row-gap: 16px;
    }
}

.header-button {
    width: 100%;
    max-width: 200px;

    @media screen and (max-width: 400px) {
        max-width: unset;
    }
}

.tabs {
    display: block;
    margin-top: 20px;

    &::ng-deep {
        .mat-mdc-tab-header {
            padding: 0 20px;
        }
    }
}
