<div class="review-profile">
    <div class="header">
        <app-user-avatar
            [width]="80"
            [height]="80"
            [url]="(picture$ | async) || ''"
            [name]="(name$ | async) || ''" />
        <div class="header__text">
            <h1 class="header__name">{{ name$ | async }}</h1>
            <div class="header__username">&#64;{{ username$ | async }}</div>
            <div class="header__bio">{{ bio$ | async }}</div>
        </div>
        <div class="header__icons">
            <app-icon-button
                label="Logout"
                [size]="32"
                variant="outline"
                class="logout-button"
                (handleClick)="onLogout()">
                <mat-icon
                    class="logout-icon"
                    aria-hidden="false"
                    aria-label="logout"
                    fontIcon="logout"></mat-icon>
            </app-icon-button>
            <app-menu [content]="menuContent">
                <app-icon-button
                    label="More"
                    [size]="32"
                    variant="outline">
                    <svg-icon
                        src="assets/svg/more-dots.svg"
                        aria-label="more" />
                </app-icon-button>
            </app-menu>
        </div>
        <div class="header__buttons">
            <div class="header-button">
                <app-primary-button
                    size="large"
                    [fullWidth]="true"
                    [routerLink]="editProfileRoute">
                    Edit Profile
                </app-primary-button>
            </div>
        </div>
    </div>

    <app-profile-tabs class="tabs" />
</div>

<ng-template #menuContent>
    <div class="profile-menu">
        <button
            mat-menu-item
            (click)="onClickDelete()">
            <span class="profile-menu__item">
                <svg-icon src="assets/svg/trash-delete.svg" />
                <span>Delete Account</span>
            </span>
        </button>
    </div>
</ng-template>
