@use "../../../../../styles/mixins" as *;

.location-info-popup__footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    margin-top: 40px;

    @include media-sm {
        grid-template-columns: 100%;
        grid-row-gap: 16px;
        grid-column-gap: 0;
    }
}

.geolocation-popup__btn {
        width: 100%;
}
