@use "../../../../../styles/mixins" as *;

.popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    padding: 64px 38px 48px;
    background-color: var(--white-popup);

    @include media-lg {
        padding: 64px 24px;
    }
    @include media-lg {
        padding: 48px 24px;
    }
}