.card-footer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;

    @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }
}

.card-heading-meta {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 10px;
}

.card-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
}

.card-footer__left {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.card-footer__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.card-footer-icon-wrap {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#8386A5, 0.2);
    border-radius: 50%;
}

.card-footer-icon {
    width: 20px;
    height: 20px;
    filter: grayscale(1);
    svg {
        width: 100%;
        height: 100%;
    }
}

.card-footer__socials {
    display: flex;
    column-gap: 12px;
}