@use "../../../../../../styles/mixins" as *;

.label {
    width: 100%;
    padding: 4px;
    text-align: center;
    color: var(--dark-grey-color);
    background-color: var(--light-grey-color);

    @include media-sm {
        font-size: 12px;
    }
}
