.get-location-popup-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
}

.get-location-popup-error {

}

.get-location-popup-error__button {
    min-width: 175px;
}