.leaderboard-share-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg-icon {
        width: 24px;
        height: 24px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}
