@let link = shareUrl();

<app-menu [content]="menuContent">
    <button
        host
        mat-icon-button
        class="leaderboard-share-button"
        (click)="onClick()">
        <span class="visualy-hidden">Open menu</span>
        <svg-icon
            src="assets/svg/icon_share.svg"
            class="leaderboard-share-button__icon" />
    </button>
</app-menu>

<ng-template #menuContent>
    @if (link) {
        <div class="social-share-menu">
            <app-copy-button
                link="{{ link }}"
                (handleClick)="onCopyLink($event)" />
            <app-socials-button
                [variant]="'facebook'"
                [url]="link" />
            <app-socials-button
                [variant]="'x'"
                [url]="link" />
            <app-socials-button
                [variant]="'email'"
                [url]="link" />
            <app-qrcode-button
                [link]="link"
                popupTitle="Leaderboard QR code"
                popupSubtitle="Share the leaderboard with this QR code."
                [generateBanner]="false" />
        </div>
    }
</ng-template>
