<div>
    <app-container size="md">
        <div class="user-header">
            <div class="user-header__top">
                <app-icon-button variant="outline">
                    <svg-icon src="assets/svg/chevron-left.svg" />
                </app-icon-button>
                <div>
                    <h1 class="user-header__name">Hannah Zoe</h1>
                </div>
                <app-icon-button variant="outline">
                    <svg-icon src="assets/svg/icon_share.svg" />
                </app-icon-button>
            </div>
            <div class="user-header__username">hannahzoe</div>
            <div class="user-header__stats user-header-stats">
                <div class="user-header-stats__item">
                    <span class="user-header-stats__title">Supporters</span>
                    <svg-icon src="assets/svg/fans.svg" />
                    <span class="user-header-stats__count">
                        436M
                        <!-- {{ pulse.stats?.totalVotes || 0 | formatNumber }} -->
                    </span>
                </div>
                <div class="user-header-stats__item">
                    <span class="user-header-stats__title">Lifetime</span>
                    <svg-icon src="assets/svg/chart-simple-solid.svg" />
                    <span class="user-header-stats__count">
                        436M
                        <!-- {{ pulse.stats?.totalVotes || 0 | formatNumber }} -->
                    </span>
                </div>
                <div class="user-header-stats__item">
                    <span class="user-header-stats__title">24 hours</span>
                    <svg-icon src="assets/svg/pulse.svg" />
                    <span class="user-header-stats__count">
                        25
                        <!-- {{ pulse.stats?.lastDayVotes || 0 | formatNumber }} -->
                    </span>
                </div>
            </div>
        </div>
    </app-container>
</div>
