.qr-button {
    width: 42px;
    height: 42px;
    padding: 6px;
    flex-shrink: 0;
    background-color: var(--accent-color-hover);
    border-radius: 4px;

    svg-icon {
        width: 100%;
        height: 100%;

        &::ng-deep svg {
            width: 100%;
            height: 100%;

            path {
                fill: #fff;
            }
        }
    }
}
