.zoom-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.zoom-button {
    transition: all 0.2s;
    position: relative;
    background: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    box-shadow: 0px 3px 10px 0px #00000026;

    &::after,
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 14px;
        height: 2px;
        border-radius: 1px;
        background: var(--dark-grey-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    cursor: pointer;
    
    &:first-child::after {
        height: 14px;
        width: 2px;
    }

    &:active {
        scale: 0.8;
    }
}
