@use "../../../../../../styles/mixins" as *;

.icon {
    position: relative;
    width: var(--size);
    height: var(--size);

    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    padding: 8px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    @include media-xs {
        padding: 6px;
    }

    &.icon--lg {
        --size: 140px;
        @media screen and (max-width: 650px) {
            --size: 80px;
        }
    }
    &.icon--md {
        --size: 80px;

        @include media-xs {
            --size: 70px;
        }
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 8px;

        @include media-xs {
            border-radius: 6px;
        }
    }
}
