@use "../../../../../styles/mixins" as *;

.user-header {
    padding-top: 20px;
}

.user-header__top {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.user-header__back {
    display: flex;
    align-items: center;
    grid-column: 1 / 3;

    @include media-sm {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}

.user-header__info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @media screen and (max-width: 760px) {
        grid-row: 2;
        grid-column: 1 / 3;
    }
}

.user-header__avatar {
    width: 80px;
    height: 80px;
}

.user-header__text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
}

.user-header__bio {
    width: 100%;
    grid-column: 1 / 3;
    word-break: break-word;
    line-height: 1.5;
    @include text-14px;
}

.user-header__share-btn {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    @include media-sm {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}
.user-header__name {
    @include title-32px;
    word-break: break-word;

    @include media-sm {
        @include title-20px;
    }
}
.user-header__username {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--dark-grey-color);
}

.user-header__topics {
    margin-top: 24px;
    font-weight: 600;
}

.user-topics {
    margin-top: 20px;
    margin-bottom: 40px;
}

.user-topics__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.user-topics__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

.pulse-footer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;

    @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }
}

.user-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}