@use "../../../../../styles/mixins" as *;

.user-header__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 24px;
    padding-top: 20px;

    @media screen and (max-width: 760px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 24px;
    }
}

.user-header__info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @media screen and (max-width: 760px) {
        grid-row: 2;
        grid-column: 1 / 3;
    }
}

.user-header__text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.user-header__bio {
    width: 100%; 
    grid-column: 1 / 3;
    word-break: break-word;
    @include text-14px;
}

.user-header__share-btn {
    @media screen and (max-width: 760px) {
        display: flex;
        justify-content: flex-end;
    }
}
.user-header__name {
    @include title-32px;
    word-break: break-word;
}
.user-header__username {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--dark-grey-color);
}

.user-header__topics {
    margin-top: 24px;
    font-weight: 600;
}

.user-topics {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.profile__socials {
    display: flex;
    column-gap: 12px;
}