@use "../../../../../../styles/mixins" as *;

.fab-button {
    @include link-16px;
    width: 100%;
    min-height: 48px;
    padding: 12px 24px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    box-shadow: 0px 3px 10px 0px #00000026;
    transition: box-shadow 0.1s ease-in-out;
    color: var(--foreground-color);
    background-color: var(--background-color);

    &:hover {
        box-shadow: 0px 3px 14px 0px #00000026;
        background-color: var(--background-color-hover)
    }

    &.fab-button--small {
        @include text-14px;
        min-height: 40px;
        padding: 8px 24px;
    }

    &.fab-button--light {
        --foreground-color: var(--accent-color);
        --background-color: var(--white-color);
        --background-color-hover: color-mix(in srgb, var(--white-color) 90%, rgba(0, 0, 0, 0.2));
    }
    &.fab-button--dark {
        --foreground-color: var(--white-color);
        --background-color: var(--accent-color);
        --background-color-hover: color-mix(in srgb, var(--accent-color) 90%, rgba(0, 0, 0, 0.2));
    }
}

.fab-button__icon {
    width: 24px;
    height: 24px;

    svg {
        width: 100%;
        height: 100%;

        path {
            stroke: currentColor;
        }
    }
}
