@use "../../../../../styles/mixins" as *;

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 24px;
    border-radius: 20px;
    background-color: var(--white-popup);

    @include media-sm  {
        border-radius: 0;
        padding: 24px 20px;
    }
}

.profile-main-info {
    display: flex;
    align-items: center;
    column-gap: 16px;

    @include media-sm {
        flex-direction: column;
        row-gap: 16px;
    }
}

.profile-main-info__avatar {
    width: 140px;
    height: 140px;
    flex-shrink: 0;

    @include media-sm {
        width: 80px;
        height: 80px;
        justify-self: center;
    }
}

.profile-main-info__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}

.profile-main-info__text {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    @include media-xs {
        text-align: center;
    }
}

.profile-main-info__name {
    @include title-32px;
    word-break: break-word;
}
.profile-main-info__username {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--dark-grey-color);
}

.profile__bio {
    @include text-16px;
    color: var(--dark-grey-color);

    @include media-sm {
        text-align: center;
    }
}

.profile__footer {
    display: flex;
    column-gap: 16px;

    @include media-sm {
        justify-content: center;
    }
}
.profile-button {
    min-width: 130px;
}

.profile-button--signout {
    @include media-sm {
        display: none;
    }
}

.profile-button--more {
    min-width: unset;
    &::ng-deep {
        button {
            padding: 12px;
        }
        svg {
            transform: rotate(90deg);
            path {
                fill: currentColor;
            }
        }
    }
}

.profile-button__icon {
    width: 20px;
    height: 20px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.profile-button__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.profile-menu-button--logout {
    display: none;
    @include media-sm {
        display: block;
    }
}