@let qrCodePopupText = qrCodePopupText$ | async;

<div class="profile-main-info">
    <app-user-avatar
        [width]="140"
        [height]="140"
        [roundSize]="16"
        [url]="(picture$ | async) || ''"
        [name]="(name$ | async) || ''"
        class="profile-main-info__avatar">
        <div
            placeholder
            class="profile-main-info__placeholder">
            <svg-icon src="assets/svg/user-placeholder.svg" />
        </div>
    </app-user-avatar>
    <div class="profile-main-info__text">
        <h1 class="profile-main-info__name">{{ name$ | async }}</h1>
        <div class="profile-main-info__username">&#64;{{ username$ | async }}</div>
    </div>
    <app-fab-button
        [circle]="true"
        class="more-profile-button"
        icon="assets/svg/more-dots.svg"
        label="More options"
        [matMenuTriggerFor]="menu">
    </app-fab-button>
</div>

@if (bio$ | async) {
    <div
        class="profile__bio"
        [innerHTML]="bio$ | async | linkify"></div>
}

<div class="profile__footer">
    <app-fab-button
        class="profile-button"
        icon="assets/svg/edit.svg"
        [routerLink]="editProfileRoute">
        <span>Edit</span>
    </app-fab-button>
    <app-menu [content]="shareMenuContent">
        <app-fab-button
            class="profile-button"
            icon="assets/svg/share.svg">
            <span>Share</span>
        </app-fab-button>
    </app-menu>
    <!-- <app-fab-button
        class="profile-button profile-button--more"
        icon="assets/svg/more-dots.svg"
        label="More options"
        [matMenuTriggerFor]="menu">
    </app-fab-button> -->
</div>

<mat-menu
    #menu="matMenu"
    class="floating-menu">
    <ng-template matMenuContent>
        <button
            mat-menu-item
            (click)="logout()">
            <svg-icon src="assets/svg/signout.svg" />
            <span>Sign Out</span>
        </button>
        <button
            mat-menu-item
            [routerLink]="deleteAccountRoute">
            <svg-icon src="assets/svg/trash-delete.svg" />
            <span>Delete Account</span>
        </button>
    </ng-template>
</mat-menu>

<ng-template #shareMenuContent>
    <div class="social-share-menu">
        <ng-container *ngIf="shareProfileUrl$ | async as shareProfileUrl">
            <app-copy-button
                link="{{ shareProfileUrl }}"
                (handleClick)="onCopyLink($event)" />
            <app-socials-button
                [variant]="'facebook'"
                [url]="shareProfileUrl" />
            <app-socials-button
                [variant]="'x'"
                [url]="shareProfileUrl" />
            <app-socials-button
                [variant]="'email'"
                [url]="shareProfileUrl" />
            @if (qrCodePopupText) {
                <app-qrcode-button
                    [link]="shareProfileUrl"
                    popupTitle="Profile QR code"
                    [popupSubtitle]="qrCodePopupText"
                    [generateBanner]="false" />
            }
        </ng-container>
    </div>
</ng-template>
