:host {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.image-picker-label {
    color: var(--dark-grey-color);
}

.image-picker {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid var(--light-grey-color);
    background-color: var(--white-color);
}

.image-picker--selected {
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 0.8;
    }
}

.image-picker--invalid {
    border-color: var(--error-color);
}

.file-upload-preview {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 6px;
    border-radius: 10px;
    object-fit: contain;
}

.file-upload {
    position: absolute;
    inset: 6px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
