@use "../../../../../../styles/mixins" as *;

:host {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--dark-grey-color);

    @media screen and (max-width: 650px) {
        @include text-14px;
    }
}

svg-icon {
    width: 24px;
    height: 24px;
    @media screen and (max-width: 650px) {
        width: 16.8px;
        height: 14px;
    }

    svg {
        width: 100%;
        height: 100%;
        @media screen and (max-width: 650px) {
            width: 16.8px;
            height: 14px;
        }
    }
}
