<div
    *ngIf="pictureControl"
    class="topic-description"
    [class.topic-description--focus]="isDescriptionFocused"
    [class.topic-description--error]="hasErrorClass">
    <app-textarea
        #descriptionInput
        id="description"
        name="description"
        label="Description"
        [value]="textControl?.value || ''"
        formControlName="description"
        [hasErrorClass]="hasErrorClass"
        (emitFocus)="onFocus()"
        (emitBlur)="onBlur()"
        (onInput)="handleInput($event)" />

    <div class="description-pictures">
        @if (selectedPicture) {
        <img
            [src]="selectedPicture"
            width="370"
            height="370"
            alt="Selected Picture"
            class="description-pictures__preview" />
        } @if (pictureControl.value?.name) {
        <button
            class="description-picture"
            (click)="deleteChosenPicture()">
            <span>
                {{ pictureControl.value.name }}
            </span>
            <svg-icon src="assets/svg/close.svg" />
        </button>
        }
        <div class="description-pictures__buttons">
            <svg-icon
                [class.active]="selectedTypeOfPicture === 'img'"
                (click)="openInputForDescription('img')"
                src="assets/svg/form/image.svg" />
            <svg-icon
                [class.active]="selectedTypeOfPicture === 'gif'"
                (click)="openInputForDescription('gif')"
                src="assets/svg/form/gif.svg" />
            <svg-icon
                [class.active]="showEmojiPicker"
                (click)="toggleEmojiPicker()"
                src="assets/svg/form/smile.svg" />
        </div>
        <emoji-mart
            class="emoji-mart"
            [set]="'twitter'"
            [showPreview]="false"
            *ngIf="showEmojiPicker"
            (emojiSelect)="addEmoji($event)"
            title="Pick your emoji…"></emoji-mart>
    </div>

    <input
        hidden
        class="description-pictures__input"
        (change)="onFileSelected($event)"
        #descriptionPictures
        accept=".jpg,.png,.jpeg"
        type="file" />
</div>
