<div
    class="topic-description"
    [class.topic-description--focus]="isDescriptionFocused"
    [class.topic-description--error]="hasErrorClass">
    <app-textarea
        #descriptionInput
        id="description"
        name="description"
        label="Description"
        placeholder="Explain why this topic matters in a short, engaging way"
        [value]="textControl?.value || ''"
        formControlName="description"
        [hasErrorClass]="hasErrorClass"
        (emitFocus)="onFocus()"
        (emitBlur)="onBlur()"
        (onInput)="handleInput($event)" />

    <div class="description-pictures">
        <div class="description-pictures__footer">
            <div class="description-pictures__buttons">
                <svg-icon
                    [class.active]="showEmojiPicker"
                    (click)="toggleEmojiPicker()"
                    src="assets/svg/form/smile.svg" />
            </div>
            <app-topic-description-counter [length]="(descriptionLength$ | async) || 0" />
        </div>
        <emoji-mart
            class="emoji-mart"
            [set]="'twitter'"
            [showPreview]="false"
            *ngIf="showEmojiPicker"
            (emojiSelect)="addEmoji($event)"
            title="Pick your emoji…"></emoji-mart>
    </div>
</div>
