.topic-description {
    position: relative;
    z-index: 2;
    app-textarea {
        height: 164px;
    }
    &::ng-deep {
        textarea,
        textarea:focus {
            border-bottom: 0;
            border-bottom-color: transparent;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.topic-description--focus {
        .description-pictures {
            border-color: var(--accent-color);
            border-top-color: var(--light-grey-color);
        }
    }
    &.topic-description--error {
        .description-pictures {
            border-color: var(--error-color);
            border-top-color: var(--light-grey-color);
        }
    }
}

.description-pictures {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: var(--white-color);
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
    border-top-color: var(--light-grey-color);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 12px 16px;
    transition: all 0.02s;

    svg-icon {
        height: 16px;
        cursor: pointer;
        transition: all 0.15s;

        &.active {
            ::ng-deep svg path {
                fill: var(--accent-color);
            }
        }

        &:hover {
            scale: 1.15;
        }
    }

    emoji-mart {
        position: absolute;
        top: 102%;
        left: 0;
        right: 0;
        z-index: 1;

        &:ng-deep {
            .emoji-mart {
                width: 100% !important;
            }
        }
    }
}

.description-pictures__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}
.description-pictures__buttons {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
