@use "../../../../../styles/mixins" as *;

:host {
    app-container {
        display: grid;
        height: 100%;
        padding-bottom: 32px;
    }
}

.profile {
    height: 100%;
    padding: 48px;
    border-radius: 20px;
    background: linear-gradient(
        267.31deg,
        rgba(119, 0, 238, 0.04) 1.01%,
        rgba(119, 0, 238, 0.04) 99.02%
    );
}

.profile__title {
    @include title-32px;
    margin-bottom: 24px;
}

.profile__form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
