<app-profile-layout [isLoading]="isLoading">
    <app-profile-header heading="Profile">
        <app-menu [content]="menuContent">
            <app-icon-button
                label="More"
                [size]="36"
                variant="outline">
                <svg-icon
                    src="assets/svg/more-dots.svg"
                    aria-label="more" />
            </app-icon-button>
        </app-menu>
    </app-profile-header>
    <app-profile-form
        [initialValues]="profileFormvalues"
        *ngIf="profileService.profile$ | async" />
</app-profile-layout>

<ng-template #menuContent>
    <div class="profile-menu">
        <button
            mat-menu-item
            (click)="onClickDelete()">
            <span class="profile-menu__item">
                <svg-icon src="assets/svg/trash-delete.svg" />
                <span>Delete Account</span>
            </span>
        </button>
    </div>
</ng-template>
