@use '../../../../../styles/mixins' as *;

:host {
    display: block;
}

#popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;    
    padding: 72px 38px;
    background-color: var(--white-popup);
}

.mobile {
    display: none;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.heart {
    width: 58px;
    height: 64px;
    margin-bottom: 24px;

    svg {
        width: 100%;
        height: 100%;
    }
}

h1 {
    @include title-32px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    @include text-16px;
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }

    #popup {
        padding: 64px 20px;
    }

    #close {
        top: 10px;
        right: 10px;
    }

    h1 {
        @include title-20px;
    }

    p {
        @include text-14px;
    }

    #heart {
        width: 48px;
        height: 48px;

        ::ng-deep svg {
            width: 48px;
            height: 48px;
        }
    }
}


