<div id="popup">

    <app-close-button 
        id="close"
        (handleClick)="onCloseDialog()" />

    <svg-icon 
        id="heart" 
        src="assets/svg/logo/logo64.svg" 
        heartBeatAnimation [isBlink]="true" />

    <h1> You're Almost There! </h1>
    
    <p> Pulsing is just one tap away, but you’ll <br class="mobile"> need the Pulse Up <br class="desktop"> app to join the <br class="mobile"> action! Download now and be part of <br> what’s trending. 🚀🔥</p>

    <app-get-app-button [design]="'new'" [isOnePlatform]="true"/>

</div>