.map-info-button {
    width: 32px;
    min-width: 32px;
    height: 32px;

    svg-icon {
        width: 18px;
        height: 18px;
    }
}

.map-info-button__icon {
    width: 22px;
    height: 22px;

    svg {
        width: 100%;
        height: 100%;
    }
}