@use "../../../../../../styles/mixins" as *;

.about__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    column-gap: 24px;

    @include media-md {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        column-gap: 0;
        row-gap: 24px;
    }
}

.about__info {
    flex: 1 1 0;
    max-width: 480px;

    @include media-md {
        max-width: 100%;
    }
}

.about__image {
    display: flex;
    justify-content: flex-end;
    
    img {
        width: 100%;
        height: auto;
        max-width: 430px;
        max-height: 340px;
        border-radius: 20px;
        object-fit: cover;
    }
}

.about__heading {
    @include title-32px;
    margin-bottom: 16px;
    max-width: 460px;

    @include media-sm {
        @include title-20px;
    }
}

.about__text {
    @include text-14px;
    margin-bottom: 8px;
}

.about__action {
    margin-top: 40px;
}

.about__action {
    width: 100%;
    max-width: 200px;
    margin: 40px auto 0;

    @include media-xs {
        max-width: 100%;
    }
}
