<div
    class="pulse"
    fadeIn
    [childrenFadeIn]="true">
    <div class="pulse__header">
        <img
            class="pulse__header-logo"
            [src]="icon"
            width="160"
            height="160"
            alt="pulse icon" />
        <div class="pulse__header-title">
            <h2>{{ title }}</h2>
            <span>{{ name$ | async }}</span>
        </div>
    </div>

    <div class="pulse__info">
        <div class="pulse__info-description">
            <div
                class="pulse__info-description-text"
                [class.pulse__info-description-text--read-more]="isReadMore"
                #description
                [innerHTML]="isReadMore ? longDescription : shortDescription"></div>
            @if (!isReadMore) {
                <button
                    class="pulse__info-description-read-more"
                    (click)="onReadMore()">
                    Read More
                </button>
            }
        </div>
        <div class="pulse__info-keywords">
            @for (keyword of keywords; track keyword) {
                <div>{{ keyword }}</div>
            }
        </div>
        <div class="pulse__info-media">
            <img
                *ngIf="picture"
                [src]="picture"
                width="275"
                height="180"
                [alt]="title" />
            @if (topicLocationCoordinates) {
                <div class="pulse-map">
                    <p class="pulse-map__top-text">Your topic will appear here first</p>
                    <div class="pulse__info-media__map">
                        <svg-icon
                            [src]="'assets/svg/location-accent.svg'"
                            class="pulse__info-media__map-marker" />
                        <span class="pulse-map__location-name">{{ topicLocationName }}</span>
                        <app-map
                            [isPreview]="true"
                            [zoom]="[6]"
                            [minZoom]="6"
                            [center]="[
                                topicLocationCoordinates.lng,
                                topicLocationCoordinates.lat,
                            ]" />
                    </div>
                    <p class="pulse-map__bottom-text">
                        Auto-pulse from this location active for 7 days
                    </p>
                </div>
            }
        </div>
    </div>

    <div class="pulse__submit">
        <app-secondary-button
            size="large"
            [fullWidth]="true"
            (handleClick)="onEdit()">
            Edit
        </app-secondary-button>
        <app-primary-button
            size="large"
            [fullWidth]="true"
            [loading]="(isSubmitting | async) || false"
            [disabled]="(isSubmitting | async) || false"
            (handleClick)="onPublish()">
            Publish
        </app-primary-button>
    </div>
</div>
