@use "../../../../../styles/mixins" as *;

:host {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 18px 20px 48px;
    background-color: #fff;
}

.pulse {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 570px;
    width: 100%;
}

.pulse__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
}

.pulse__header-logo {
    max-width: 160px;
    max-height: 160px;
    width: 100%;
    height: 160px;
    object-fit: contain;

    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--light-grey-color);
}

.pulse__header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    h2 {
        @include title-32px;
        text-align: center;
    }

    span {
        display: flex;
        align-items: center;
        gap: 9px;

        @include text-14px;
        color: var(--dark-grey-color);
    }
}

.pulse__info-description {
    &-text {
        @include text-16px;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;

        white-space: pre-wrap;

        &--read-more {
            -webkit-line-clamp: unset;
        }
    }

    &-read-more {
        display: inline-block;
        @include link-16px;
        color: var(--accent-color);
        margin-top: 4px;
        font-weight: 600;
        cursor: pointer;
    }

    margin-bottom: 10px;
}

.pulse__info-keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 11px;

    div {
        background: rgb(from var(--accent-color) r g b / 0.1);
        padding: 2px 8px 2px 8px;
        border-radius: 20px;

        @include text-16px;
        color: var(--accent-color);
        font-weight: 400;
    }
}

.pulse__info-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    gap: 20px;
    margin-top: 20px;

    @include media-md {
        flex-direction: column;
    }

    img {
        height: auto;
        border-radius: 10px;
        min-width: 275px;
        max-width: 100%;
        max-height: 180px;
        object-fit: contain;
    }

    &__map {
        position: relative;
        width: 275px;
        height: 180px;

        app-map {
            pointer-events: none;
            width: 100%;
            height: 100%;
            cursor: pointer;

            &::ng-deep {
                .map-container {
                    border-radius: 10px;
                }
            }
        }
    }

    &__map-marker {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        &::ng-deep {
            svg path {
                fill: var(--accent-color);
            }
        }
    }
}

.pulse-map__top-text {
    @include text-16px;
    margin-bottom: 16px;
}

.pulse-map__bottom-text {
    @include text-12px;
    color: var(--dark-grey-color);
    margin-top: 8px;
}

.pulse-map__location-name {
    @include text-12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 16px);
    width: 100%;
    padding: 0 8px;
    text-align: center;
    z-index: 1;
    text-shadow: 0px 0px 6px #00000040;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.pulse__submit {
    width: 100%;
    max-width: 320px;
    margin: 36px auto 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}