
<footer>
    
    <div class="left-side">
        <ul>
            <li>
                <a [routerLink]="'/' + CommunityRoutes.TERMS" [routerLinkActive]="CommunityRoutes.TERMS">
                    Terms of Use
                </a>
            </li>
            <li>
                <a [routerLink]="'/' + CommunityRoutes.PRIVACY" [routerLinkActive]="CommunityRoutes.PRIVACY">
                    Privacy Policy
                </a>
            </li>
            <li>
                <a [routerLink]="'/'+ CommunityRoutes.SUPPORT" [routerLinkActive]="CommunityRoutes.SUPPORT">
                    Support
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-logo">
        <a class="footer-logo_desctop" routerLink="/" aria-label="home">
            <svg-icon src="assets/svg/logo.svg" />
        </a>
        <a class="footer-logo_mobile" routerLink="/" aria-label="home">
            <svg-icon src="assets/svg/logo-mobile.svg" />
        </a>
    </div>

    <small class="right-side">All right reserved</small>

    @if (isToShowVersionOfApp) {
        <div class="version">
            {{ version.major }}.{{ version.minor }}.{{ version.patch }}
        </div>
    }
</footer>
