@use "../../../../styles/mixins" as *;

:host {
    display: block;
    padding: 20px;
    box-shadow: 0px -1px 0px 0px #8386a533;
}

footer {
    --logo-width: 160px;

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: calc(50% - calc(var(--logo-width) / 2)) var(--logo-width) calc(
            50% - calc(var(--logo-width) / 2)
        );
    align-items: center;

    @media screen and (max-width: 850px) {
        grid-template-columns: 100%;
        row-gap: 16px;
    }
}

.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 40px;
    width: auto;
}

.footer-rights {
    @include text-14px;
    text-align: right;
    color: var(--dark-grey-color);

    @media screen and (max-width: 850px) {
        text-align: center;
        grid-column: 1 / 3;
    }
}

ul {
    display: flex;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (max-width: 850px) {
        justify-content: center;
    }

    li {
        @include text-14px;
        color: var(--black-color);

        a {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 2px;
                width: 0%;
                background-color: var(--accent-color);
                transition: all 0.3s;

                bottom: -8px;
                text-align: right;
            }

            &.active:before {
                width: 100%;
            }
        }
    }
}

.version {
    position: absolute;
    right: 8px;
    margin-bottom: -54px;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.4;
}

.footer-logo {
    @media screen and (max-width: 850px) {
        display: flex;
        justify-content: center;
    }
}

.footer-logo_desctop {
    display: block;
}
.footer-logo_mobile {
    display: none;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 16px;

    @media screen and (max-width: 850px) {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 16px;
        grid-row-gap: 24px;
        justify-content: center;
        column-gap: unset;
    }
}

.footer-social__link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--light-grey-color);
}

@media screen and (max-width: 760px) {
    .footer-logo_desctop {
        display: none;
    }
    .footer-logo_mobile {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .version {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    footer {
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }

    ul {
        gap: 20px;
        justify-content: space-evenly;
    }
}
