@use "../../../../styles/mixins" as *;

:host {
    display: block;
    padding: 20px;
    box-shadow: 0px -1px 0px 0px #8386A533;
}

footer {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: calc(50% - 62px) 124px calc(50% - 62px);
    align-items: center;

    @media screen and (max-width: 850px) {
        grid-template-columns: 100%;
        row-gap: 16px;
    }
}



.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 40px;
    width: auto;
}

.right-side {
    @include text-14px;
    text-align: right;
    color: var(--dark-grey-color);

    @media screen and (max-width: 850px) {
        text-align: center;
    }
}

ul {
    display: flex;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (max-width: 850px) {
        justify-content: center;
    }

    li {
        @include text-14px;
        color: var(--black-color);

        a {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 2px;
                width: 0%;
                background-color: var(--accent-color);
                transition: all .3s;

                bottom: -8px;
                text-align: right;
            }

            &.active:before {
                width: 100%;
            }
        }
    }
}

.version {
    position: absolute;
    right: 8px;
    margin-bottom: -54px;
    font-weight: 400;
    font-size: 14px;
    opacity: .4;
}

.footer-logo {
    @media screen and (max-width: 850px) {
        display: flex;
        justify-content: center;
    }
}

.footer-logo_desctop {
    display: block;
}
.footer-logo_mobile {
    display: none;
}

@media screen and (max-width: 760px) {
    .footer-logo_desctop {
        display: none;
    }
    .footer-logo_mobile {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .version {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    
        
    footer {
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }

    ul {
        gap: 20px;
        justify-content: space-evenly;
    }

    



}
