<div
    class="pulse"
    fadeIn
    [childrenFadeIn]="true"
    *ngIf="!isLoading">
    <div class="pulse__back">
        <app-secondary-button
            class="pulse-back"
            (handleClick)="backToPulsePage()">
            <span class="pulse-back__inner">
                <span class="pulse-back__icon"></span>
                <span>Back</span>
            </span>
        </app-secondary-button>
    </div>
    <div class="pulse__header pulse-header">
        <div class="pulse-header__row">
            <img
                class="pulse__header-logo"
                [src]="pulse.icon"
                width="160"
                height="160"
                alt="pulse icon"
                appLoadImgPath />
            <div class="pulse__header-title">
                <h2>{{ pulse.title }}</h2>
                <div>
                    {{ pulse.author.name }}
                </div>
                <div class="pulse__last-votes">
                    {{ pulse.stats?.lastDayVotes || 0 | formatNumber }}
                    Pulses received in last 24 hours
                </div>
            </div>
        </div>
    </div>

    <app-map
        [pulseId]="pulse.id"
        [isToShowHeatmap]="true"
        [isHideDebugger]="true"
        [isLocationName]="false"
        [isToShowMarkers]="false"
        [isToShowWeights]="true"
        [center]="center"
        [zoom]="zoom"
        [minZoom]="minZoom"
        [maxBounds]="maxBounds"
        [showEmptyPolygons]="false"
        [mode]="'heatmap'"/>
</div>
