@use "../../../../../styles/mixins" as *;

:host {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 18px 20px 48px;
}

.pulse {
    display: flex;
    flex-direction: column;
    max-width: 1030px;
    width: 100%;

    .pulse-header {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    .pulse-header__row {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 24px;
    }

    &__header {
        margin-bottom: 24px;

        &-logo {
            max-width: 160px;
            max-height: 160px;
            width: 100%;
            height: 160px;

            border-radius: 10px;
            border: 1px solid var(--light-grey-color);
        }

        &-title {
            display: flex;
            flex-direction: column;
            gap: 4px;

            h2 {
                @include title-32px;
            }

            div {
                display: flex;
                align-items: center;
                gap: 9px;

                @include text-14px;
                color: var(--dark-grey-color);
            }

            .pulse__last-votes {
                @include text-16px;
                padding-top: 4px;
            }
        }
    }

    app-map::ng-deep .map-container {
        height: 600px !important;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        cursor: grab;
        margin-top: 0px !important;
    }

    app-map {
        margin-bottom: 32px;
    }

    &__button {
        margin: 0 auto;
    }

    app-primary-button::ng-deep button {
        width: 180px;
        height: 48px;
    }
}

.pulse__back {
    display: flex;
    margin-bottom: 24px;
}

.pulse-container {
    width: 100%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .pulse-header__row {
        gap: 16px;
        justify-content: flex-start;
    }
    .pulse__header {
        margin-bottom: 16px;

        &-logo {
            max-width: 80px;
            max-height: 80px;
            width: 100%;
            height: 80px;
        }

        &-title {
            display: flex;
            flex-direction: column;
            gap: 4px;

            h2 {
                @include title-20px;
            }
        }

        .pulse-header__row {
            max-width: 450px;
        }
    }

    app-map {
        margin-bottom: 24px !important;
    }
}

@media screen and (max-width: 650px) {
    :host {
        padding: 20px 20px 48px;
    }

    .pulse__header .pulse-header__row {
        margin: 0;
        align-items: flex-start;
    }
}
