@use "../../../../../styles/mixins" as *;

:host {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.pulse {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pulse-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 16px;
    align-items: center;
    padding: 20px 16px;

    @include media-sm {
        padding: 16px;
        padding-right: 8px;
    }
}

.pulse-header__topic {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 16px;

    @include media-sm {
        column-gap: 12px;
    }
}

.pulse-header__logo {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--light-grey-color);
}
.pulse-header__title {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h2 {
        @include title-24px;

        @include media-sm {
            @include link-18px;
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: 9px;

        @include text-14px;
        color: var(--dark-grey-color);
    }

    .pulse__last-votes {
        @include text-16px;
        padding-top: 4px;
    }
}

.pulse__map {
    display: grid;
    grid: 1fr / 1fr;
    flex-grow: 1;

    &::ng-deep .map-container {
        margin-top: 0px !important;
        border-radius: 0;
        cursor: grab;
    }
}

.pulse-header__close {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 16px;
        height: 16px;
    }
}