<app-header />

<main
    class="pulse"
    fadeIn
    [childrenFadeIn]="true"
    *ngIf="!isLoading">
    <div class="pulse-header">
        <div class="pulse-header__topic">
            <img
                class="pulse-header__logo"
                [src]="pulse.icon"
                width="40"
                height="40"
                alt="pulse icon"
                appLoadImgPath />
            <div class="pulse-header__title">
                <h2>{{ pulse.title }}</h2>
                <div>
                    {{ pulse.author.name }}
                </div>
                <div class="pulse-header__last-votes">
                    {{ pulse.stats?.lastDayVotes || 0 | formatNumber }}
                    Pulses received in last 24 hours
                </div>
            </div>
        </div>
    </div>
    <app-map
        class="pulse__map"
        [center]="countryCoordinates()"
        [zoom]="zoom"
        [minZoom]="minZoom"
        [maxBounds]="maxBounds"
        [weights]="{ enabled: true }"
        (mapLoaded)="onMapLoaded($event)">
        <ng-container *ngIf="map">
            <app-map-heatmap-layer
                [map]="map"
                [topicId]="pulse.id" />
        </ng-container>
    </app-map>
</main>
