@use "../../../../../styles/mixins" as *;

.cropper {
    position: relative;
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}
.cropper__spinner {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 1;
    z-index: 2;
    background-color: var(--white-popup);
    transition: opacity 0.2s ease-in-out;

    &.cropper__spinner--visible {
        opacity: 0;
    }
    &.cropper__spinner--hidden {
        z-index: -1;
    }
}

.cropper__wrap {
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;

    &.cropper__wrap--visible {
        opacity: 1;
        overflow: visible;
    }

    image-cropper {
        width: 100%;

        &::ng-deep {
            img {
                min-height: 300px;
                width: 100%;
            }
        }
    }
}

.cropper-tools {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 32px;

    @include media-sm {
        margin-top: 16px;
    }
}

.cropper-tools__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-sm {
        flex-direction: column-reverse;
        row-gap: 8px;
    }
}
.cropper-tools__zoom {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &::ng-deep {
        &.mat-accent.mat-mdc-slider {
            --mdc-slider-handle-color: var(--accent-color);
            --mdc-slider-focus-handle-color: var(--accent-color);
            --mdc-slider-hover-handle-color: var(--accent-color);
            --mdc-slider-active-track-color: var(--accent-color);
            --mdc-slider-with-tick-marks-active-container-color: #ffffff;
            --mdc-slider-label-container-color: var(--accent-color);
            --mdc-slider-label-label-text-color: #ffffff;
            --mdc-slider-with-overlap-handle-outline-color: #ffffff;
            --mat-slider-ripple-color: var(--accent-color);
            --mat-slider-hover-state-layer-color: rgba(94, 0, 204, 0.05);
            --mat-slider-focus-state-layer-color: rgba(94, 0, 204, 0.2);
        }
    }
}

.cropper-tools__rotate {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: 8px;

    button {
        padding: 6px;
        border: none;
        background: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &::ng-deep svg {
            width: 24px;
            height: 24px;
            transform: rotate(-45deg);
            fill: var(--accent-color);
        }

        &:nth-child(2) {
            transform: scaleX(-1);
        }
    }
}

.cropper-tools__buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;

    @include media-sm {
        justify-content: center;
    }
}

.cropper-tools__button {
    width: 120px;
}
