<app-auth-layout>
    <main class="signin__main">
        <svg-icon
            src="assets/svg/logo.svg"
            aria-label="pulseup" />
        <div class="signin__content">
            <h1 class="signin__title">Welcome</h1>
            <app-auth-form (submitForm)="navigateToConfirmPage()" />
        </div>
        <app-link-button
            class="signin__guest"
            (click)="onClickGuest()">
            Continue as Guest
        </app-link-button>
    </main>
</app-auth-layout>
