@use "../../../../../styles/mixins" as *;

.signin__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    svg {
        width: 168px;
        height: 54px;
    }
}

.signin__content {
    width: 100%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 0 20px;

    @include media-md {
        padding: 0;
    }
}

.signin__title {
    @include title-32px;
    text-align: center;
}

.signin__guest {
    @include link-16px;
}

.auth-form {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &::ng-deep {
        --mat-form-field-container-vertical-padding: 12px;

        .mat-mdc-text-field-wrapper {
          z-index: 1;
        }

        .mdc-text-field--outlined .mat-mdc-form-field-infix,
        .mdc-text-field--no-label .mat-mdc-form-field-infix {
            min-height: auto;
        }

        /* Change the border color */
        .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid)
            .mdc-notched-outline__leading,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid)
            .mdc-notched-outline__notch,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid)
            .mdc-notched-outline__trailing {
            border-color: var(--light-grey-color) !important;
        }

        /* Change the border width */
        .mdc-text-field--outlined:not(.mdc-text-field--disabled)
            .mdc-notched-outline
            .mdc-notched-outline__leading {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .mdc-text-field--outlined:not(.mdc-text-field--disabled)
            .mdc-notched-outline
            .mdc-notched-outline__trailing {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        /* Change the border focused color */
        .mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid) .mdc-notched-outline__leading,
        .mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid) .mdc-notched-outline__notch,
        .mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid) .mdc-notched-outline__trailing {
            border-color: var(--accent-color) !important;
        }
    }
}

.auth-form__field {
  position: relative;
  z-index: 100;
}

.signin__small {
    @include text-14px;
    color: var(--dark-grey-color);

    a {
        font-weight: 600
    }
}

.auth-form__label {
    @include text-14px;
    color: var(--dark-grey-color);
}
