@use "../../../../../styles/mixins" as *;

.signin__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    svg {
        width: 168px;
        height: 54px;
    }
}

.signin__content {
    width: 100%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 0 20px;

    @include media-md {
        padding: 0;
    }
}

.signin__title {
    @include title-32px;
    text-align: center;
}

.signin__guest {
    @include link-16px;
}

.auth-form {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.auth-form__field {
  position: relative;
  z-index: 100;
}

.signin__small {
    @include text-14px;
    color: var(--dark-grey-color);

    a {
        font-weight: 600
    }
}

.auth-form__label {
    @include text-14px;
    color: var(--dark-grey-color);
}
