<div class="auth">
    <main class="auth__main">
        <svg-icon
            src="assets/svg/logo.svg"
            aria-label="pulseup" />
        <div class="auth__content">
            <h1 class="auth__title">Welcome Back!</h1>
            <form
                class="auth-form"
                [formGroup]="signInForm"
                (ngSubmit)="onSubmit()">
                <label for="phone" class="auth-form__label">Phone</label>
                <mat-form-field appearance="outline" class="auth-form__field">
                    <input
                        matInput
                        #telInput
                        type="tel"
                        id="phone"
                        formControlName="phone"
                        [errorStateMatcher]="errorStateMatcher" />
                    <mat-error>Invalid phone number</mat-error>
                </mat-form-field>
                <div id="recaptcha-container"></div>
                <app-primary-button
                    [fullWidth]="true"
                    size="large"
                    type="submit">
                    Continue
                </app-primary-button>
            </form>
            <small class="auth__small">
                By creating an account, you agree to our
                <a [routerLink]="termsRoute">Terms</a>
                and have read and acknowledge the
                <a [routerLink]="privacyRoute">Privacy Policy</a>
            </small>
        </div>
        <button class="auth__guest">Continue as Guest</button>
    </main>
    <aside class="auth__aside">
        <svg-icon
            src="assets/svg/logo.svg"
            aria-label="pulseup" />
    </aside>
</div>
