<div class="stats-strip">
    <div class="stats-strip__item">
        <div class="stats-strip__value">{{ stats().activeTopics }}</div>
        <div class="stats-strip__label">Active Topics</div>
    </div>

    <div class="stats-strip__item">
        <div class="stats-strip__value">{{ stats().totalUsers }}</div>
        <div class="stats-strip__label">Total Pulses</div>
    </div>

    <div class="stats-strip__item">
        <div class="stats-strip__value">{{ stats().totalVotes | formatNumber }}</div>
        <div class="stats-strip__label">Total Votes</div>
    </div>
</div>


<h2>What’s Trending Right Now?</h2>

<div class="pulses">
    @if (isLoading()) {
        <app-skeleton
            height="210px"
            class="pulses__skeleton-item"></app-skeleton>
        <app-skeleton
            height="210px"
            class="pulses__skeleton-item"></app-skeleton>
        <app-skeleton
            height="210px"
            class="pulses__skeleton-item"></app-skeleton>
    } @else if (isError()) {
        <div></div>
    } @else {
        @for (topicData of topics(); track topicData.topic.id; let i = $index) {
            <a
                class="pulses__item"
                [routerLink]="'/topic/' + topicData.topic.id">
                <app-small-pulse>
                    <app-small-pulse-header>
                        <app-small-pulse-icon
                            [url]="topicData.topic.icon"
                            [label]="topicData.topic.title">
                            <app-small-pulse-badge
                                [text]="(i + 1).toString()"
                                [leftIcon]="i === 0 ? 'assets/svg/cup.svg' : undefined" />
                        </app-small-pulse-icon>
                        <app-small-pulse-stats>
                            <app-small-pulse-stats-item
                                [value]="topicData.uniqueUsers | formatNumber"
                                icon="assets/svg/fans.svg" />
                            <app-small-pulse-stats-item
                                [value]="topicData.votes | formatNumber"
                                icon="assets/svg/pulse.svg" />
                        </app-small-pulse-stats>
                    </app-small-pulse-header>
                    <app-small-pulse-title>{{ topicData.topic.title }}</app-small-pulse-title>
                    <app-small-pulse-subtitle>{{
                        topicData.topic.author.name
                    }}</app-small-pulse-subtitle>
                </app-small-pulse>
            </a>
        }
    }
</div>

<div class="pulses__button">
    <app-secondary-button
        [routerLink]="'/' + AppRoutes.Landing.LEADERBOARD"
        routerLinkActive="active"
        [fullWidth]="true"
        size="large"
        [color]="buttonColor">
        See more
    </app-secondary-button>
</div>
