@use "../../../../../../../styles/mixins" as *;

h2 {
    @include title-32px;
    text-align: center;
    margin-bottom: 24px;

    @media screen and (max-width: 500px) {
        @include title-20px;
        margin-bottom: 16px;
    }
}

.pulses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 1080px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 500px) {
        gap: 16px;
    }
}

.pulses__button {
    width: 100%;
    max-width: 200px;
    margin: 40px auto 0;
    @include media-xs {
        max-width: 100%;
    }
}

.pulses__item {
    flex: 1 1 0;

    @media screen and (max-width: 1080px) {
        width: 100%;
        max-width: 320px;
    }
}
