<h2>What’s Trending Right Now?</h2>

<div class="pulses">
    @for (topicData of data$ | async; track topicData.topic.id; let i = $index) {
        <app-top-pulse-card
            [data]="topicData"
            [index]="i + 1" />
    }
</div>

<div class="pulses__button">
    <app-secondary-button
        [routerLink]="'/' + AppRoutes.Landing.TOPICS"
        routerLinkActive="active"
        [fullWidth]="true"
        size="large"
        [color]="buttonColor">
        See more
    </app-secondary-button>
</div>
