@use "../../../../../styles/mixins" as *;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.empty-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: var(--black-color);
        }
    }
}

h2 {
    @include title-24px;
}
p {
    @include text-16px;
    color: var(--dark-grey-color);
    line-height: 1.25;
    text-align: center;
}

span {
    font-style: italic;
}

.empty-actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
