<svg-icon
    src="assets/svg/search.svg"
    class="empty-icon"
    aria-hidden="true" />

<h2>No topics found</h2>
<div>
    @if (message.length) {
        @for (text of message; track $index) {
            <p>{{ text }}</p>
        }
    } @else {
        <p><span>"{{ searchString }}"</span> did not match any topics.</p>
        <p>Would you like to create a new topic?</p>
    }
</div>
<div class="empty-actions">
    <app-primary-button
        [size]="'large'"
        [routerLink]="suggestTopicsLink">
        Start a topic
    </app-primary-button>
</div>
