:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--white-color);
}
.profile-page {
    flex: 1 1 auto;

    &::ng-deep {
        // .app-container {
        //     @media screen and (max-width: 820px) {
        //         padding: 0;
        //     }
        // }
    }
}
