:host {
    width: 100%;
    display: flex;
    // align-items: center;
    flex-direction: column;
    padding: 0px 0px 48px;


    ::ng-deep .map-container {
        height: 400px !important;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        cursor: grab;
        margin-top: 0px !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    max-width: 1030px;
    width: 100%;
}


@media screen and (max-width: 500px) {

    :host {
        ::ng-deep .map-container {
            height: 480px !important;
        }
    }

    .container {
        row-gap: 40px;
    }
}