@use "../../../../../styles/mixins" as *;

:host {
    width: 100%;
    display: flex;
    // align-items: center;
    flex-direction: column;
    padding: 0px 0px 48px;


    ::ng-deep .map-container {
        height: 500px !important;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        cursor: grab;
        margin-top: 0px !important;
    }
}


@media screen and (max-width: 500px) {

    :host {
        ::ng-deep .map-container {
            height: 480px !important;
        }
    }
}


section.section {
    padding-top: 75px;
    padding-bottom: 75px;

    @include media-lg {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &:first-child {
        padding-top: 150px;

        @include media-lg {
            padding-top: 80px;
        }
    }
}

.main_container {
    display: flex;
    flex-direction: column;
}