@if (window && window.innerWidth >= 650) {
    <div class="logo desktop">
        <svg-icon [src]="'assets/svg/logo/logo-hexagon.svg'" id="hexagon"></svg-icon>

        <div class="icons-wrap">
            <div id="icons">
                <svg-icon [src]="'assets/svg/logo/logo3.svg'" id="block1" class="icon"></svg-icon>
                <!-- <svg-icon [src]="'assets/svg/logo/logo2.svg'" id="block2" class="icon"></svg-icon> -->
            </div>
        </div>
    </div>
} 
@else {
    <div class="logo mobile">
        <svg-icon [src]="'assets/svg/logo/hexagon-mobile.svg'" id="hexagon"></svg-icon>

        <div class="icons-wrap">

            <div id="icons">
                <svg-icon [src]="'assets/svg/logo/logo3-mobile.svg'" id="block1" class="icon"></svg-icon>
                <!-- <svg-icon [src]="'assets/svg/logo/logo2-mobile.svg'" id="block2" class="icon"></svg-icon> -->
            </div>
        </div>
    </div>
}
<!-- 
    <div class="mobile-wrap">

        <div class="logo mobile">
    
            <svg-icon [src]="'assets/svg/logo/hexagon-mobile.svg'" id="hexagon"></svg-icon>
        
            <div class="icons-wrap">
        
                <div id="icons">
                    <svg-icon [src]="'assets/svg/logo/logo3-mobile.svg'" id="block1" class="icon"></svg-icon>
                    <svg-icon [src]="'assets/svg/logo/logo2-mobile.svg'" id="block2" class="icon"></svg-icon>
                </div>
        
            </div>
        
        </div>
    
        <div id="name">
            <svg-icon [src]="'assets/svg/logo/go-pulse-mobile.svg'"></svg-icon>
        </div>

    </div>

    <p>
        Pulse is the heartbeat of what matters
    </p> -->
