<div class="map-page">
    <div
        class="map-page__switch"
        [class.map-page__switch--contrast]="projection === 'globe'">
        <app-switch
            [label]="{
                left: 'Mercator',
                right: 'Globe'
            }"
            [color]="projection === 'globe' ? '#fff' : '#000'"
            (change)="onSwitchChange($event)" />
    </div>
    @if (projection === "globe") {
    <app-globe-map (markerClick)="onMarkerClick($event)" />
    } @else {
    <app-mercator-map (markerClick)="onMarkerClick($event)" />
    }
</div>
