@use '../../../../../styles/mixins'as *;

:host {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 48px 0px;
    gap: 24px;
}

h1 {
    @include title-32px;
}

.description {
    font-size: 14px;
    color: var(--dark-grey-color);
    margin-top: -10px;
    line-height: 1.2;
}