@use "../../../../styles/mixins" as *;

:host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
        &.preview {
            cursor: pointer !important;
        }
    }
}

.map-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: grab;

    &.map-container_rounded {
        border-radius: 20px;
    }
    &.map-container_preview {
        cursor: auto;
    }
}

::ng-deep .mapboxgl-control-container {
    display: none;
}
