<div
    class="card-wrap"
    routerLink="/topic/{{ pulse.id }}">
    
    <div class="card-heading">
        <div class="card-heading__content">
            <ng-content select="card-heading"></ng-content>
        </div>
        <svg-icon
            *ngIf="showArrow"
            src="assets/svg/arrow-left.svg"
            class="card-heading__arrow" />
    </div>

    @if (showTopBadge) {
        <div
            class="card-top-badge"
            routerLink="/topic/{{ pulse.id }}">
            <ng-content select="[card-top-badge]"></ng-content>
        </div>
    }

    <div class="card-body">
        <ng-content select="card-body"></ng-content>
    </div>

    <div class="card-footer">
        <ng-content select="card-footer"></ng-content>
    </div>

</div>
