@use "../../../../../styles/mixins" as *;

:host {
    display: flex;
    padding: 20px;
    min-height: 180px;
    max-width: 606px;
    width: 100%;
    column-gap: 20px;

    border-radius: 10px;

    box-shadow: 0px 3px 20px 0px #0000001F;
    background-color: white;

    transition: all .3s;

    overflow: hidden;

    &:hover {
        box-shadow: 0px 3px 20px 0px #00000036;
    }

    cursor: pointer;
}

.top {
    display: flex;
    gap: 11px;
    margin-bottom: 20px;
}

.logo {
    position: relative;

    width: 140px;
    height: 140px;
    min-width: 140px;

    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    padding: 5px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

.left {
    flex-shrink: 0;
}

.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.description {
    margin-top: 8px;
    opacity: 0.8;

    font-size: 16px;
    line-height: 19px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* after 3 line show ... */
    -webkit-box-orient: vertical;
}

.bottom {

    div {
        display: flex;
        align-items: center;
        gap: 9px;
        color: var(--dark-grey-color);

        margin-top: 10px;
    }

    svg-icon {
        width: 24px;
        height: 24px;
    }
}