@use "../../../../../styles/mixins" as *;

:host {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 0px #0000001f;
    background-color: white;
    transition: all 0.3s;
    overflow: hidden;

    &:hover {
        box-shadow: 0px 3px 20px 0px #00000036;
    }
    &:has(.card-top-badge) {
        padding-top: 40px;
    }
}

.card-top-badge {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.card-top-badge:not(:empty) {
    cursor: pointer;
}

.card-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    cursor: pointer;
}

.card-heading {
    width: 100%;
    flex-grow: 1;
    display: flex;
    column-gap: 16px;
}

.card-heading__content {
    flex-grow: 1;
}

.card-heading__arrow {
    width: 24px;
    height: 24px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}
