@use "../../../../../styles/mixins" as *;

:host {
    display: block;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 0px #0000001f;
    background-color: white;
    transition: all 0.3s;
    overflow: hidden;

    &:hover {
        box-shadow: 0px 3px 20px 0px #00000036;
    }

    @include media-xs {
        padding: 12px;
    }
}

.card-wrap {
    cursor: pointer;
}

.card-top {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 16px;

    @include media-xs {
        grid-column-gap: 12px;
    }
}

.card-heading {
    width: 100%;
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.card-heading__content {
    flex-grow: 1;
}

.card-heading__arrow {
    width: 24px;
    height: 24px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}

.card-body:not(:empty) {
    margin-top: 10px;
}

.card-footer:not(:empty) {
    margin-top: 16px;
}
