@use "../../../../../styles/mixins" as *;

:host {
    display: flex;
    padding: 20px;
    min-height: 180px;
    max-width: 606px;
    width: 100%;
    column-gap: 20px;

    border-radius: 10px;

    box-shadow: 0px 3px 20px 0px #0000001f;
    background-color: white;

    transition: all 0.3s;

    overflow: hidden;

    &:hover {
        box-shadow: 0px 3px 20px 0px #00000036;
    }

    cursor: pointer;

    @media screen and (max-width: 650px) {
        min-height: 112px;
    }
}

.top {
    display: flex;
    gap: 11px;
    margin-bottom: 20px;
}

.logo {
    position: relative;

    width: 140px;
    height: 140px;
    min-width: 140px;

    border: 1px solid var(--light-grey-color);
    border-radius: 8px;
    padding: 5px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 650px) {
        width: 80px;
        height: 80px;
        min-width: 80px !important;
        max-height: 80px;

        border-radius: 8px;
        padding: 5px;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

.left {
    flex-shrink: 0;
}

.right {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    h3 {
        @media screen and (max-width: 650px) {
            @include title-20px;
            margin-bottom: 8px;
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.description {
    margin-top: 8px;
    opacity: 0.8;

    font-size: 16px;
    line-height: 19px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* after 3 line show ... */
    -webkit-box-orient: vertical;

    @media screen and (max-width: 650px) {
        display: none;
    }
}

.bottom {
    @media screen and (max-width: 650px) {
        flex-direction: column;
        @include text-14px;
        gap: 8px;
    }

    div {
        display: flex;
        align-items: center;
        gap: 9px;
        color: var(--dark-grey-color);

        margin-top: 10px;

        @media screen and (max-width: 650px) {
            margin: 0 !important;
        }
    }

    svg-icon {
        width: 24px;
        height: 24px;
        @media screen and (max-width: 650px) {
            width: 16.8px;
            height: 14px;
        }

        svg {
            @media screen and (max-width: 650px) {
                width: 16.8px;
                height: 14px;
            }
        }
    }
}
