@use "../../../../styles/mixins" as *;

.places-autocomplete__wrap {
    position: relative;
}
.places-autocomplete__input {
    @include text-16px;
    width: 100%;
    padding: 12px 32px;
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
}
.places-autocomplete__icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.places-autocomplete__right {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
.places-autocomplete__clear {
    padding: 4px;
}
.places-autocomplete__error {
    @include text-14px;
    color: var(--error-color);
    margin-top: 4px;
    text-align: center;
}

.places-autocomplete__suggestions {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-top: 4px;
    background-color: var(--white-color);
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
}
.places-autocomplete__suggestion {
    @include text-16px;
    padding: 4px 12px;
    color: var(--dark-grey-color);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
    }
}