:host {
    width: 100dvw;
    height: 100%;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    z-index: 110;

    opacity: 1;

    transition: all .4s;

    &:has(app-logo.finished-loading) {
        opacity: 0;
        pointer-events: none;
    }
}