.placeholder {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    text-align: center;
    padding: 16px;
    color: var(--dark-grey-color);
}
.placeholder__icon {
    width: 36px;
    height: 36px;
    
    svg {
        width: 100%;
        height: 100%;
        
        path {
            fill: var(--dark-grey-color);
        }
    }
}