@let options = options$ | async;
@let title = title$ | async;
@let subtitle = subtitle$ | async;
@let isSearching = isSearching$ | async;
@let isEmpty = isEmpty$ | async;

<div class="location-filter">
    <h1 class="location-filter-header">
        <svg-icon
            src="assets/svg/trophy.svg"
            class="location-filter-header__icon" />
        <span class="location-filter-header__title">
            {{ title }}
        </span>
        @if (subtitle) {
            <span class="location-filter-header__subtitle">
                {{ subtitle }}
            </span>
        }
    </h1>

    <app-popover
        trigger="manual"
        placement="bottom-end"
        variation="popper"
        [isVisible]="menuVisible()"
        (isVisibleChange)="onMenuVisibilityChange($event)">
        <button
            host
            mat-icon-button
            class="location-filter-button"
            (click)="openMenu()">
            <span class="visualy-hidden">Open menu</span>
            <svg-icon
                src="assets/svg/search.svg"
                class="location-filter-button__icon" />
        </button>
        <ul
            content
            role="menu"
            tabindex="-1"
            aria-label="locations filters"
            class="location-filter-menu">
            <li role="presentation">
                <app-location-search
                    class="location-search"
                    [shouldFocus]="menuVisible()"
                    role="presentation" />
            </li>
            @if (isSearching) {
                <li role="presentation">
                    <app-leaderboard-location-option-skeleton width="60%" />
                </li>
                <li role="presentation">
                    <app-leaderboard-location-option-skeleton width="80%" />
                </li>
                <li role="presentation">
                    <app-leaderboard-location-option-skeleton width="50%" />
                </li>
                <li role="presentation">
                    <app-leaderboard-location-option-skeleton width="90%" />
                </li>
                <li role="presentation">
                    <app-leaderboard-location-option-skeleton width="70%" />
                </li>
            } @else if (isEmpty) {
                <li
                    role="presentation"
                    class="location-filter-menu__no-results">
                    No results
                </li>
            } @else {
                @for (option of options; track $index) {
                    <li role="presentation">
                        <button
                            role="menuitem"
                            class="location-filter-option"
                            [class.location-filter-option--selected]="option.selected"
                            (click)="onSelectOption(option)">
                            {{ option.label }}
                            <span class="location-filter-option__checkbox"></span>
                        </button>
                    </li>
                }
            }
        </ul>
    </app-popover>
</div>
