<app-popup>
    <app-popup-close-button (close)="dialogRef.close()" />
    <app-popup-subtitle>Campaign</app-popup-subtitle>

    <div class="modal__inner">
        @for (goal of campaign.goals; track goal; let i = $index) {
            <div
                class="modal__goal"
                [class.modal__goal--ended]="campaignEnded">
                <div
                    class="modal__goal-title"
                    [style.color]="getGoalColor(i)">
                    {{ goal.reward }}
                    <ng-container *ngIf="isGoalCompleted(i)">
                        <svg-icon
                            *ngIf="true"
                            src="assets/svg/checked-circle-solid.svg" />
                    </ng-container>
                </div>
                <div class="modal__progress-bar">
                    <div
                        class="modal__progress-fill"
                        style="--fill-width: {{ getGoalProgress(i) }}%"
                        [class.modal__progress-fill--not-fulled]="
                            getGoalProgress(i) < 100 && !campaignEnded
                        "
                        [style.width.%]="getGoalProgress(i)"
                        [style.backgroundColor]="getGoalColor(i)"></div>
                </div>
                <div class="modal__progress-count">
                    <span>
                        {{ getGoalCurrentValue(i) }}
                    </span>
                    <span>{{ getGoalTargetValue(i) }}</span>
                </div>
            </div>
        }

        <div class="modal__footer">
            <div class="modal__duration">
                Duration:
                @if (!campaignEnded) {
                    <span>
                        {{ campaign.startsAt | date: "MMM d" }} –
                        {{ campaign.endsAt | date: "MMM d, y" }}
                    </span>
                } @else {
                    <span> Ended {{ formattedDate }} </span>
                }
            </div>
            <a
                class="modal__sponsor"
                [href]="campaign.sponsorLink"
                target="_blank">
                Sponsor:
                @if (campaign.sponsorLogo) {
                    <img
                        width="100"
                        height="30"
                        [src]="campaign.sponsorLogo"
                        alt="sponsor logo" />
                } @else {
                    <span>
                        {{ campaign.sponsoredBy }}
                    </span>
                }
            </a>
        </div>
    </div>
</app-popup>
