.modal {
    width: 335px;
    background: #ffffff;
    border-radius: 10px;
    padding: 48px 24px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.12);
    font-family: 'Inter', sans-serif;
    color: #1e1e1e;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        flex: 1;
    }

    .modal__close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 20px;
        font-weight: 400;
        color: #9ca3af;
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;
        line-height: 1;
    }
}

.modal__goal {
    margin-bottom: 20px;

    &-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        color: #1e1e1e !important;
        margin-bottom: 8px;

        text-align: center;
    }

    .modal__progress-bar {
        width: 100%;
        height: 8px;
        background: #e5e7eb;
        border-radius: 9999px;
        position: relative;
        overflow: hidden;
        margin-bottom: 4px;

        .modal__progress-fill {
            height: 100%;
            border-radius: 9999px;
            background-color: #5E00CC;
            transition: width 0.3s ease;
            animation: fillBar 1s ease-out forwards;
        }
    }

    .modal__progress-text {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #1e1e1e;

        .modal__goal-label {
            color: #1e1e1e;
        }

        .modal__goal-max {
            color: #9ca3af;
        }
    }

    .modal__progress-count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        font-size: 14px;

        span:last-child {
            color: #8386A5;
        }
    }

    &--ended {
        opacity: .5;
    }
}

.modal__footer {
    font-size: 14px;
    line-height: 20px;
    color: #9ca3af;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .modal__duration {
        display: flex;
        justify-content: space-between;

        span {
            color: #131420;
        }
    }

    .modal__sponsor {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e5e7eb;
        padding-top: 12px;

        span {
            color: #131420;
        }

        a {
            color: #5E00CC;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

a {
    outline: none;
    border: none;
}

.modal__progress-fill--not-fulled {
    height: 100%;
    border-radius: 9999px;
    background: linear-gradient(90deg, #4c00a3, #a857f8, #4d00a5);
    background-size: 200% 100%;
    animation: fillBar 1s ease-out forwards,
        gradientFlow 2s linear infinite !important;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -200% 0%;
    }
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: var(--fill-width);
    }
}