@use '../../../../../styles/mixins'as *;


:host {
    display: flex;
    justify-content: center;
    padding: 0 20px 48px 20px;
}

.wrap {
    background: linear-gradient(267.31deg,
            rgba(119, 0, 238, 0.04) 1.01%,
            rgba(119, 0, 238, 0.04) 99.02%);

    border-radius: 20px;
    max-width: 1030px;
    width: 100%;

    padding: 48px 50px;

    &__large-pulses {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__content {
        display: flex;
        justify-content: space-between
    }
}

h1 {
    @include title-32px;
    margin-bottom: 24px;
}

@media screen and (max-width: 650px) {


    :host {
        display: flex;
        justify-content: center;
        padding: 0px
    }


    .wrap {
        padding: 24px 20px 48px 20px;
        border-radius: 0px;
    }

    app-large-pulse::ng-deep .logo {
        width: 80px;
        height: 80px;
        min-width: 80px !important;
        max-height: 80px;

        border-radius: 8px;
        padding: 5px;
        overflow: hidden;
    }

    app-large-pulse {
        min-height: 112px;
    }

    app-large-pulse::ng-deep h3 {
        @include title-20px;
        margin-bottom: 8px;
    }

    app-large-pulse::ng-deep .description {
        display: none;
    }

    app-large-pulse::ng-deep .bottom {
        flex-direction: column;
        @include text-14px;
        gap: 8px;
    }

    app-large-pulse::ng-deep .bottom svg {
        width: 16.8px;
        height: 14px;
    }

    app-large-pulse::ng-deep .bottom div {
        margin: 0 !important;
    }



}

@media screen and (max-width: 650px) {
    h1 {
        margin-bottom: 16px;
    }
}