:host {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 400px;
}

.chips-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    color: var(--dark-grey-color);

    label {
        font-family: "SFProText", sans-serif;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .limit {
            font-weight: normal;
            color: #888;
            font-size: 12px;
            margin-right: 28px;
        }
    }
}

.chips-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;

    border: 1px solid #e6e7ed;
    border-radius: 10px;

    background: #fff;
    padding: 8px 10px 8px 20px;

    width: 100%;
    min-height: 48px;

    transition: border-color 0.15s linear;

    &.chips-container--error {
        border-color: var(--error-color);
    }
}

.chips-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.chips-input {
    border: none !important;
    outline: none;
    padding: 0;
    border-radius: 0;
    flex: 1;
    height: 26px;
    font-size: 16px;
    min-width: 100px;

    &::placeholder {
        color: var(--dark-grey-color);
        font-size: 16px;
    }
}

.chips-add {
    color: var(--accent-color);

    svg {
        width: 16px;
        height: 16px;
        
        path {
            fill: currentColor;
        }
    }
}

.chip {
    display: flex;
    align-items: center;
    background: #7700ee1a;

    color: #131420;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    // margin-right: 10px;

    button {
        border: none;
        background: transparent;
        color: #fff;
        margin-left: 0.5rem;
        cursor: pointer;

        svg-icon ::ng-deep svg {
            width: 10px;
            height: 10px;
        }
    }
}
