.description {
    max-width: 365px;
    margin: 0 auto;
}
.actions::ng-deep .popup-footer {
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.action-button {
    &::ng-deep button {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }

    svg {
        width: 22px;
        height: 22px;

        path {
            stroke: currentColor;
        }
    }
}

.download-link {
    width: 100%;
    min-height: 48px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    font-weight: 600;
    color: var(--accent-color);
    border: 1px solid #5e00cc;
    border-radius: 40px;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;
    border-width: 1px;

    &:hover {
        box-shadow: 0px 4px 10px 0px #00000030;
        background-color: var(--white-color-hover);
    }

    svg {
        width: 22px;
        height: 22px;

        path {
            stroke: currentColor;
        }
    }
}
