<app-popup class="qrcode-popup">
    <app-popup-close-button (close)="onClose()" />
    <app-popup-subtitle> {{ data.popup.title }} </app-popup-subtitle>
    <app-popup-text
        textAlign="center"
        class="description">
        {{ data.popup.subtitle }}
    </app-popup-text>
    <app-qrcode
        [data]="data.link"
        [rounded]="true"
        [accessibleLabel]="data.popup.title"
        [size]="220"
        (qrCodeURL)="onChangeURL($event)" />
    @if (isLoading()) {
        <div class="loading-container">
            <app-spinner />
            <p>Generating the banner...</p>
        </div>
    } @else if (!isFailed()) {
        <app-popup-footer class="actions">
            @if (bannerImage()) {
                <app-primary-button
                    [fullWidth]="true"
                    size="large"
                    class="action-button"
                    (handleClick)="onCopy()">
                    <svg-icon
                        [src]="isCopied() ? 'assets/svg/checked.svg' : 'assets/svg/copy.svg'"
                        class="icon" />
                    {{ isCopied() ? "Copied" : "Copy" }}
                </app-primary-button>
            }
            @if (bannerLink()) {
                <a
                    class="download-link"
                    [href]="bannerLink()"
                    [download]="bannerFileName()"
                    appRippleEffect
                    rippleColor="#6d6d6d24">
                    <svg-icon
                        src="assets/svg/download.svg"
                        class="icon" />
                    Download
                </a>
            }
        </app-popup-footer>
    }
</app-popup>
