<aside [ngClass]="classes">
    <app-container>
        <div class="mobile-app-banner__container">
            <div class="mobile-app-banner__content">
                <h2 class="mobile-app-banner__title">Pulse is the heartbeat of what matters</h2>
                <div class="mobile-app-banner__buttons">
                    <app-get-app-button
                        theme="dark"
                        [isOnePlatform]="false" />
                </div>
            </div>
            <div class="mobile-app-banner__image"></div>
        </div>
    </app-container>
</aside>
