


<svg-icon [src]="'assets/svg/ok-3d.svg'" />

<h1>Your topic has been successfully submitted</h1>

<p>
    We will review your submission to ensure it aligns with our community guidelines. If any further details are needed, we may reach out to you.
</p>
<br>
<p>
    You’ll receive a notification once your topic is approved and live on the map. Thank you for contributing to the conversation and helping make your voice heard!
</p>

<app-primary-button
    [routerLink]="'/'+ routes.User.Topic.SUGGEST"
    [routerLinkActive]="routes.User.Topic.SUGGEST"> 
    Submit Another Topic
</app-primary-button>

 <app-secondary-button
    [routerLink]="'/'+ routes.Landing.HOME"
    [routerLinkActive]="routes.Landing.HOME">    
    Back to Home
 </app-secondary-button>
    


