.spin-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 3px 10px 0px #00000026;
    cursor: pointer;

    .spin-button__icon {
        pointer-events: none;
    }
}