@use "../../../../../../styles/mixins" as *;

.leaderboard-hint {
    position: relative;
    width: 100%;
    padding: 12px 64px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: var(--light-grey-color);

    @include media-sm {
        row-gap: 6px;
        padding: 12px 40px;
    }

    &.leaderboard-hint--active {
        background-color: var(--white-popup);
    }
}

.leaderboard-hint__text {
    text-align: center;

    @include media-sm {
        @include text-14px;
    }
}
.leaderboard-hint__time {
    display: inline-block;
}
.leaderboard-hint__time--day {
    min-width: 87px;
}

.leaderboard-hint__progress {
    width: 100%;
    height: 12px;
    margin: 0 auto;
}

.leaderboard-action {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    @include media-sm {
        right: 4px;
    }

    &::ng-deep {
        .mat-mdc-button {
            min-width: 0;
            --mat-text-button-horizontal-padding: 8px;
            --mdc-text-button-container-height: 32px;
        }
    }
}
