@if (isVisible()) {
    <div
        class="leaderboard-hint"
        [class.leaderboard-hint--active]="timeframeStatus === 'Active'">
        @if (timeframeStatus === "Upcoming") {
            <div class="leaderboard-hint__text">Pulsing hasn't started for this period yet.</div>
        }
        @if (timeframeStatus === "Ended") {
            <div class="leaderboard-hint__text">Pulsing ended for this period.</div>
        }
        @if (timeframeStatus === "Active") {
            <div class="leaderboard-hint__text">
                {{ formatTime(remainingTime()) }} remaining to pulse {{ labels[selectedTimeframe] }}.
            </div>
        }
        @if (timeframeStatus === "Active") {
            <app-progress-bar
                class="leaderboard-hint__progress"
                [percentage]="elapsedTimePercentage()" />
        }
        <app-link-button
            class="leaderboard-action"
            (handleClick)="openInfoPopup()">
            <span class="visualy-hidden">More information</span>
            <svg-icon src="assets/svg/info.svg" />
        </app-link-button>
    </div>
}
