@use '../../../../../styles/mixins' as *;

:host {
    min-height: 320px;
    display: flex;
    align-items: center;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: #F5EFFE;
    background-image: url('/assets/img/ad-banner-bg.png');
    background-repeat: no-repeat;
    background-position: calc(100% + 90px) bottom;
    background-size: 700px;

    @media screen and (max-width: 900px) {
        padding-bottom: 174px;
        background-image: url('/assets/img/ad-banner-bg-sm.png');
        background-position: calc(50% - 22px) bottom;
        background-size: 650px;
    }
}

.add-banner__content {
    width: 100%;
    max-width: 370px;
    margin-left: 80px;

    @include media-lg {
        margin-left: 0;
    }

    @media screen and (max-width: 900px) {
        max-width: 100%;
    }
}

.add-banner__heading {
    @include title-32px;
    margin-bottom: 40px;

    @media screen and (max-width: 900px) {
        text-align: center;
        margin-bottom: 24px;
    }
}

.add-banner__buttons {
    @media screen and (max-width: 900px) {
        display: flex;
        justify-content: center;
    }
}