<div class="pulse__campaign campaign">
    @switch (campaignState) {
        @case (CampaignState.ACTIVE) {
            <div class="campaign__title">🎯 Goal: {{ currentGoalReward }}</div>
            <div class="campaign__progress">
                <div class="campaign__progress-title">Progress</div>
                <div class="campaign__progress-bar">
                    <div
                        [style.width.%]="currentGoalInPercent"
                        class="campaign__progress-bar--line"
                        style="--fill-width: {{ currentGoalInPercent }}%"
                        [class.campaign__progress-bar--not-fulled]="
                            currentGoalInPercent < 100
                        "></div>
                </div>
                <div class="campaign__progress-count">
                    {{ currentGoal }}
                </div>
            </div>
        }
        @case (CampaignState.NOT_STARTED) {
            <div class="campaign__title campaign__title--info">
                {{ campaign.description }}
            </div>
            <div class="campaign__goal">Current Goal: Get {{ currentGoal }}</div>
        }
        @case (CampaignState.COMPLETED_SUCCESS) {
            <div class="campaign__title campaign__title--info">
                {{ campaign.description }}
            </div>
            <div class="campaign__title campaign__title--success">
                Campaign Successfully Completed
            </div>
        }
        @case (CampaignState.COMPLETED_FAIL) {
            <div class="campaign__title campaign__title--info">
                {{ campaign.description }}
            </div>
            <div class="campaign__title campaign__title--fail">Campaign Closed</div>
        }
    }
    <a
        class="campaign__sponsored"
        [href]="campaign.sponsorLink"
        target="_blank"
        (click)="$event.stopPropagation()">
        Sponsored by
        @if (campaign.sponsorLogo) {
            <img
                width="100"
                height="30"
                [src]="campaign.sponsorLogo"
                alt="sponsor logo" />
        } @else {
            <span>
                {{ campaign.sponsoredBy }}
            </span>
        }
    </a>
</div>
