@use "../../../../../../styles/mixins" as *;

.location {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.location__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;

    label {
        @include text-16px;
        color: var(--dark-grey-color); 
    }
}

.location__text {
    @include text-12px;
    color: var(--dark-grey-color); 
}

.location__link-wrap {
    position: relative;
}

.location__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}