.category-filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);

    svg-icon {
        display: flex;
        width: 28px;
        height: 28px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.search-container {
    position: relative;
}

.category-filter-button__icon {
    position: relative;
    top: 2px;
}
.category-filter-button__icon--active {
    svg path {
        fill: var(--accent-color);
    }
}

.category-filter-menu__search {
    padding: 0 44px 0 16px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--black-color);
    font-size: 16px;
    line-height: 48px;
    outline: none;
}

.menu-scroll {
    max-height: 250px;
    overflow-y: auto;
}

.category-filter-menu__clear-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg-icon {
        width: 12px;
        height: 12px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}