@import url('../get-app-popup/get-app-popup.component.scss');

#popup {
    padding: 45px 38px;
    background: white;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0 32px 12px 0;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #111827;
    margin-right: 0;
    width: 100%;
}

h3 {
    margin: 0 0 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    color: #4b5563;
    width: 100%;

    strong {
        display: inline-block;
        margin-bottom: 2px;

        font-weight: 600;
        color: #111827;
    }
}

h4 {
    margin: 0 0 20px;
    color: #6b7280;
    font-size: 14px;
    width: 100%;
}

app-primary-button {
    width: 100%;
}

.location-wrap {
    display: flex;
    align-items: center;
    gap: 16px;

    padding: 16px 20px;
    margin-bottom: 24px;

    border-radius: 16px;
    border: 1px solid #f8f9fb;
    background-color: #f8f9fb;
    width: 100%;

    > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 18px;
    }

    > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    span:nth-child(1) {
        font-size: 13px;
        font-weight: 600;
        color: #111827;
        margin-bottom: 3px;
    }

    span:nth-child(2) {
        font-size: 13px;
        font-weight: 400;
        color: #111827;
    }

    span:nth-child(3) {
        font-size: 12px;
        color: #6b7280;
    }

    svg-icon ::ng-deep svg {
        stroke: #d1d6dd;
    }

    &.location-wrap--success {
        border-color: #bbf7d0;
        background-color: #ecfdf3;

        svg-icon ::ng-deep svg {
            stroke: rgb(34 197 94);
        }
    }
}

.button-title {
    margin-bottom: 8px;

    font-size: 13px;
    font-weight: 500;
    color: #111827;
    width: 100%;
}

.button-subtitle {
    margin-top: 10px;

    font-size: 12px;
    text-align: center;
    color: #6b7280;
}

.you-all-set {
    margin-top: 16px;
    font-size: 14px;
    color: #111827;
    width: 100%;
    font-weight: 500;
}