<app-container>
    <div class="pulses">
        <main class="pulses__main">
            <div class="pulses__header">
                <h1 class="pulses__title">Trending Topics</h1>
                <div class="pulses__search-wrap">
                    <app-input-search
                        class="pulses__search"
                        (handleValueChange)="onSearchValueChange($event)"
                        (handleFocus)="onSearchFocus()"
                        (handleBlur)="onSearchBlur()" />
                    <app-category-filter-menu
                        class="pulses__filter"
                        (selectedCategory)="onCategorySelected($event)" />
                </div>
                @if (selectedCategory) {
                    <div class="pulses__selection">
                        <app-category-filter-selection
                            [category]="selectedCategory"
                            (cancelSelection)="onCategorySelected(null)" />
                    </div>
                }
            </div>
            <div class="pulses__list-wrap">
                @if (isInitialLoading$ | async) {
                    <p class="pulses__loading">
                        <app-loading-indicator />
                    </p>
                }
                <div
                    class="pulses__list"
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="150"
                    (scrolled)="loadMore()">
                    @for (topic of topics$ | async; track topic.id) {
                        <app-trending-topics-list-item
                            [data]="topic"
                            [vote]="(votes$ | async)?.get(topic.id)"
                            *ngIf="(isInitialLoading$ | async) === false" />
                    }
                    @if (isLoadingMore$ | async) {
                        <p class="pulses__loading">
                            <app-loading-indicator />
                        </p>
                    }
                </div>
            </div>
        </main>
    </div>
</app-container>
