@use '../../../../../styles/mixins'as *;


:host {
    display: flex;
    justify-content: center;
    padding: 0 20px 48px 20px;
}

.wrap {
    background: linear-gradient(267.31deg,
            rgba(119, 0, 238, 0.04) 1.01%,
            rgba(119, 0, 238, 0.04) 99.02%);

    border-radius: 20px;
    max-width: 1030px;
    width: 100%;

    padding: 48px 50px;

    &__large-pulses {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__loading {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

h1 {
    @include title-32px;
    margin-bottom: 24px;
}

@media screen and (max-width: 650px) {


    :host {
        display: flex;
        justify-content: center;
        padding: 0px
    }


    .wrap {
        padding: 24px 20px 48px 20px;
        border-radius: 0px;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        margin-bottom: 16px;
    }
}