@use "../../../../../styles/mixins" as *;

.pulses {
    --padding: 20px;
    max-width: calc(676px + var(--padding) * 2);
    padding: var(--padding) 0;
    margin: 0 auto;
}
.pulses__header {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.pulses__title {
    @include title-32px;
}
.pulses__search-wrap {
    display: flex;
    column-gap: 16px;
}
.pulses__search {
    flex-grow: 1;
}
.pulses__filter {
    flex-shrink: 0;
}
.pulses__selection {
    display: flex;
}
.pulses__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pulses__list-wrap {
    margin-top: 24px;
}

.pulses__loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulses__empty-list {
    margin-top: 48px;
}