@use "../../../../../styles/mixins" as *;

.pulses {
    --padding: 20px;
    max-width: calc(676px + var(--padding) * 2);
    padding: var(--padding) 0;
    margin: 0 auto;
}
.pulses__header {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.pulses__title-wrap {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.pulses__title {
    @include title-32px;
    flex: 1;
}

.pulses__add-topic-button {
    flex-shrink: 0;
}
.add-topic-button {
    width: 160px;
    @include media-md {
        width: auto;
    }
}
.add-topic-button--desktop {
    @include media-md {
        display: none;
    }
}
.add-topic-button--mobile {
    display: none;
    @include media-md {
        display: block;
    }
}
.add-topic-button__icon {
    width: 24px;
    height: 24px;
    color: var(--white-color);

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: currentColor;
        }
    }
}

.pulses__search-wrap {
    display: flex;
    column-gap: 12px;
}
.pulses__search {
    flex-grow: 1;
}
.pulses__filter {
    flex-shrink: 0;
}
.pulses__selection {
    display: flex;
}
.pulses__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pulses__list-wrap {
    margin-top: 24px;
}

.pulses__loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulses__empty-list {
    margin-top: 32px;
}
.pulses__error-text {
    text-align: center;
    color: var(--dark-grey-color);
}