<app-container>
    <div class="pulses">
        <main class="pulses__main">
            <div class="pulses__header">
                <h1>Trending Topics</h1>
                <app-category-filter
                    class="pulses__filter"
                    (selectedCategory)="onCategorySelected($event)" />
                <div class="pulses__search-wrap">
                    <app-input-search
                        class="tpulses__search"
                        [isLoading]="(searchInFocus && (loading$ | async)) || false"
                        (handleValueChange)="onSearchValueChange($event)"
                        (focus)="onSearchFocus()"
                        (blur)="onSearchBlur()" />
                    <a
                        [routerLink]="addTopicRoute"
                        class="add-topic-button">
                        <svg-icon
                            src="assets/svg/add.svg"
                            style="height: 22px" />
                    </a>
                </div>
            </div>
            <div class="pulses__list-wrap">
                <app-spinner *ngIf="loading$ | async" />
                <div
                    class="pulses__list"
                    *ngIf="paginator$ | async as paginator"
                    infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="150"
                    (scrolled)="loadMore(paginator)">
                    @for (topic of paginator.items; track topic.id) {
                    <app-trending-topics-list-item
                        [data]="topic"
                        [vote]="(votes$ | async)?.get(topic.id)" />
                    }
                    <p
                        class="pulses__loading"
                        *ngIf="loading$ | async">
                        <app-loading-indicator />
                    </p>
                </div>
            </div>
        </main>
        <aside class="pulses__aside">
            <app-promote-ads />
            <app-leaderboard />
        </aside>
    </div>
</app-container>
