@use "../../../../../styles/mixins" as *;

.pulses {
    display: grid;
    grid-template-columns: 1fr 324px;
    grid-column-gap: 30px;
    padding: 20px 0;

    @include media-xl {
        max-width: 676px;
        margin: 0 auto;
        grid-template-columns: 100%;
    }
}
.pulses__header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @include media-md {
        grid-template-columns: 1fr 1fr auto;
    }
    @include media-sm {
        grid-template-columns: 1fr auto;
    }

    h1 {
        @include title-32px;

        @include media-md {
            grid-column: 1 / 4;
        }
        @include media-sm {
            grid-column: 1 / 3;
        }
    }
}
.pulses__filter {
    width: 300px;

    @include media-md {
        width: 100%;
    }
    @include media-sm {
        grid-column: 1 / 3;
    }
}
.pulses__search-wrap {
    display: flex;
    column-gap: 16px;
    grid-column: 1 / 3;

    @include media-md {
        display: contents;
        grid-column: unset;
    }
}
.pulses__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pulses__list-wrap {
    margin-top: 30px;
}

.pulses__loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-topic-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 48px;
    height: 48px;
    min-width: 48px;

    background-color: var(--accent-color);

    border-radius: 50%;

    outline: none;
    border: none;

    cursor: pointer;
}

.pulses__aside {
    @include media-xl {
        display: none;
    }
}
