@use "../../../../../../styles/mixins" as *;

:host {
    display: block;
    width: 100%;
}

.leaderboard-item {
    padding: 16px 0;
    &::ng-deep {
        .card-wrap {
            padding: 0 16px;
        }
    }
}

.leaderboard-item__icon {
    position: relative;
}

.leaderboard-item__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: var(--light-grey-color);
    padding: 2px;
}

.card-heading-title {
    &::ng-deep {
        .card-title {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.card-heading-meta {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-top: 6px;

    &::ng-deep {
        .card-meta-text {
            @include text-12px;
        }
    }
}

.meta-icon-wrap {
    position: relative;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-light-color);
    border-radius: 50%;

    svg {
        width: 16px;
        height: 16px;
    }

    .card-footer-icon {
        filter: none;
    }
}
