@use "../../../../../../styles/mixins" as mixins;

:host {
    --button-width: 220px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    row-gap: 16px;

    @include mixins.media-sm {
        align-items: flex-start;
    }

    @include mixins.media-xs {
        --button-width: 144px;
    }
}

.leaderboard-filters__select,
.leaderboard-header__datepicker {
    min-width: var(--button-width);
}

.leaderboard-filters__select {
    @include mixins.media-xs {
        &::ng-deep {
            .mat-mdc-select-trigger {
                font-size: 14px;
            }
        }
    }
}

.leaderboard-header__datepicker {
    @include mixins.media-xs {
        flex-grow: 1;

        &::ng-deep {
            button {
                font-size: 14px;
            }
        }
    }
}
