:host {
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0px 3px 20px 0px #0000001f;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0px 3px 20px 0px #00000036;
    }
}