<div class="user-info-popup">
    <app-close-button
        class="user-info-popup__close"
        (handleClick)="onCloseDialog()" />

    <h2>Complete Your Profile</h2>
    <p>Welcome! Please enter your name and choose a username to continue.</p>

    <form
        [formGroup]="form"
        class="user-info-form"
        (ngSubmit)="submit()">
        <div class="user-info-form__field">
            <app-input
                type="text"
                id="name"
                name="name"
                autocomplete="name"
                formControlName="name"
                label="Name"
                [hasErrorClass]="!!(form.get('name')?.touched && form.get('name')?.invalid)"
                (emitBlur)="onBlur('name')" />
            <div *ngIf="form.get('name')?.touched && getErrorMessage('name') as error">
                <span>{{ error }}</span>
            </div>
        </div>

        <div class="user-info-form__field">
            <app-input
                autocomplete="off"
                type="text"
                id="username"
                name="username"
                formControlName="username"
                label="Username"
                [hasErrorClass]="!!(form.get('username')?.touched && form.get('username')?.invalid)"
                (emitBlur)="onBlur('username')" />
            <div *ngIf="form.get('username')?.touched && getErrorMessage('username') as error">
                <span>{{ error }}</span>
            </div>
        </div>
        <div
            *ngIf="errorMessage"
            class="user-info-form__error">
            {{ errorMessage }}
        </div>
        <div class="user-info-form__submit">
            <app-primary-button
                type="submit"
                [fullWidth]="true"
                [disabled]="form.invalid || loading"
                [loading]="loading">
                Save
            </app-primary-button>
        </div>
    </form>
</div>
