<app-popup>
    <app-popup-close-button (close)="onCloseDialog()" />
    <app-popup-title>Location not Accessible</app-popup-title>
    <app-popup-text>
        We couldn't determine your device's location or the accuracy is too low - a valid location is required to send a pulse for this topic.
    </app-popup-text>
    <app-popup-text>
        If your browser is unable to grant location, you can use the PulseUp mobile app.
    </app-popup-text>
    <app-popup-footer>
        <app-get-app-button
            [design]="'new'"
            [isOnePlatform]="true" />
    </app-popup-footer>
</app-popup>
