@use "../../../../../../styles/mixins" as *;

:host {
    display: block;
}

.calendar-header__back-wrap {
    padding: 8px 8px 0;
}

.calendar-header__back {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 12px;

    span {
        padding: 0 8px;
        text-align: center;
        @include link-16px;
    }
}