@use "../../../../../../styles/mixins" as *;

.link-button {
    @include link-16px;

    &::ng-deep {
        --mdc-text-button-label-text-color: var(--accent-color);
        --mat-text-button-state-layer-color: var(--accent-color);
    }
}
