<app-auth-layout>
    <main class="signin__main">
        <svg-icon
            src="assets/svg/logo.svg"
            aria-label="pulseup" />
        <div class="signin__content">
            <h1 class="signin__title">Join the Movement</h1>
            <app-popup-text textAlign="center">
                We use phone number to verify that every support is from a real human. 
                <a
                    class="auth-tooltip"
                    matTooltipClass="auth-form__tooltip"
                    (click)="authService.showLearnMorePopUp()">
                    Learn more
                </a>
            </app-popup-text>
            <app-auth-form (submitForm)="navigateToConfirmPage()" />
            <app-auth-disclaimer />
        </div>
        <app-link-button
            class="signin__guest"
            (handleClick)="onClickGuest()">
            View the map
        </app-link-button>
    </main>
</app-auth-layout>
