<ng-container *ngIf="href; else buttonTemplate">
    <a
        [ngClass]="classes"
        [href]="disabled ? null : href"
        [attr.aria-disabled]="disabled"
        (click)="onClick($event)"
        appRippleEffect
        [target]="target"
        [ngStyle]="color ? { 'background-color': color } : {}">
        <ng-container *ngTemplateOutlet="linkTemplate"></ng-container>
    </a>
</ng-container>

<ng-template #buttonTemplate>
    <button
        [ngClass]="classes"
        [type]="type"
        [disabled]="disabled"
        (click)="onClick($event)"
        appRippleEffect
        [ngStyle]="color ? { 'background-color': color } : {}">
        @if (loading) {
            <mat-spinner color="white" diameter="20" class="primary-button__spinner"/>
        } @else {
            <ng-container *ngTemplateOutlet="linkTemplate" />
        }
    </button>
</ng-template>

<ng-template #linkTemplate>
    <ng-content></ng-content>
</ng-template>
