.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 40px;

    padding: 12px 16px;
    user-select: none;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 500;
    box-shadow: 0px 4px 10px 0px #0000001A;
    width: max-content;

    font-size: 16px;

    transition: all .2s;

    &:disabled {
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        box-shadow: 0px 4px 10px 0px #00000037;
        background-color: var(--accent-color-hover);
    }

    &:not(:disabled):active {
        background-color: var(--active-accent-color)
    }

    &.disabled,
    &:disabled {
        opacity: 0.3;
    }

    &.full-width {
        width: 100%;
    }
}