<app-map
    (mapLoaded)="onMapLoaded($event)"
    [markers]="{
        enabled: true,
        showTooltip: true,
    }"
    [zoom]="zoom"
    [minZoom]="minZoom"
    [maxBounds]="maxBounds"
    [center]="center"
    (markerClick)="onMarkerClick($event)"
    (zoomEnd)="onZoomEnd($event)">
    <ng-container *ngIf="map">
        <app-map-hexagons-layer
            [map]="map"
            [category$]="selectedCategory$" />
        <app-map-heatmap-layer [map]="map" />
    </ng-container>
</app-map>

<ng-container *ngIf="map">
    <app-map-controls>
        <app-map-zoom-controls [map]="map" />
    </app-map-controls>
</ng-container>

<div class="categories">
    <app-category-filter-menu
        class="category-filter-menu"
        (selectedCategory)="onSelectedCategory($event)" />
    <ng-container *ngIf="selectedCategory$ | async as selectedCategory">
        <div class="categories__selected">
            {{ selectedCategory.name }}
            <button (click)="onSelectedCategory(null)">
                <svg-icon src="assets/svg/close.svg" />
                <span class="visualy-hidden">Cancel selection</span>
            </button>
        </div>
    </ng-container>
</div>
