<!-- <app-map
    [isHideDebugger]="true"
    [isSearch]="false"
    [isLocationName]="false"
    [isZoomButton]="true"
    [zoom]="zoom"
    [minZoom]="minZoom"
    [maxBounds]="maxBounds"
    [center]="center"
    [isToShowTooltip]="true"
    (markerClick)="onMarkerClick($event)" 
    (zoomEnd)="onZoomEnd($event)" /> -->

<app-map
    (mapLoaded)="onMapLoaded($event)"
    [markers]="{
      enabled: true,
      showTooltip: true,
    }"
    [zoom]="zoom"
    [minZoom]="minZoom"
    [maxBounds]="maxBounds"
    [center]="center"
    (markerClick)="onMarkerClick($event)"
    (zoomEnd)="onZoomEnd($event)">
    <ng-container *ngIf="map">
        <app-map-hexagons-layer
            [map]="map"
            [category$]="selectedCategory$" />
        <app-map-heatmap-layer [map]="map" />
    </ng-container>
</app-map>

<ng-container *ngIf="map">
    <app-map-controls>
        <app-map-zoom-controls [map]="map" />
    </app-map-controls>
</ng-container>

<div class="categories">
    <app-category-filter-select
        class="category-filter-select"
        (selectedCategory)="onSelectedCategory($event)" />
    <app-category-filter-menu
        class="category-filter-menu"
        (selectedCategory)="onSelectedCategory($event)" />
</div>
