<div class="map-page">
    <div
        [class]="switchClasses"
        *ngIf="isProjectionToogleVisible">
        <app-switch
            [label]="{
                right: 'Globe'
            }"
            [color]="switchColor"
            [checked]="isGlobe"
            (change)="onSwitchChange($event)" />
    </div>
    @if (projection === "globe") {
    <app-globe-map
        (markerClick)="onMarkerClick($event)"
        (zoomEnd)="onZoomEnd($event)" />
    } @else {
    <app-mercator-map
        (markerClick)="onMarkerClick($event)"
        (zoomEnd)="onZoomEnd($event)" />
    }
</div>
