@use "../../../../../../styles/mixins" as *;

:host {
    --timing-function: cubic-bezier(0.24, 0.569, 0.087, 0.984);
    --duration-long: 0.8s;
    --duration-short: 0.15s;

    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pulse-button-wrap {
    position: relative;
    flex-grow: 1;
}

.pulse-button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    &::ng-deep {
        .primary-button {
            transition:
                background-color var(--duration-long) ease-in-out,
                width var(--duration-long) var(--timing-function);

            &:disabled {
                opacity: 1;
                cursor: auto;
            }
        }
    }
}

.pulse-button__inner {
    position: relative;
    width: 100%;
    padding: 0 32px;
}

.pulse-button__text {
    transition: opacity 0.2s ease-in-out;
}

.pulse-button__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: right var(--duration-long) var(--timing-function);

    svg-icon {
        display: flex;
        width: 26px;
        height: 30px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.pulse-button--voting {
    .pulse-button__icon {
        right: calc(50% - 12px);
    }
    .pulse-button__text {
        opacity: 0;
    }
    &::ng-deep {
        .primary-button {
            background-color: var(--purple-color);
        }
    }
}

.pulse-button--success {
    opacity: 0;
    transition: opacity var(--duration-short) ease-in-out;
}

@keyframes pulsing-ring {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 0;
    }
}

.pulse-button:disabled {
    ::ng-deep .primary-button {
        cursor: not-allowed;

        svg-icon {
            opacity: 0;
        }
    }
}

.active-pulse-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 480px;
    opacity: 0;
    z-index: -1;
    transition: opacity var(--duration-short) ease-in-out;
    transition-delay: var(--duration-long);
}
.active-pulse-info--visible {
    opacity: 1;
    z-index: 1;
}

.active-pulse-info--visible {
    ::ng-deep {
        .active-pulse-info__icon:first-child path {
            fill: #00c105;
        }
    }

    .active-pulse-info__text {
        &--active {
            color: #00c105;
            font-weight: 500;
        }
    }
}

.active-pulse-info {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    border: 1px solid var(--accent-color);
    border-radius: 48px;
}

.active-pulse-info__text {
    @include text-14px;
}

.active-pulse-info__text--grey {
    color: var(--dark-grey-color);
}
