@let userVotes = votes();
@let userVote = userVotes ? userVotes[0] : null;

<div class="pulse-button-wrap">
    <app-primary-button
        size="large"
        [fullWidth]="true"
        class="pulse-button"
        [class.pulse-button--voting]="isAnimating$ | async"
        [class.pulse-button--success]="isActiveVote()"
        [disabled]="(isAnimating$ | async) || !!isActiveVote()"
        (handleClick)="onClick()">
        <span class="pulse-button__inner">
            <span class="pulse-button__text"> Tap to Pulse </span>
            <span class="pulse-button__icon">
                @if (isActiveVote() || (isAnimating$ | async)) {
                <svg-icon
                    appWavesAnimation
                    src="assets/svg/logo/logo-v2.svg" />
                } @else {
                <svg-icon src="assets/svg/logo/logo-v2.svg" />
                }
            </span>
        </span>
    </app-primary-button>
    @if (userVote && isActiveVote()) {
    <div
        class="active-pulse-info"
        [class.active-pulse-info--visible]="isActiveVote()">
        <div class="active-pulse-info__icon">
            <svg-icon src="assets/svg/checked-circle.svg" />
        </div>
        <div class="active-pulse-info__text active-pulse-info__text--active">
            Pulse active for
            <app-vote-time-left
                [vote]="userVote"
                (expired)="onVoteExpired()" />
        </div>
        <div class="active-pulse-info__icon">
            <svg-icon src="assets/svg/pin.svg" />
        </div>
        <div class="active-pulse-info__text active-pulse-info__text--grey">{{ lastVoteInfo() }}</div>
    </div>
    }
</div>
