@use "../../../../../../styles/mixins" as *;

:host {
  --color: var(--dark-grey-color);
  display: flex;
  align-items: center;
  column-gap: 4px;

  &.accent {
    --color: var(--accent-color);
  }
}

.card-metric-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: var(--color);
    }
  }
}

.card-metric-text {
  @include text-12px;
  font-weight: 600;
  color: var(--color);
  text-transform: uppercase;
}
