@use "../../../../../styles/mixins" as *;

:host {
    display: grid;
    height: 100%;

    app-container {
        display: grid;
        height: 100%;
        padding-bottom: 32px;

        @media screen and (max-width: 820px) {
            padding-bottom: 0;
        }
    }
}

.profile-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile {
    height: 100%;
    padding: 48px;
    border-radius: 20px;
    background: linear-gradient(
        267.31deg,
        rgba(119, 0, 238, 0.04) 1.01%,
        rgba(119, 0, 238, 0.04) 99.02%
    );

    @media screen and (max-width: 820px) {
        border-radius: 0px;
    }
    @include media-sm {
        padding: 20px 16px;
    }
}

.profile__container {
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.profile__title {
    @include title-32px;
    margin-bottom: 24px;
}
