:host {
    width: 100%;
    height: 100%;
}
.location {
    position: relative;
    width: 100%;
    height: 100%;
}

.location__search {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}