<div class="location">
    <app-map
        [isHideDebugger]="true"
        [isSearch]="false"
        [isLocationName]="false"
        [isZoomButton]="false"
        [isToShowTooltip]="false"
        [isToShowMarkers]="false"
        [isToShowWeights]="false"
        [isToShowHeatmap]="false"
        [isPreview]="true"
        [zoom]="[2.8]"
        [minZoom]="2.8"
        [isRounded]="true"
        (mapLoaded)="onMapLoaded($event)" />
    <div class="location__search">
        <app-places-autocomplete (locationSelected)="onLocationSelected($event)" />
    </div>
    <div *ngIf="selectedLocation" class="location__confirm">
        <app-primary-button
            [fullWidth]="true"
            (click)="onConfirmLocation()">
            Confirm Location
        </app-primary-button>
    </div>
</div>
