<div class="location">
    <app-map
        [isHideDebugger]="true"
        [isSearch]="false"
        [isLocationName]="false"
        [isZoomButton]="false"
        [isToShowTooltip]="false"
        [isToShowMarkers]="false"
        [isToShowWeights]="false"
        [isToShowHeatmap]="false"
        [isPreview]="true"
        [zoom]="[2.8]"
        [minZoom]="2.8"
        [isRounded]="true"
        (mapLoaded)="onMapLoaded($event)" />
    <!-- <div class="location__search">
        <app-places-autocomplete
            [initialValue]="(selectedLocationName$ | async) || ''"
            (selectLocation)="onLocationSelected($event)" />
    </div> -->
    <div
        *ngIf="selectedLocation$ | async"
        class="location__confirm">
        <app-primary-button
            [fullWidth]="true"
            (click)="onConfirmLocation()">
            Confirm Location
        </app-primary-button>
    </div>
    <div
        *ngIf="!(isMyPositionSelected$ | async)"
        class="location__my-position">
        <button
            flatButton
            appRippleEffect
            rippleColor="rgba(94, 0, 204, 0.35)"
            (click)="getMyPosition()">
            <svg-icon src="assets/svg/my-location.svg" />
        </button>
    </div>
    <div
        *ngIf="isGeolocationRequestInProgress$ | async"
        class="location__loading">
        <app-spinner />
    </div>
</div>
