:host {
    width: 100%;
    height: 100%;
}
.location {
    position: relative;
    width: 100%;
    height: 100%;
}

.location__search {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
}

.location__confirm {
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.location__my-position {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;

    &::ng-deep {
        svg {
            width: 100%;
            height: 100%;
            fill: var(--accent-color);
        }
    }
}