.card-heading {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.card-footer__group {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.card-footer-icon-wrap {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#8386a5, 0.2);
    border-radius: 50%;

    &.card-footer-icon-wrap--active {
        background-color: var(--accent-light-color);

        .card-footer-icon {
            filter: none;
        }
    }
}

.card-footer-icon {
    width: 24px;
    height: 24px;
    filter: grayscale(1);
    svg {
        width: 100%;
        height: 100%;
    }
}

.card-footer__socials {
    display: flex;
    column-gap: 12px;
}
