@let topic = data();
@let severity = topicExpirationSeverity();

@if (topic) {
    <app-large-pulse
        [pulse]="topic"
        [showArrow]="false">
        <div
            ngProjectAs="card-heading"
            class="card-heading">
            <app-large-pulse-title>
                {{ topic.title }}
            </app-large-pulse-title>
            <app-large-pulse-meta
                [text]="topic.author.name"
                label="author" />
        </div>
        <app-large-pulse-picture
            ngProjectAs="card-body"
            [src]="topicPicture()"
            [alt]="topic.title" />
        <div
            class="card-footer"
            ngProjectAs="card-footer">
            <div class="card-footer__group">
                <app-topic-share-menu [content]="menuContent">
                    <ng-container>
                        <svg-icon
                            src="assets/svg/icon_share.svg"
                            ariaLabel="share icon" />
                        <span class="visualy-hidden">Share topic</span>
                    </ng-container>
                </app-topic-share-menu>
                <app-copy-topic-button
                    *ngIf="topicUrl() as topicUrl"
                    [topicUrl]="topicUrl" />
            </div>
            <div class="card-footer__group">
                @if (severity) {
                    <app-large-pulse-expiration-indicator [severity]="severity" />
                }
                @if (isVoteActive()) {
                    <app-large-pulse-metric
                        [text]="topic.stats?.lastDayVotes || 0 | formatNumber"
                        [accent]="true">
                        <div class="card-footer-icon-wrap card-footer-icon-wrap--active">
                            <svg-icon
                                appWavesAnimation
                                src="assets/svg/logo/logo-v2.svg"
                                ariaLabel="pulse icon"
                                class="card-footer-icon" />
                        </div>
                    </app-large-pulse-metric>
                } @else {
                    <app-large-pulse-vote-button [topic]="topic" />
                }
            </div>
        </div>
    </app-large-pulse>
}

<ng-template #menuContent>
    <div class="card-footer__socials">
        <ng-container *ngIf="topicUrl() as topicUrl">
            <app-socials-button
                [variant]="'facebook'"
                [url]="topicUrl" />
            <app-socials-button
                [variant]="'x'"
                [url]="topicUrl" />
            <app-socials-button
                [variant]="'email'"
                [url]="topicUrl" />
            <app-qrcode-button
                [link]="topicUrl"
                popupTitle="Topic QR code"
                [popupSubtitle]="qrCodePopupText()"
                [bannerTitle]="qrCodeBannerTitle()"
                [bannerSubtitle]="qrCodeBannerSubtitle()"
                [bannerIcon]="qrCodeBannerIcon()" />
        </ng-container>
    </div>
</ng-template>
