@use "../../../../../../../styles/mixins" as *;

h2 {
    @include title-32px;
    text-align: center;
    margin-bottom: 24px;
}

.pulses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.pulses__button {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    app-secondary-button  {
        width: 100%;
        max-width: 200px;

        @include media-xs {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    h2 {
        @include title-20px;
        margin-bottom: 16px;
    }

    .pulses {
        gap: 16px;
    }
}

@media screen and (max-width: 1080px) {
    .pulses {
        flex-direction: column;
    }
}
